src/flows/FS_Assign_Territory_Based_on_User_Custom_Setting-10.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>If User.Custom Setting Territory is valid and user is having Sales Rep role</label>
        </rules>
    </decisions>
    <description>Assign Territory,Zone and Region to account based on user custom setting</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Setup.FS_User_Territory__c.Region__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_Region_c</name>
        <dataType>String</dataType>
        <expression>$Setup.FS_User_Territory__c.Region__c</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Setup.FS_User_Territory__c.Territory__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_Territory_c</name>
        <dataType>String</dataType>
        <expression>$Setup.FS_User_Territory__c.Territory__c</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Setup.FS_User_Territory__c.Zone__c 
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_Zone_c</name>
        <dataType>String</dataType>
        <expression>$Setup.FS_User_Territory__c.Zone__c</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(OR($Setup.FS_User_Territory__c.Territory__c = &apos;54100 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;54200 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;55000 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;55020 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;55035 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;55040 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;55045 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;56025 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;59020 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;59025 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;59045 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;89010 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;89015 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;89020 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;55015 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;55030 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;59000 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;59015 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;59040 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;53000 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;53010 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;53015 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;53020 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;59005 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;89100 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;10500 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;59010 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;82100 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;82200 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;10100 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;55005 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;56005 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;56015 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;56020 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;10610 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;10620 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;10600 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;10800 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;56010 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;10007 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;10200 Sales Rep&apos;),
contains([Account].Owner.UserRole.Name,&apos;Sales Rep&apos;),[Account].RecordType.Name=&apos;Operator&apos;)



</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(OR($Setup.FS_User_Territory__c.Territory__c = &apos;54100 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;54200 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;55000 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;55020 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;55035 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;55040 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;55045 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;56025 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;59020 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;59025 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;59045 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;89010 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;89015 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;89020 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;55015 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;55030 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;59000 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;59015 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;59040 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;53000 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;53010 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;53015 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;53020 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;59005 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;89100 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;10500 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;59010 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;82100 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;82200 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;10100 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;55005 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;56005 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;56015 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;56020 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;10610 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;10620 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;10600 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;10800 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;56010 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;10007 Sales Rep&apos;,$Setup.FS_User_Territory__c.Territory__c = &apos;10200 Sales Rep&apos;),
contains({!myVariable_current.Owner.UserRole.Name},&apos;Sales Rep&apos;),{!myVariable_current.RecordType.Name}=&apos;Operator&apos;)</expression>
    </formulas>
    <interviewLabel>FS_Assign_Territory_Based_on_User_Custom_Setting-10_Account</interviewLabel>
    <label>FS Assign Territory Based on User Custom Setting</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Territory on Account to X</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>NFS Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Region__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_Region_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>NFS Territory</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Territory__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_Territory_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>NFS Zone</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Zone__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_Zone_c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
