src/flows/ICB_Assign_Sales_Area_Event-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Has_Sales_Area</name>
        <label>Has Sales Area?</label>
        <locationX>294</locationX>
        <locationY>76</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sbjEvent.ICB_Sales_Area__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sbjEvent.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>strRecordTypeICB</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Territory</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>ICB Assign Sales Area on Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ICB Assign Sales Area on Event</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_Record_Type</name>
        <label>Retrieve Record Type</label>
        <locationX>109</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Sales_Area</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ICB_IceCreamVisit</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>strRecordTypeICB</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Sales_Area</name>
        <label>Retrieve Sales Area</label>
        <locationX>669</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Event</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sbjEvent.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sbjTerritory.Id</elementReference>
            </value>
        </filters>
        <object>Sales_Area__c</object>
        <outputReference>sbjSalesArea</outputReference>
        <queriedFields>External_Key__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Territory</name>
        <label>Retrieve Territory</label>
        <locationX>492</locationX>
        <locationY>79</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Sales_Area</targetReference>
        </connector>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sbjEvent.OwnerId</elementReference>
            </value>
        </filters>
        <object>Territory__c</object>
        <outputReference>sbjTerritory</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Event</name>
        <label>Update Event</label>
        <locationX>860</locationX>
        <locationY>79</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sbjEvent.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICB_Sales_Area__c</field>
            <value>
                <elementReference>sbjSalesArea.External_Key__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <startElementReference>Retrieve_Record_Type</startElementReference>
    <variables>
        <name>sbjEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>sbjSalesArea</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Area__c</objectType>
    </variables>
    <variables>
        <name>sbjTerritory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory__c</objectType>
    </variables>
    <variables>
        <name>strRecordTypeICB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
