src/flows/IPM_Notify_Regional_Rollout_Project_Created-9.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;&lt;div&gt;&lt;div&gt;@[{![IPM_Project__c].IPM_Project_Leader__c.Id}] {![IPM_Project__c].IPM_Parent_Project__c.IPM_Project_Name__c} Charter has been approved. Since {![IPM_Project__c].Market_Cluster_Name__c} &amp;nbsp;is included in the Global project scope the Regional Rollout {![IPM_Project__c].IPM_Project_Name__c} has been automatically created in Feasibility Phase in IPM Navigator.&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;&lt;div&gt;{![IPM_Project__c].IPM_Project_Name__c}&amp;nbsp;&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;&lt;div&gt;Project Leader : {![IPM_Project__c].IPM_Project_Leader__c.FirstName} {![IPM_Project__c].IPM_Project_Leader__c.LastName}&amp;nbsp;&lt;/div&gt;&lt;div&gt;Finance Member :&lt;/div&gt;&lt;div&gt;Category : {![IPM_Project__c].IPM_Category__c}&lt;/div&gt;&lt;div&gt;Brand : {![IPM_Project__c].IPM_Brand_Positioning__c}&amp;nbsp;&lt;/div&gt;&lt;div&gt;Activity Description : {![IPM_Project__c].IPM_Project_Description__c}&amp;nbsp;&lt;/div&gt;&lt;div&gt;Planned Global Contract Gate : {![IPM_Project__c].IPM_Parent_Project__c.Planned_Global_Contract_Date__c}&amp;nbsp;&lt;/div&gt;&lt;div&gt;Target Launch Date : {![IPM_Project__c].IPM_Target_Launch_Dates__c}&amp;nbsp;&lt;/div&gt;&lt;div&gt;Phase : Feasibility Phase&amp;nbsp;&lt;/div&gt;&lt;/div&gt;&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Post to Regional Leader on rollout creation</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!myVariable_current.IPM_Project_Leader__r.Id}] {!myVariable_current.IPM_Parent_Project__r.IPM_Project_Name__c} Charter has been approved. Since {!myVariable_current.Market_Cluster_Name__c}  is included in the Global project scope the Regional Rollout {!myVariable_current.IPM_Project_Name__c} has been automatically created in Feasibility Phase in IPM Navigator.

{!myVariable_current.IPM_Project_Name__c} 
Project Leader : {!myVariable_current.IPM_Project_Leader__r.FirstName} {!myVariable_current.IPM_Project_Leader__r.LastName} Finance Member :Category : {!myVariable_current.IPM_Category__c}Brand : {!myVariable_current.IPM_Brand_Positioning__c} Activity Description : {!myVariable_current.IPM_Project_Description__c} Planned Global Contract Gate : {!myVariable_current.IPM_Parent_Project__r.Planned_Global_Contract_Date__c} Target Launch Date : {!myVariable_current.IPM_Target_Launch_Dates__c} Phase : Feasibility Phase </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;&lt;div&gt;&lt;div&gt;@[{![IPM_Project__c].IPM_Project_Leader__c.Id}] {![IPM_Project__c].IPM_Parent_Project__c.IPM_Project_Name__c} Charter has been approved. Since {![IPM_Project__c].Market_Cluster_Name__c} &amp;nbsp;is included in the Global project scope the Regional Rollout {![IPM_Project__c].IPM_Project_Name__c} has been automatically created in Feasibility Phase in IPM Navigator.&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;&lt;div&gt;{![IPM_Project__c].IPM_Project_Name__c}&amp;nbsp;&lt;/div&gt;&lt;div&gt;Project Leader : {![IPM_Project__c].IPM_Project_Leader__c.FirstName} {![IPM_Project__c].IPM_Project_Leader__c.LastName}&amp;nbsp;&lt;/div&gt;&lt;div&gt;Finance Member : {![IPM_Project__c].IPM_Finance_Member__c.FirstName} {![IPM_Project__c].IPM_Finance_Member__c.LastName}&amp;nbsp;&lt;/div&gt;&lt;div&gt;Category : {![IPM_Project__c].IPM_Category__c}&lt;/div&gt;&lt;div&gt;Brand : {![IPM_Project__c].IPM_Brand_Positioning__c}&amp;nbsp;&lt;/div&gt;&lt;div&gt;Activity Description : {![IPM_Project__c].IPM_Project_Description__c}&amp;nbsp;&lt;/div&gt;&lt;div&gt;Planned Global Contract Gate : {![IPM_Project__c].IPM_Parent_Project__c.Planned_Global_Contract_Date__c}&amp;nbsp;&lt;/div&gt;&lt;div&gt;Target Launch Date : {![IPM_Project__c].IPM_Target_Launch_Dates__c}&amp;nbsp;&lt;/div&gt;&lt;div&gt;Phase : Feasibility Phase&amp;nbsp;&lt;/div&gt;&lt;/div&gt;&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_2_A1</name>
        <label>Post to Regional Leader on rollout project creation</label>
        <locationX>200</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!myVariable_current.IPM_Project_Leader__r.Id}] {!myVariable_current.IPM_Parent_Project__r.IPM_Project_Name__c} Charter has been approved. Since {!myVariable_current.Market_Cluster_Name__c}  is included in the Global project scope the Regional Rollout {!myVariable_current.IPM_Project_Name__c} has been automatically created in Feasibility Phase in IPM Navigator.

{!myVariable_current.IPM_Project_Name__c} Project Leader : {!myVariable_current.IPM_Project_Leader__r.FirstName} {!myVariable_current.IPM_Project_Leader__r.LastName} Finance Member : {!myVariable_current.IPM_Finance_Member__r.FirstName} {!myVariable_current.IPM_Finance_Member__r.LastName} Category : {!myVariable_current.IPM_Category__c}Brand : {!myVariable_current.IPM_Brand_Positioning__c} Activity Description : {!myVariable_current.IPM_Project_Description__c} Planned Global Contract Gate : {!myVariable_current.IPM_Parent_Project__r.Planned_Global_Contract_Date__c} Target Launch Date : {!myVariable_current.IPM_Target_Launch_Dates__c} Phase : Feasibility Phase </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>myDecision</name>
        <label>Primary Decision</label>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.IPMProject_Span__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.IPM_Project_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rollout</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.IPM_Is_Finance_Member_Null__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Regional project with no financial member</label>
        </rules>
        <rules>
            <name>myRule_2</name>
            <conditionLogic>1 AND 2 AND 7 AND 3 AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.IPM_Project_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rollout</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.IPMProject_Span__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>GlobalConstant</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.IPM_Finance_Member__r.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>GlobalConstant</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.IPM_Finance_Member__r.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>GlobalConstant</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.IPM_Finance_Member__r.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>GlobalConstant</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.IPM_Finance_Member__r.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>GlobalConstant</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.IPM_Finance_Member__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>myRule_2_A1</targetReference>
            </connector>
            <label>Regional project with finance member not null</label>
        </rules>
    </decisions>
    <interviewLabel>IPM_Notify_Regional_Rollout_Project_Created-9_IPM_Project__c</interviewLabel>
    <label>IPM Notify Regional Rollout Project Created</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>IPM_Project__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>IPM_Project__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>IPM_Project__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
