src/flows/IPM_Post_chatter_when_regional_rollout_project_added_to_plan-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>IPM_ChatterFeedHelper</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>When project leader added to plan</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>IPM_ChatterFeedHelper</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>newRollouts</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>IPM_Project_Rollout__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>newRollouts</name>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>myDecision</name>
        <label>Primary Decision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Global project is in Ideas phase and Regional leader not null</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[IPM_Project_Rollout__c].Project_Span__c=  $Label.IPM_GLOBAL
 &amp;&amp; 
NOT(ISNULL([IPM_Project_Rollout__c].IPM_Project__c) ) 
&amp;&amp;
[IPM_Project_Rollout__c].Global_Project_Phase__c  = &quot;Ideas&quot;
 &amp;&amp; 
 ( PRIORVALUE([IPM_Project_Rollout__c].IPM_Regional_PL__c ) &lt;&gt; [IPM_Project_Rollout__c].IPM_Regional_PL__c ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Project_Span__c}=  $Label.IPM_GLOBAL
 &amp;&amp; 
NOT(ISNULL({!myVariable_current.IPM_Project__c}) ) 
&amp;&amp;
{!myVariable_current.Global_Project_Phase__c}  = &quot;Ideas&quot;
 &amp;&amp; 
 ( PRIORVALUE({!myVariable_current.IPM_Regional_PL__c} ) &lt;&gt; {!myVariable_current.IPM_Regional_PL__c} )</expression>
    </formulas>
    <interviewLabel>IPM_Post_chatter_when_regional_rollout_project_added_to_plan-1_IPM_Project_Rollout__c</interviewLabel>
    <label>IPM Post chatter when regional rollout project added to plan</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>IPM_Project_Rollout__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>IPM_Project_Rollout__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>IPM_Project_Rollout__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
