src/flows/IPM_Notify_Local_Rollout_Project_Created-9.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;&lt;div&gt;&lt;div&gt;&lt;div&gt;Dear {![IPM_Project__c].IPM_Project_Leader__c.FirstName} {![IPM_Project__c].IPM_Project_Leader__c.LastName},&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;&lt;div&gt;Your project has been activated by &amp;nbsp;{![IPM_Project__c].IPM_Parent_Project__c.IPM_Project_Leader__c.FirstName} {![IPM_Project__c].IPM_Parent_Project__c.IPM_Project_Leader__c.LastName} &amp;nbsp;.&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;&lt;div&gt;{![IPM_Project__c].IPM_Project_Name__c}&amp;nbsp;&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;&lt;div&gt;Project Leader : {![IPM_Project__c].IPM_Project_Leader__c.FirstName} {![IPM_Project__c].IPM_Project_Leader__c.LastName}&amp;nbsp;&lt;/div&gt;&lt;div&gt;Finance Member :&amp;nbsp;&lt;/div&gt;&lt;div&gt;Category : {![IPM_Project__c].IPM_UserCategory__c}&amp;nbsp;&lt;/div&gt;&lt;div&gt;Brand : {![IPM_Project__c].IPM_Brand_Positioning__c}&amp;nbsp;&lt;/div&gt;&lt;div&gt;Activity Description : {![IPM_Project__c].IPM_Project_Description__c}&amp;nbsp;&lt;/div&gt;&lt;div&gt;Phase : Feasibility&lt;/div&gt;&lt;div&gt;Planned BD Contract Gate :&amp;nbsp;{![IPM_Project__c].Parent_Planned_Global_Contract_Date__c}&amp;nbsp;&lt;/div&gt;&lt;div&gt;Target Launch Date : {![IPM_Project__c].IPM_Target_Launch_Dates__c}&amp;nbsp;&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;&lt;div&gt;NEXT STEPS&lt;/div&gt;&lt;div&gt;(1) Please review and update {![IPM_Project__c].IPM_Project_Name__c} project parameters in IPM Navigator within the next two weeks, including:&lt;/div&gt;&lt;div&gt;Add a deputy project leader&lt;/div&gt;&lt;div&gt;Confirm finance member assignment&lt;/div&gt;&lt;div&gt;Add a local project team&lt;/div&gt;&lt;div&gt;Confirm launch date&lt;/div&gt;&lt;div&gt;Confirm brand and project description&lt;/div&gt;&lt;div&gt;Confirm or indicate gatekeeper&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;&lt;div&gt;(2) Begin drafting&amp;nbsp;{![IPM_Project__c].IPM_MCO_Name__c}&amp;nbsp;inputs to the BD {![IPM_Project__c].IPM_Current_Gate_Name__c} .&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;&lt;div&gt;(3) BD/BB alignment and confirmed business cases are due in IPM Navigator 2 weeks before {![IPM_Project__c].IPM_Current_Gate_Name__c} .&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;&lt;div&gt;If you are not the correct Project Leader, then please reassign the project in IPM Navigator and also notify the brand development Project Leader {![IPM_Project__c].IPM_Project_Leader__c.FirstName} {![IPM_Project__c].IPM_Project_Leader__c.LastName} . &amp;nbsp;&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;&lt;div&gt;If {![IPM_Project__c].IPM_Project_Name__c} was created in error, please archive it and also notify the brand development Project Leader {![IPM_Project__c].IPM_Project_Leader__c.FirstName} {![IPM_Project__c].IPM_Project_Leader__c.LastName}&amp;nbsp;&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;&lt;div&gt;QUESTIONS&lt;/div&gt;&lt;div&gt;Project: Contact {![IPM_Project__c].IPM_Project_Leader__c.FirstName} {![IPM_Project__c].IPM_Project_Leader__c.LastName}&amp;nbsp;&lt;/div&gt;&lt;div&gt;Process &amp;amp; How To’s: &amp;nbsp;Visit IPM.Unilever.com&lt;/div&gt;&lt;div&gt;Technical: &amp;nbsp;Contact your IPM Business Partner.&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Post to local rollout project</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Dear {!myVariable_current.IPM_Project_Leader__r.FirstName} {!myVariable_current.IPM_Project_Leader__r.LastName},
Your project has been activated by  {!myVariable_current.IPM_Parent_Project__r.IPM_Project_Leader__r.FirstName} {!myVariable_current.IPM_Parent_Project__r.IPM_Project_Leader__r.LastName}  .
{!myVariable_current.IPM_Project_Name__c} 
Project Leader : {!myVariable_current.IPM_Project_Leader__r.FirstName} {!myVariable_current.IPM_Project_Leader__r.LastName} Finance Member : Category : {!myVariable_current.IPM_UserCategory__c} Brand : {!myVariable_current.IPM_Brand_Positioning__c} Activity Description : {!myVariable_current.IPM_Project_Description__c} Phase : FeasibilityPlanned BD Contract Gate : {!myVariable_current.Parent_Planned_Global_Contract_Date__c} Target Launch Date : {!myVariable_current.IPM_Target_Launch_Dates__c} 
NEXT STEPS(1) Please review and update {!myVariable_current.IPM_Project_Name__c} project parameters in IPM Navigator within the next two weeks, including:Add a deputy project leaderConfirm finance member assignmentAdd a local project teamConfirm launch dateConfirm brand and project descriptionConfirm or indicate gatekeeper
(2) Begin drafting {!myVariable_current.IPM_MCO_Name__c} inputs to the BD {!myVariable_current.IPM_Current_Gate_Name__c} .
(3) BD/BB alignment and confirmed business cases are due in IPM Navigator 2 weeks before {!myVariable_current.IPM_Current_Gate_Name__c} .
If you are not the correct Project Leader, then please reassign the project in IPM Navigator and also notify the brand development Project Leader {!myVariable_current.IPM_Project_Leader__r.FirstName} {!myVariable_current.IPM_Project_Leader__r.LastName} .  
If {!myVariable_current.IPM_Project_Name__c} was created in error, please archive it and also notify the brand development Project Leader {!myVariable_current.IPM_Project_Leader__r.FirstName} {!myVariable_current.IPM_Project_Leader__r.LastName} 
QUESTIONSProject: Contact {!myVariable_current.IPM_Project_Leader__r.FirstName} {!myVariable_current.IPM_Project_Leader__r.LastName} Process &amp; How To’s:  Visit IPM.Unilever.comTechnical:  Contact your IPM Business Partner.
</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>IPM_Notify_the_Local_Project_leader_when_local_project_created</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Notify the Local Project leader when local project created</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>IPM_Project__c.IPM_Notify_the_Local_Project_leader_when_local_project_created</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;&lt;div&gt;Dear {![IPM_Project__c].IPM_Project_Leader__c.FirstName} {![IPM_Project__c].IPM_Project_Leader__c.LastName},&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;&lt;div&gt;Your project has been activated by &amp;nbsp;{![IPM_Project__c].IPM_Parent_Project__c.IPM_Project_Leader__c.FirstName} {![IPM_Project__c].IPM_Parent_Project__c.IPM_Project_Leader__c.LastName} .&amp;nbsp;&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;&lt;div&gt;{![IPM_Project__c].IPM_Project_Name__c}&amp;nbsp;&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;&lt;div&gt;Project Leader : {![IPM_Project__c].IPM_Project_Leader__c.FirstName} {![IPM_Project__c].IPM_Project_Leader__c.LastName}&amp;nbsp;&lt;/div&gt;&lt;div&gt;Finance Member : {![IPM_Project__c].IPM_Finance_Member__c.FirstName} {![IPM_Project__c].IPM_Finance_Member__c.LastName}&amp;nbsp;&lt;/div&gt;&lt;div&gt;Category : {![IPM_Project__c].IPM_UserCategory__c}&amp;nbsp;&lt;/div&gt;&lt;div&gt;Brand : {![IPM_Project__c].IPM_Brand_Positioning__c}&amp;nbsp;&lt;/div&gt;&lt;div&gt;Activity Description : {![IPM_Project__c].IPM_Project_Description__c}&amp;nbsp;&lt;/div&gt;&lt;div&gt;Phase : Feasibility&lt;/div&gt;&lt;div&gt;Planned BD Contract Gate :&amp;nbsp;{![IPM_Project__c].Parent_Planned_Global_Contract_Date__c}&amp;nbsp;&lt;/div&gt;&lt;div&gt;Target Launch Date : {![IPM_Project__c].IPM_Target_Launch_Dates__c}&amp;nbsp;&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;&lt;div&gt;NEXT STEPS&lt;/div&gt;&lt;div&gt;(1) Please review and update {![IPM_Project__c].IPM_Project_Name__c} project parameters in IPM Navigator within the next two weeks, including:&lt;/div&gt;&lt;div&gt;Add a deputy project leader&lt;/div&gt;&lt;div&gt;Confirm finance member assignment&lt;/div&gt;&lt;div&gt;Add a local project team&lt;/div&gt;&lt;div&gt;Confirm launch date&lt;/div&gt;&lt;div&gt;Confirm brand and project description&lt;/div&gt;&lt;div&gt;Confirm or indicate gatekeeper&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;&lt;div&gt;(2) Begin drafting&amp;nbsp;{![IPM_Project__c].IPM_MCO_Name__c}&amp;nbsp;inputs to the BD {![IPM_Project__c].IPM_Current_Gate_Name__c} .&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;&lt;div&gt;(3) BD/BB alignment and confirmed business cases are due in IPM Navigator 2 weeks before {![IPM_Project__c].IPM_Current_Gate_Name__c} .&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;&lt;div&gt;If you are not the correct Project Leader, then please reassign the project in Inoplan and also notify the brand development Project Leader {![IPM_Project__c].IPM_Project_Leader__c.FirstName} {![IPM_Project__c].IPM_Project_Leader__c.LastName} . &amp;nbsp;&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;&lt;div&gt;If {![IPM_Project__c].IPM_Project_Name__c} was created in error, please archive it and also notify the brand development Project Leader {![IPM_Project__c].IPM_Project_Leader__c.FirstName} {![IPM_Project__c].IPM_Project_Leader__c.LastName}&amp;nbsp;&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;&lt;div&gt;QUESTIONS&lt;/div&gt;&lt;div&gt;Project: Contact {![IPM_Project__c].IPM_Project_Leader__c.FirstName} {![IPM_Project__c].IPM_Project_Leader__c.LastName}&amp;nbsp;&lt;/div&gt;&lt;div&gt;Process &amp;amp; How To’s: &amp;nbsp;Visit IPM.Unilever.com&lt;/div&gt;&lt;div&gt;Technical: Contact your IPM Business Partner.&lt;/div&gt;&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_2_A1</name>
        <label>Post local rollout project created</label>
        <locationX>200</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_2_A2</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Dear {!myVariable_current.IPM_Project_Leader__r.FirstName} {!myVariable_current.IPM_Project_Leader__r.LastName},
Your project has been activated by  {!myVariable_current.IPM_Parent_Project__r.IPM_Project_Leader__r.FirstName} {!myVariable_current.IPM_Parent_Project__r.IPM_Project_Leader__r.LastName} . 
{!myVariable_current.IPM_Project_Name__c} 
Project Leader : {!myVariable_current.IPM_Project_Leader__r.FirstName} {!myVariable_current.IPM_Project_Leader__r.LastName} Finance Member : {!myVariable_current.IPM_Finance_Member__r.FirstName} {!myVariable_current.IPM_Finance_Member__r.LastName} Category : {!myVariable_current.IPM_UserCategory__c} Brand : {!myVariable_current.IPM_Brand_Positioning__c} Activity Description : {!myVariable_current.IPM_Project_Description__c} Phase : FeasibilityPlanned BD Contract Gate : {!myVariable_current.Parent_Planned_Global_Contract_Date__c} Target Launch Date : {!myVariable_current.IPM_Target_Launch_Dates__c} 
NEXT STEPS(1) Please review and update {!myVariable_current.IPM_Project_Name__c} project parameters in IPM Navigator within the next two weeks, including:Add a deputy project leaderConfirm finance member assignmentAdd a local project teamConfirm launch dateConfirm brand and project descriptionConfirm or indicate gatekeeper
(2) Begin drafting {!myVariable_current.IPM_MCO_Name__c} inputs to the BD {!myVariable_current.IPM_Current_Gate_Name__c} .
(3) BD/BB alignment and confirmed business cases are due in IPM Navigator 2 weeks before {!myVariable_current.IPM_Current_Gate_Name__c} .
If you are not the correct Project Leader, then please reassign the project in Inoplan and also notify the brand development Project Leader {!myVariable_current.IPM_Project_Leader__r.FirstName} {!myVariable_current.IPM_Project_Leader__r.LastName} .  
If {!myVariable_current.IPM_Project_Name__c} was created in error, please archive it and also notify the brand development Project Leader {!myVariable_current.IPM_Project_Leader__r.FirstName} {!myVariable_current.IPM_Project_Leader__r.LastName} 
QUESTIONSProject: Contact {!myVariable_current.IPM_Project_Leader__r.FirstName} {!myVariable_current.IPM_Project_Leader__r.LastName} Process &amp; How To’s:  Visit IPM.Unilever.comTechnical: Contact your IPM Business Partner.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>IPM_Notify_the_Local_Project_leader_when_local_project_created</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_2_A2</name>
        <label>Notify the Local Project Leader</label>
        <locationX>200</locationX>
        <locationY>300</locationY>
        <actionName>IPM_Project__c.IPM_Notify_the_Local_Project_leader_when_local_project_created</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>myDecision</name>
        <label>Primary Decision</label>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.IPMProject_Span__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Local</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.IPM_Project_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rollout</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.IPM_Is_Finance_Member_Null__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>GlobalConstant</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.IPM_Parent_Project__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>GlobalConstant</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.IPM_Project_Leader__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>When local project is created without finance member</label>
        </rules>
        <rules>
            <name>myRule_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.IPMProject_Span__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Local</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.IPM_Project_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rollout</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>GlobalConstant</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.IPM_Finance_Member__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>GlobalConstant</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.IPM_Parent_Project__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>GlobalConstant</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.IPM_Project_Leader__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>myRule_2_A1</targetReference>
            </connector>
            <label>Local project created with finance member</label>
        </rules>
    </decisions>
    <interviewLabel>IPM_Notify_Local_Rollout_Project_Created-9_IPM_Project__c</interviewLabel>
    <label>IPM Notify Local Rollout Project Created</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>IPM_Project__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>IPM_Project__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>IPM_Project__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
