src/flows/VPM_PurchasingRequestsMaintainLaunchScreen-8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>VPM_FetchVendorDetails</name>
        <label>VPM_FetchVendorDetails</label>
        <locationX>103</locationX>
        <locationY>35</locationY>
        <actionName>VPM_FetchVendorsDetails</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>VPM_VendorStatusDecision</targetReference>
        </connector>
        <inputParameters>
            <name>ecc</name>
            <value>
                <elementReference>VPM_VendorMdmECC</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vendorCodeInput</name>
            <value>
                <elementReference>VPM_VendorMdmCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>compnayCode</name>
            <value>
                <elementReference>VPM_CompanyCode</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>VPM_IsBlocked</assignToReference>
            <name>Blocked</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>VPM_IsDeleted</assignToReference>
            <name>Deleted</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>VPM_IsVendorFound</assignToReference>
            <name>vendorFoundResult</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>VPM_VendorCodeOutputVar</assignToReference>
            <name>VendorCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>VPM_BankCountryVar</assignToReference>
            <name>BankCountry</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>VPM_BankKeyVar</assignToReference>
            <name>BankKey</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>VPM_BankAccountVar</assignToReference>
            <name>BankAccount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>VPM_ControlKeyVar</assignToReference>
            <name>ControlKey</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>VPM_AccountHolderVar</assignToReference>
            <name>AccountHolder</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>VPM_IBANVar</assignToReference>
            <name>IBAN</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>VPM_CompanyCodeVar</assignToReference>
            <name>CompanyCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>VPM_BankNameVar</assignToReference>
            <name>BankName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>VPM_SwiftKeyVar</assignToReference>
            <name>SwiftKey</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>VPM_ECCVar</assignToReference>
            <name>ECC</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>VPM_BlockDelete1</name>
        <label>BlockDelete1</label>
        <locationX>335</locationX>
        <locationY>1028</locationY>
        <assignmentItems>
            <assignToReference>VPM_BlockDeleteOneVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MDM Ops Review - Block</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_SubmitExtend</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_BlockDelete2</name>
        <label>BlockDelete2</label>
        <locationX>483</locationX>
        <locationY>1026</locationY>
        <assignmentItems>
            <assignToReference>VPM_BlockDeleteOneVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MDM Ops Review - Delete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_SubmitExtend</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_LaunchMaintainScreenDecision</name>
        <label>Launch Maintain Screen Decision</label>
        <locationX>139</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>VPM_LaunchScreenActionVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_Maintain1FinalChoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_Maintain2LaunchScreenDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_MaintainScreenUnblockUndeleteAssignment</name>
        <label>Maintain Screen Unblock Undelete Assignment</label>
        <locationX>497</locationX>
        <locationY>392</locationY>
        <assignmentItems>
            <assignToReference>VPM_LaunchScreenActionVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_Maintain1FinalChoice_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_Maintain2LaunchScreenDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_UnblockUndelet2</name>
        <label>UnblockUndelete2</label>
        <locationX>784</locationX>
        <locationY>1027</locationY>
        <assignmentItems>
            <assignToReference>VPM_BlockDeleteOneVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MDM Ops Review - Unblock</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_SubmitExtend</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_UnblockUndelete1</name>
        <label>UnblockUndelete1</label>
        <locationX>631</locationX>
        <locationY>1027</locationY>
        <assignmentItems>
            <assignToReference>VPM_BlockDeleteOneVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MDM Ops Review - Undelete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_SubmitExtend</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>VPM_BankDetailsChoice</name>
        <choiceText>Bank Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BD</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Block</name>
        <choiceText>Block</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Block</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Deletion</name>
        <choiceText>Deletion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Exit</name>
        <choiceText>Save &amp; Exit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_ExitChoice</name>
        <choiceText>Exit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_FInanciallySensitiveFieldsChoice</name>
        <choiceText>Financially Sensitive Fields</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FS</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Maintain1BlockDeleteChoice</name>
        <choiceText>Block / Delete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BUD</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Menu</name>
        <choiceText>Save</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_PaymentTeamsChoice</name>
        <choiceText>Payment Terms</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_RegoinalSpecificFieldsChoice</name>
        <choiceText>Regional Specific Fields</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RS</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_RequestBriefChoice</name>
        <choiceText>Request Brief</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RB</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_SubmitChoice</name>
        <choiceText>Submit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Unblock</name>
        <choiceText>Unblock</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UnBlock</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_UnblockUndeleteChoice</name>
        <choiceText>Unblock /Undelete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UB</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Undelete</name>
        <choiceText>Undelete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Undelete</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_VendorDetailsChoice</name>
        <choiceText>Vendor Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VD</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_VendorMatchChocie</name>
        <choiceText>Vendor Match</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VM</stringValue>
        </value>
    </choices>
    <decisions>
        <name>VPM_BlockDeleteDecision</name>
        <label>Block Delete Decision</label>
        <locationX>624</locationX>
        <locationY>918</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_UnblockSection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_UnBlockUndeleteRequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnBlock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_UnblockUndelet2</targetReference>
            </connector>
            <label>UnblockSection</label>
        </rules>
        <rules>
            <name>VPM_UndeleteSection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_UnBlockUndeleteRequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Undelete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_UnblockUndelete1</targetReference>
            </connector>
            <label>UndeleteSection</label>
        </rules>
        <rules>
            <name>VPM_BlockSection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_BlockDeleteRequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Block</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_BlockDelete1</targetReference>
            </connector>
            <label>BlockSection</label>
        </rules>
        <rules>
            <name>VPM_DeleteSection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_BlockDeleteRequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_BlockDelete2</targetReference>
            </connector>
            <label>DeleteSection</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_Maintain2LaunchScreenDecision</name>
        <label>Launch Screen Decision</label>
        <locationX>352</locationX>
        <locationY>447</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_Maintain2RequestBriefOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_Maintain1RequestTypeChoice_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_Maintain_Request_Brief_Screen</targetReference>
            </connector>
            <label>Request Brief Outcome</label>
        </rules>
        <rules>
            <name>VPM_Maintain2VendorMatchOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_Maintain1RequestTypeChoice_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_Vendor_Match_Flow</targetReference>
            </connector>
            <label>Vendor Match Outcome</label>
        </rules>
        <rules>
            <name>VPM_Maintain2UnblockUnDeleteOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_Maintain1RequestTypeChoice_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_Maintain1UnBlockandUnDelete_Screen</targetReference>
            </connector>
            <label>Unblock UnDelete Outcome</label>
        </rules>
        <rules>
            <name>VPM_VendorDetailsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_VendorDetailsChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_VendorDetailsFlow</targetReference>
            </connector>
            <label>Vendor Details Outcome</label>
        </rules>
        <rules>
            <name>VPM_PaymentTermsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PaymentTeamsChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_PaymentTermsFlow</targetReference>
            </connector>
            <label>Payment Terms Outcome</label>
        </rules>
        <rules>
            <name>VPM_MaintainBlockDeleteScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_Maintain1BlockDeleteChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_MaintainBlockandDeleteScreen</targetReference>
            </connector>
            <label>Maintain Block Delete Screen</label>
        </rules>
        <rules>
            <name>VPM_BankDetailsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_BankDetailsChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_BankDetailsFlow</targetReference>
            </connector>
            <label>Bank Details Outcome</label>
        </rules>
        <rules>
            <name>VPM_FinanciallySensitiveFieldOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_FInanciallySensitiveFieldsChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_FinanciallySpecificFieldsFlow</targetReference>
            </connector>
            <label>Financially Sensitive Field outcome</label>
        </rules>
        <rules>
            <name>VPM_RegionalSpecificFieldOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_RegoinalSpecificFieldsChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_RegionalSpecificFieldFlow</targetReference>
            </connector>
            <label>Regional Specific Field Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_SubmitExtend</name>
        <label>SubmitExtend</label>
        <locationX>601</locationX>
        <locationY>1134</locationY>
        <defaultConnector>
            <targetReference>VPM_ExtendLockErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_RecordUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PurchasingRequest.VPM_IsLock__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_BlockUnblockDeleteUndelete</targetReference>
            </connector>
            <label>VPM_RecordUpdate</label>
        </rules>
        <rules>
            <name>VPM_ExtendRework</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PurchasingRequest.VPM_Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Re-Work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_PurchasingRequest.VPM_IsLock__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_ExtendReworkMessage</targetReference>
            </connector>
            <label>ExtendRework</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_VendorStatusDecision</name>
        <label>Vendor Status Decision</label>
        <locationX>96</locationX>
        <locationY>155</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_VendorIsBlockedDeleted</name>
            <conditionLogic>(1 OR 2 ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>VPM_IsBlocked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_IsDeleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_IsVendorFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_Maintain2LaunchScreen</targetReference>
            </connector>
            <label>Vendor Is Blocked/Deleted</label>
        </rules>
        <rules>
            <name>VPM_VendorIsNotBlockedDeleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_IsBlocked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_IsDeleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_IsVendorFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_Maintain1LaunchScreen</targetReference>
            </connector>
            <label>Vendor Is UnBlocked/UnDeleted</label>
        </rules>
        <rules>
            <name>VPM_VendorNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_IsVendorFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vendor_Not_FoundScreen</targetReference>
            </connector>
            <label>Vendor Not Found</label>
        </rules>
    </decisions>
    <formulas>
        <name>VPM_AccountHolderSapFormula</name>
        <dataType>String</dataType>
        <expression>If(NOT(ISBlank({!VPM_AccountHolderVar})),&apos;Previously &apos; +{!VPM_AccountHolderVar} ,&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>VPM_BankAccountSapFormula</name>
        <dataType>String</dataType>
        <expression>If(NOT(ISBlank({!VPM_BankAccountVar})),&apos;Previously &apos; +{!VPM_BankAccountVar} ,&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>VPM_BankCountrySapFormula</name>
        <dataType>String</dataType>
        <expression>If(NOT(ISBlank({!VPM_BankCountryVar})),&apos;Previously &apos; +{!VPM_BankCountryVar} ,&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>VPM_BankKeySapFormula</name>
        <dataType>String</dataType>
        <expression>If(NOT(ISBlank({!VPM_BankKeyVar})),&apos;Previously &apos; +{!VPM_BankKeyVar } ,&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>VPM_BankNameSapFormula</name>
        <dataType>String</dataType>
        <expression>If(NOT(ISBlank({!VPM_BankNameVar})),&apos;Previously &apos; +{!VPM_BankNameVar} ,&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>VPM_CompanyCodeSapFormula</name>
        <dataType>String</dataType>
        <expression>If(NOT(ISBlank({!VPM_CompanyCodeVar})),&apos;Previously &apos; +{!VPM_CompanyCodeVar} ,&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>VPM_ControlKeySapFormula</name>
        <dataType>String</dataType>
        <expression>If(NOT(ISBlank({!VPM_ControlKeyVar})),&apos;Previously &apos; +{!VPM_ControlKeyVar } ,&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>VPM_ECCSapFormula</name>
        <dataType>String</dataType>
        <expression>If(NOT(ISBlank({!VPM_ECCVar})),&apos;Previously &apos; +{!VPM_ECCVar} ,&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>VPM_IBANSapFormula</name>
        <dataType>String</dataType>
        <expression>If(NOT(ISBlank({!VPM_IBANVar})),&apos;Previously &apos; +{!VPM_IBANVar} ,&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>VPM_SwiftKeySapFormula</name>
        <dataType>String</dataType>
        <expression>If(NOT(ISBlank({!VPM_SwiftKeyVar})),&apos;Previously &apos; +{!VPM_SwiftKeyVar} ,&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>VPM_VendorCodeSapFormula</name>
        <dataType>String</dataType>
        <expression>If(NOT(ISBlank({!VPM_VendorCodeOutputVar})),&apos;Previously &apos; +{!VPM_VendorCodeOutputVar} ,&apos; &apos;)</expression>
    </formulas>
    <interviewLabel>VPM_Purchasin Request Maintain Launch Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VPM_Purchasin Request Maintain Launch Screen</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>VPM_BlockUnblockDeleteUndelete</name>
        <label>Block/Unblock/Delete/Undelete</label>
        <locationX>607</locationX>
        <locationY>1262</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VPM_RecordTypeIDVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_AdvancedFormSubmitted__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_DeletionBlockFlag__c</field>
            <value>
                <elementReference>VPM_BlockDeleteOneVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_FinanceApprovalRequired__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ProcurementApprovalRequired__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>VPM_PurchasingRequests__c</object>
    </recordUpdates>
    <screens>
        <name>Vendor_Not_FoundScreen</name>
        <label>Vendor Not FoundScreen</label>
        <locationX>370</locationX>
        <locationY>154</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VPM_VendorErrorMessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Vendor Not found.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Kindly check Vendor code / ECC entry is correct or not.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>VPM_ExtendLockErrorMessage</name>
        <label>ExtendLockErrorMessage</label>
        <locationX>456</locationX>
        <locationY>1232</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VPM_ExtendIslockErrorMessage</name>
            <fieldText>It&apos;s already under approval process</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>VPM_ExtendReworkMessage</name>
        <label>ExtendReworkMessage</label>
        <locationX>766</locationX>
        <locationY>1227</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VPM_ReworkExtendMessage</name>
            <fieldText>This request is in an approval process. Please click the &apos;Recall&apos; button on the approval related list below first&apos;.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>VPM_Maintain1LaunchScreen</name>
        <label>Launch Screen</label>
        <locationX>38</locationX>
        <locationY>292</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_LaunchMaintainScreenDecision</targetReference>
        </connector>
        <fields>
            <name>VPM_Maintain1TypeInfo</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Type : &lt;/B&gt; Maintain &lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Status :&lt;/B&gt;  {!VPM_StatusFormulaVar}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_Maintain1RequestTypeChoice</name>
            <choiceReferences>VPM_RequestBriefChoice</choiceReferences>
            <choiceReferences>VPM_BankDetailsChoice</choiceReferences>
            <choiceReferences>VPM_VendorDetailsChoice</choiceReferences>
            <choiceReferences>VPM_Maintain1BlockDeleteChoice</choiceReferences>
            <choiceReferences>VPM_PaymentTeamsChoice</choiceReferences>
            <choiceReferences>VPM_VendorMatchChocie</choiceReferences>
            <choiceReferences>VPM_FInanciallySensitiveFieldsChoice</choiceReferences>
            <choiceReferences>VPM_RegoinalSpecificFieldsChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Maintain1Blank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_Maintain1FinalChoice</name>
            <choiceReferences>VPM_SubmitChoice</choiceReferences>
            <choiceReferences>VPM_ExitChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>VPM_Maintain1UnBlockandUnDelete_Screen</name>
        <label>Maintain1 UnBlock and UnDelete Screen</label>
        <locationX>680</locationX>
        <locationY>603</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_BlockDeleteDecision</targetReference>
        </connector>
        <fields>
            <name>VPM_WarningMessages</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;By selecting this option any other information completed on this form will be disregarded&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_UnBlockUndeleteRequestType</name>
            <choiceReferences>VPM_Unblock</choiceReferences>
            <choiceReferences>VPM_Undelete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_Maintain1SelectAction</name>
            <choiceReferences>VPM_Menu</choiceReferences>
            <choiceReferences>VPM_Exit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>VPM_Maintain2LaunchScreen</name>
        <label>Launch Screen</label>
        <locationX>401</locationX>
        <locationY>294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_MaintainScreenUnblockUndeleteAssignment</targetReference>
        </connector>
        <fields>
            <name>VPM_Maintain1TypeInfo_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Type : &lt;/B&gt; Maintain &lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Status :&lt;/B&gt;  {!VPM_StatusFormulaVar}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_Maintain1RequestTypeChoice_0</name>
            <choiceReferences>VPM_RequestBriefChoice</choiceReferences>
            <choiceReferences>VPM_UnblockUndeleteChoice</choiceReferences>
            <choiceReferences>VPM_VendorMatchChocie</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Maintain1Blank_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_Maintain1FinalChoice_0</name>
            <choiceReferences>VPM_SubmitChoice</choiceReferences>
            <choiceReferences>VPM_ExitChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>VPM_MaintainBlockandDeleteScreen</name>
        <label>Maintain Block and Delete Screen</label>
        <locationX>442</locationX>
        <locationY>793</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_BlockDeleteDecision</targetReference>
        </connector>
        <fields>
            <name>VPM_WarningMessages_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;By selecting this option any other information completed on this form will be disregarded&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_BlockDeleteRequestType</name>
            <choiceReferences>VPM_Block</choiceReferences>
            <choiceReferences>VPM_Deletion</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_MaintainMenuBlockDelete</name>
            <choiceReferences>VPM_Menu</choiceReferences>
            <choiceReferences>VPM_Exit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>VPM_FetchVendorDetails</startElementReference>
    <subflows>
        <name>VPM_BankDetailsFlow</name>
        <label>Bank Details Flow</label>
        <locationX>50</locationX>
        <locationY>507</locationY>
        <flowName>VPM_Purchasing_Request_Bank_Details</flowName>
        <inputAssignments>
            <name>VPM_PurchasingRequestID</name>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_RecordTypeIDVar</name>
            <value>
                <elementReference>VPM_VendorMaintainRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_AccountHolderSapVar</name>
            <value>
                <elementReference>VPM_AccountHolderVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_BankAccountSapVar</name>
            <value>
                <elementReference>VPM_BankAccountVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_BankCountrySapVar</name>
            <value>
                <elementReference>VPM_BankCountryVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_BankKeySapVar</name>
            <value>
                <elementReference>VPM_BankKeyVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_BankNameSapVar</name>
            <value>
                <elementReference>VPM_BankNameVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_ControlKeySapVar</name>
            <value>
                <elementReference>VPM_ControlKeyVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_IBANSapVar</name>
            <value>
                <elementReference>VPM_IBANVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_SwiftKeySapVar</name>
            <value>
                <elementReference>VPM_SwiftKeyVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ActionVAR</assignToReference>
            <name>VPM_ActionVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_BankDetailsScreenVar</assignToReference>
            <name>VPM_BankDetailsScreenVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>VPM_FinanciallySpecificFieldsFlow</name>
        <label>Financially Specific Fields Flow</label>
        <locationX>103</locationX>
        <locationY>800</locationY>
        <flowName>VPM_Purchasing_Requests_FinanciallySpecificFieldsScreen</flowName>
        <inputAssignments>
            <name>VPM_PurchasingRequestID</name>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_RecordTypeIDVar</name>
            <value>
                <elementReference>VPM_VendorMaintainRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ActionVAR</assignToReference>
            <name>VPM_ActionVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_FinanciallySensitiveFieldScreenVar</assignToReference>
            <name>VPM_FinanciallySensitiveFieldScreenVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>VPM_Maintain_Request_Brief_Screen</name>
        <label>Maintain Request Brief Screen</label>
        <locationX>690</locationX>
        <locationY>477</locationY>
        <flowName>VPM_Purchasing_Request_Brief</flowName>
        <inputAssignments>
            <name>VPM_PurchasingRequestID</name>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_RecordTypeIDVar</name>
            <value>
                <elementReference>VPM_VendorMaintainRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ActionVAR</assignToReference>
            <name>VPM_ActionVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RequestBriefVar</assignToReference>
            <name>VPM_RequestBriefScreenVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>VPM_PaymentTermsFlow</name>
        <label>Payment Terms Flow</label>
        <locationX>67</locationX>
        <locationY>695</locationY>
        <flowName>VPM_Purchasing_request_Payment_terms</flowName>
        <inputAssignments>
            <name>VPM_PurchasingRequestID</name>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_RecordTypeIDVar</name>
            <value>
                <elementReference>VPM_VendorMaintainRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ActionVAR</assignToReference>
            <name>VPM_ActionVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PaymentTermsScreenVar</assignToReference>
            <name>VPM_PaymentTermsScreenVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>VPM_RegionalSpecificFieldFlow</name>
        <label>Regional Specific Field Flow</label>
        <locationX>266</locationX>
        <locationY>799</locationY>
        <flowName>VPM_PurchasingRequestsRegionalSpecificFieldsOutcome</flowName>
        <inputAssignments>
            <name>VPM_PurchasingRequestID</name>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_RecordTypeIDVar</name>
            <value>
                <elementReference>VPM_VendorMaintainRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ActionVAR</assignToReference>
            <name>VPM_ActionVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RegionalSpecificFieldScreenVar</assignToReference>
            <name>VPM_RegionalSpecificFieldScreenVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>VPM_Vendor_Match_Flow</name>
        <label>Vendor Match Flow</label>
        <locationX>519</locationX>
        <locationY>597</locationY>
        <flowName>VPM_Purchasing_Request_Vendor_Match</flowName>
        <inputAssignments>
            <name>VPM_PurchasingRequestID</name>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_RecordTypeIDVar</name>
            <value>
                <elementReference>VPM_VendorMaintainRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ActionVAR</assignToReference>
            <name>VPM_ActionVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>VPM_VendorDetailsFlow</name>
        <label>Vendor Details Flow</label>
        <locationX>17</locationX>
        <locationY>612</locationY>
        <flowName>VPM_PurchasingRequestVendorDetails</flowName>
        <inputAssignments>
            <name>VPM_PurchasingRequestID</name>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_RecordTypeIDVar</name>
            <value>
                <elementReference>VPM_VendorMaintainRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_CompanyCodeSapVar</name>
            <value>
                <elementReference>VPM_CompanyCodeVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_VendorCodeSapVar</name>
            <value>
                <elementReference>VPM_VendorCodeOutputVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ActionVAR</assignToReference>
            <name>VPM_ActionVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_VendordetialsScreenVar</assignToReference>
            <name>VPM_VendorDetailsScreenVar</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>VPM_AccountHolderVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ActionVAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_BankAccountVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_BankCountryVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_BankDetailsScreenVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_BankKeyVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_BankNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_BlockDeleteOneVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CompanyCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CompanyCodeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ControlKeyVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ECCVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_FinanciallySensitiveFieldScreenVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_IBANVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_IsBlocked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_IsDeleted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_IsVendorFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_LaunchScreenActionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_PaymentTermsScreenVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_PurchasingRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>VPM_PurchasingRequests__c</objectType>
    </variables>
    <variables>
        <name>VPM_PurchasingRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RapidVendorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Records the street name as entered on the Rapid form</description>
        <name>VPM_RapidVendorStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VPM_RapidZIPPostcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VPM_RecodTypeIdFormula</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VPM_RecordTypeIDVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RegionalSpecificFieldScreenVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RequestBriefVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_StatusFormulaVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_SwiftKeyVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorCodeOutputVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VendordetialsScreenVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorMaintainRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorMdmCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorMdmECC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
