src/flows/VPM_PurchasingRequestAdvancedForm-52.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>VPM_AssignRecordIdToVendorCreateRecordTypeIdVariable</name>
        <label>Assign Record Id To Vendor Create Record Type Id Variable</label>
        <locationX>680</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>VPM_VendorCreateRecordTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_PurchasingRequestRecordTypeChoice.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_RecordTypeChoiceLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_AssignRecordIdToVendorExtendRecordTypeIdVariable</name>
        <label>Assign Record Id To Vendor Extend Record Type Id Variable</label>
        <locationX>501</locationX>
        <locationY>101</locationY>
        <assignmentItems>
            <assignToReference>VPM_VendorExtendRecordTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_PurchasingRequestRecordTypeChoice.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_RecordTypeChoiceLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_AssignRecordIdToVendorMaintainRecordTypeIdVariable</name>
        <label>Assign Record Id To Vendor Maintain Record Type Id Variable</label>
        <locationX>860</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>VPM_VendorMaintainRecordTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_PurchasingRequestRecordTypeChoice.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_RecordTypeChoiceLoop</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>VPM_BankDetailsChoice</name>
        <choiceText>Bank Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Cordillera</name>
        <choiceText>Cordillera</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>VPM_Exit</name>
        <choiceText>Exit</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>VPM_Extend</name>
        <choiceText>Extend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_FinanceSection</name>
        <choiceText>Finance Section</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fianace</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Fusion</name>
        <choiceText>Fusion</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>VPM_Maintain</name>
        <choiceText>Maintain</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Menu</name>
        <choiceText>Menu</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>VPM_PaymentTeamsChoice</name>
        <choiceText>Payment Terms</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_ProcurementSection</name>
        <choiceText>Procurement Section</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Procurement</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_RequestBrief</name>
        <choiceText>Request Brief</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Sirius</name>
        <choiceText>Sirius</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>VPM_Submit</name>
        <choiceText>Submit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_SubmitChoice</name>
        <choiceText>Submit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_U2K2</name>
        <choiceText>U2K2</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>VPM_VendorNotListed</name>
        <choiceText>My Vendor Isn&apos;t Listed</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>VPM_CreateWordConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Create</stringValue>
        </value>
    </constants>
    <constants>
        <name>VPM_ExtendWordConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Extend</stringValue>
        </value>
    </constants>
    <constants>
        <name>VPM_MaintainWordConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Maintain</stringValue>
        </value>
    </constants>
    <constants>
        <description>VPM - Stores the Sobject Type of Purchasing Request</description>
        <name>VPM_PurchasingRequestSObjectRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>VPM_PurchasingRequest__c</stringValue>
        </value>
    </constants>
    <decisions>
        <name>VPM_CreateMaintainExtend</name>
        <label>CreateMaintainExtend</label>
        <locationX>494</locationX>
        <locationY>564</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_MatchedVendorID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_launchScreen</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>VPM_MaintainOrExtend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_MatchedVendorID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_MaintainExtendChoiceDecision</targetReference>
            </connector>
            <label>MaintainOrExtend</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_LaunchScreenDecision</name>
        <label>Launch Screen Decision</label>
        <locationX>198</locationX>
        <locationY>590</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_RequestBriefOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_RequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_CreateAVendor</targetReference>
            </connector>
            <label>Request Brief Outcome</label>
        </rules>
        <rules>
            <name>VPM_BankDeatilsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_RequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_BankDetailsSection</targetReference>
            </connector>
            <label>Bank Deatils Outcome</label>
        </rules>
        <rules>
            <name>VPM_FinalSubmit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_FinalChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_UpdateCreateVendorRecord</targetReference>
            </connector>
            <label>Final Submit</label>
        </rules>
        <rules>
            <name>VPM_PaymentTermsOutCome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_RequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_PaymentTermsScreen</targetReference>
            </connector>
            <label>Payment Terms OutCome</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_MaintainExtendChoice</name>
        <label>Maintain or Extend?</label>
        <locationX>742</locationX>
        <locationY>690</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_ChoiceMaintain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_ChoiceExtendMaintain</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_MaintainData</targetReference>
            </connector>
            <label>Maintain</label>
        </rules>
        <rules>
            <name>VPM_ChoiceExtend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_ChoiceExtendMaintain</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_ExtendInfo</targetReference>
            </connector>
            <label>Extend</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_MenuScreenDecision</name>
        <label>Menu Screen Decision</label>
        <locationX>155</locationX>
        <locationY>1246</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_BackToMenu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_Menu</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_launchScreen</targetReference>
            </connector>
            <label>Back To Menu</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_PurchasingRecordTypeClassification</name>
        <label>Purchasing Record Type Classification</label>
        <locationX>686</locationX>
        <locationY>217</locationY>
        <defaultConnector>
            <targetReference>VPM_RecordTypeChoiceLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>VPM_VendorCreateRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PurchasingRequestRecordTypeChoice.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>VPM_CreateWordConstant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_AssignRecordIdToVendorCreateRecordTypeIdVariable</targetReference>
            </connector>
            <label>Vendor Create Record Type</label>
        </rules>
        <rules>
            <name>VPM_VendorMaintainRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PurchasingRequestRecordTypeChoice.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>VPM_MaintainWordConstant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_AssignRecordIdToVendorMaintainRecordTypeIdVariable</targetReference>
            </connector>
            <label>Vendor Maintain Record Type</label>
        </rules>
        <rules>
            <name>VPM_VendorExtendRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PurchasingRequestRecordTypeChoice.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>VPM_ExtendWordConstant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_AssignRecordIdToVendorExtendRecordTypeIdVariable</targetReference>
            </connector>
            <label>Vendor Extend Record Type</label>
        </rules>
    </decisions>
    <description>The Advanced Form used to complete additional information either by the Business Requestor or FLS team</description>
    <dynamicChoiceSets>
        <name>VPM_ExistingVendorMatch</name>
        <dataType>String</dataType>
        <displayField>VP_VendorFullDetails__c</displayField>
        <filters>
            <field>VPM_VendorName__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>VPM_SearchVendorName</elementReference>
            </value>
        </filters>
        <object>VPM_Vendors__c</object>
        <outputAssignments>
            <assignToReference>VPM_MatchedVendorID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Vendors.VPM_City__c</assignToReference>
            <field>VPM_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Vendors.VPM_ECCEntries__c</assignToReference>
            <field>VPM_ECCEntries__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Vendors.VPM_Street1__c</assignToReference>
            <field>VPM_Street1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Vendors.VPM_VendorCode__c</assignToReference>
            <field>VPM_VendorCode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Vendors.VPM_VendorName__c</assignToReference>
            <field>VPM_VendorName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Vendors.VPM_ZIPPostcode__c</assignToReference>
            <field>VPM_ZIPPostcode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_FullVendorDetails</assignToReference>
            <field>VP_VendorFullDetails__c</field>
        </outputAssignments>
        <sortField>VPM_VendorName__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>VPM - Setting Finance Approval Required to true if Finance Details are entered.</description>
        <name>VPM_IsFinanceRequired</name>
        <dataType>Boolean</dataType>
        <expression>OR(LEN(TRIM({!VPM_FinanceDetailField1}))&gt;0, LEN(TRIM( {!VPM_FinanceDetailsField2} ))&gt;0)</expression>
    </formulas>
    <formulas>
        <name>VPM_IsProcurementRequired</name>
        <dataType>Boolean</dataType>
        <expression>OR(LEN(TRIM({!VPM_ProcurementDetailField1} ))&gt;0, LEN(TRIM( {!VPM_ProcurementDetailsField2}))&gt;0)</expression>
    </formulas>
    <interviewLabel>Purchasing Request Advanced Form - Launch Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Purchasing Request Advanced Form - Launch Screen</label>
    <loops>
        <name>VPM_RecordTypeChoiceLoop</name>
        <label>Record Type Choice Loop</label>
        <locationX>498</locationX>
        <locationY>441</locationY>
        <assignNextValueToReference>VPM_PurchasingRequestRecordTypeChoice</assignNextValueToReference>
        <collectionReference>VPM_PurchasingRequestRecordTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>VPM_PurchasingRecordTypeClassification</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>VPM_CreateMaintainExtend</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Purchasing_Request_Initial_Record_Type</name>
        <label>Purchasing Request Initial Record Type</label>
        <locationX>312</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VPM_BusinessRequestReview</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequestInitialRecordTypeID</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>VPM_PurchasingRequestInitialRecordTypeData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Purchasing_Request_Record_Types</name>
        <label>Purchasing Request Record Types</label>
        <locationX>308</locationX>
        <locationY>443</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VPM_RecordTypeChoiceLoop</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>VPM_PurchasingRequestInitialRecordTypeData.Name</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>VPM_PurchasingRequestRecordTypes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SobjectType</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>VPM_PurchasingRequestRecord</name>
        <label>PurchasingRequestRecord</label>
        <locationX>312</locationX>
        <locationY>31</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Purchasing_Request_Initial_Record_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </filters>
        <object>VPM_PurchasingRequests__c</object>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequestID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequestInitialRecordTypeID</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RapidComments</assignToReference>
            <field>VPM_Comments__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RapidPurchasingCountry</assignToReference>
            <field>VPM_PurchasingCountry__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RapidVendorStreet</assignToReference>
            <field>VPM_Street1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RapidContactEmail</assignToReference>
            <field>VPM_VendorContactDetail__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RapidVendorName</assignToReference>
            <field>VPM_VendorName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RapidWhatAreYouBuying</assignToReference>
            <field>VPM_WhatAreYouBuying__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RapidZIPPostcode</assignToReference>
            <field>VPM_ZIPPostcode__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>VPM_UpdateApprovalRequirementsForPurchasingRequest</name>
        <label>Update Approval Requirements For Purchasing Request</label>
        <locationX>334</locationX>
        <locationY>1413</locationY>
        <connector>
            <targetReference>VPM_FinishScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VPM_FinanceApprovalRequired__c</field>
            <value>
                <elementReference>VPM_IsFinanceRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Finance_Team_Section__c</field>
            <value>
                <stringValue>{!VPM_FinanceDetailField1} {!VPM_FinanceDetailsField2}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ProcurementApprovalRequired__c</field>
            <value>
                <elementReference>VPM_IsProcurementRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ProcurementSection__c</field>
            <value>
                <stringValue>{!VPM_ProcurementDetailField1} {!VPM_ProcurementDetailsField2}</stringValue>
            </value>
        </inputAssignments>
        <object>VPM_PurchasingRequests__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>VPM_UpdateCreateVendorRecord</name>
        <label>VPM_UpdateCreateVendorRecord</label>
        <locationX>404</locationX>
        <locationY>789</locationY>
        <connector>
            <targetReference>VPM_FinishScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VPM_VendorCreateRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_AccountHolderName__c</field>
            <value>
                <elementReference>VPM_AccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_AdvancedFormSubmitted__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_BankAccountNumber__c</field>
            <value>
                <elementReference>VPM_BankAccountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_City__c</field>
            <value>
                <elementReference>VPM_CreateCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_FinanceApprovalRequired__c</field>
            <value>
                <elementReference>VPM_IsFinanceRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Finance_Team_Section__c</field>
            <value>
                <elementReference>VPM_FinanceDetailField1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ProcurementApprovalRequired__c</field>
            <value>
                <elementReference>VPM_IsProcurementRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ProcurementSection__c</field>
            <value>
                <elementReference>VPM_ProcurementDetailField1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Street1__c</field>
            <value>
                <elementReference>VPM_CreateStreet1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_VendorContactDetail__c</field>
            <value>
                <elementReference>VPM_CreateContactEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_VendorName__c</field>
            <value>
                <elementReference>VPM_CreateVendorName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ZIPPostcode__c</field>
            <value>
                <elementReference>VPM_CreatePostcode</elementReference>
            </value>
        </inputAssignments>
        <object>VPM_PurchasingRequests__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>VPM_UpdateExtendVendorRecord</name>
        <label>VPM_UpdateExtendVendorRecord</label>
        <locationX>943</locationX>
        <locationY>923</locationY>
        <connector>
            <targetReference>VPM_FinishScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VPM_VendorExtendRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_AdvancedFormSubmitted__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_City__c</field>
            <value>
                <elementReference>VPM_ExtendCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Street1__c</field>
            <value>
                <elementReference>VPM_ExtendStreet1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_TargetECC__c</field>
            <value>
                <elementReference>VPM_ExtendECC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_VendorName__c</field>
            <value>
                <elementReference>VPM_ExtendName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ZIPPostcode__c</field>
            <value>
                <elementReference>VPM_ExtendZIPPostcode</elementReference>
            </value>
        </inputAssignments>
        <object>VPM_PurchasingRequests__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>VPM_UpdateMaintainVendorRecord</name>
        <label>VPM_UpdateMaintainVendorRecord</label>
        <locationX>585</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>VPM_UpdateApprovalRequirementsForPurchasingRequest</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VPM_VendorMaintainRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_AccountHolderName__c</field>
            <value>
                <elementReference>VPM_MaintainAccountHolderName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_AdvancedFormSubmitted__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_BankAccountNumber__c</field>
            <value>
                <elementReference>VPM_MaintainBankAccountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_City__c</field>
            <value>
                <elementReference>VPM_MaintainCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Street1__c</field>
            <value>
                <elementReference>VPM_MaintainStreet1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_VendorName__c</field>
            <value>
                <elementReference>VPM_MaintainName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ZIPPostcode__c</field>
            <value>
                <elementReference>VPM_MaintainPostcode</elementReference>
            </value>
        </inputAssignments>
        <object>VPM_PurchasingRequests__c</object>
    </recordUpdates>
    <screens>
        <name>VPM_BankDetailsSection</name>
        <label>Bank Details Section</label>
        <locationX>10</locationX>
        <locationY>868</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_MenuScreenDecision</targetReference>
        </connector>
        <fields>
            <name>VPM_AccountName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_PurchasingRequest.VPM_AccountHolderName__c</elementReference>
            </defaultValue>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_BankAccountNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_PurchasingRequest.VPM_BankAccountNumber__c</elementReference>
            </defaultValue>
            <fieldText>Bank Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_FinanceDetailField1</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Finance Detail Field1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_FinanceDetailsField2</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Finance Details Field2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_MenuBankDetails</name>
            <choiceReferences>VPM_Menu</choiceReferences>
            <choiceReferences>VPM_Exit</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>VPM_BusinessRequestReview</name>
        <label>Business Request Review</label>
        <locationX>311</locationX>
        <locationY>216</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>VPM_VendorMatching</targetReference>
        </connector>
        <fields>
            <name>VPM_VendorSearchInstr</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Below is a summary of the information entered by the Business Requestor. You can amend some of the information (e.g. a spelling mistake) before searching in SAP on the next screen. &lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;Vendor Name: &lt;/I&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!VPM_RapidVendorName}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;What they want to buy: &lt;/I&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!VPM_RapidWhatAreYouBuying}&lt;/FONT&gt;&lt;I&gt; &lt;/I&gt;&lt;FONT KERNING=&quot;1&quot;&gt; &lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;Purchasing Country: &lt;/I&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!VPM_RapidPurchasingCountry}&lt;/FONT&gt;&lt;I&gt; &lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;Comments: &lt;/I&gt;{!VPM_RapidComments}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_SearchVendorName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidVendorName</elementReference>
            </defaultValue>
            <fieldText>Vendor Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_SearchStreet1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidVendorStreet</elementReference>
            </defaultValue>
            <fieldText>Street 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_SearchZIPPostcode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidZIPPostcode</elementReference>
            </defaultValue>
            <fieldText>ZIP/Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_SearchTaxCode</name>
            <dataType>String</dataType>
            <fieldText>Tax Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>VPM_CreateAVendor</name>
        <label>Request Brief Section</label>
        <locationX>159</locationX>
        <locationY>875</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>VPM_MenuScreenDecision</targetReference>
        </connector>
        <fields>
            <name>VPM_CreateInstructions</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Fill the details for the new Vendor then click &lt;B&gt;Next&lt;/B&gt; to send the record for approval.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_CreateVendorName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidVendorName</elementReference>
            </defaultValue>
            <fieldText>Vendor Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_CreateStreet1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidVendorStreet</elementReference>
            </defaultValue>
            <fieldText>Street 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_CreateCity</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_CreatePostcode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidZIPPostcode</elementReference>
            </defaultValue>
            <fieldText>Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_CreateCountry</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidPurchasingCountry</elementReference>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_CreateContactEmailAddress</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidContactEmail</elementReference>
            </defaultValue>
            <fieldText>Contact Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.</errorMessage>
                <formulaExpression>REGEX(VPM_CreateContactEmailAddress,&apos;([a-zA-Z0-9_\\-\\.]+)@((\\[a-z]{1,3}\\.[a-z]{1,3}\\.[a-z]{1,3}\\.)|(([a-zA-Z0-9\\-]+\\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})&apos;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>VPM_MenuRequestBrief</name>
            <choiceReferences>VPM_Menu</choiceReferences>
            <choiceReferences>VPM_Exit</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>VPM_ExtendInfo</name>
        <label>Extend</label>
        <locationX>944</locationX>
        <locationY>687</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>VPM_ExtendRegionSpecificFields</targetReference>
        </connector>
        <fields>
            <name>VPM_ExtendInstr</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Enter the information for the Vendor as shown. Leaving a field empty will push a blank value in to SAP. Click &lt;B&gt;Next&lt;/B&gt; to continue.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Vendor: &lt;/B&gt;{!VPM_FullVendorDetails}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Vendor Code:&lt;/B&gt; {!VPM_Vendors.VPM_VendorCode__c}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_ExtendName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidVendorName</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Name:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ExtendStreet1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidVendorStreet</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Street:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ExtendCity</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_Vendors.VPM_City__c</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;City:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ExtendZIPPostcode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidZIPPostcode</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Postcode:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ExtendCountry</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidPurchasingCountry</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Country:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ExtendECC</name>
            <choiceReferences>VPM_Cordillera</choiceReferences>
            <choiceReferences>VPM_Sirius</choiceReferences>
            <choiceReferences>VPM_U2K2</choiceReferences>
            <choiceReferences>VPM_Fusion</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Select Extension Region &lt;/B&gt;&lt;I&gt;(currently {!VPM_Vendors.VPM_ECCEntries__c}):&lt;/I&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>VPM_ExtendRegionSpecificFields</name>
        <label>Region Specific Fields</label>
        <locationX>944</locationX>
        <locationY>798</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>VPM_UpdateExtendVendorRecord</targetReference>
        </connector>
        <fields>
            <name>VPM_RegionSpecificInstr</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You have selected to Extend this Vendor to {!VPM_ExtendECC}. The following fields are specific to this ECC, and you may wish to complete these.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Click &lt;B&gt;Next&lt;/B&gt; to submit this record for approval.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_ExtendFusionArabiaOldNumber</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Arabia Old Number:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ExtendFusionIsraelOldNumber</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Israel Old Number:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ExtendFusionTurkeyOldNumber</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Turkey Old Number:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ExtendFusionNPIVendor</name>
            <dataType>Boolean</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;NPI Vendor:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>VPM_FinishScreen</name>
        <label>Advanced Form Completed</label>
        <locationX>590</locationX>
        <locationY>928</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>VPM_FinishInstr</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Thank you for completing this Advanced form. The request has been automatically routed to the approval team/s.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>VPM_launchScreen</name>
        <label>Launch Screen</label>
        <locationX>18</locationX>
        <locationY>412</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_LaunchScreenDecision</targetReference>
        </connector>
        <fields>
            <name>VPM_CreateType</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Type :&lt;/B&gt; Create&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_RequestTypeChoice</name>
            <choiceReferences>VPM_RequestBrief</choiceReferences>
            <choiceReferences>VPM_BankDetailsChoice</choiceReferences>
            <choiceReferences>VPM_PaymentTeamsChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Space</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_FinalChoice</name>
            <choiceReferences>VPM_SubmitChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Launch Screen&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</pausedText>
    </screens>
    <screens>
        <name>VPM_MaintainData</name>
        <label>Maintain</label>
        <locationX>497</locationX>
        <locationY>664</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>VPM_UpdateMaintainVendorRecord</targetReference>
        </connector>
        <fields>
            <name>VPM_MaintainInstr</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Edit the information for the Vendor as shown. Clearing out the field will enter a blank value in to SAP. Click &lt;B&gt;Next&lt;/B&gt; to send your changes for approval.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Vendor: &lt;/B&gt;{!VPM_FullVendorDetails}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Vendor Code:&lt;/B&gt; {!VPM_Vendors.VPM_VendorCode__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_MaintainName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidVendorName</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Name &lt;/B&gt;&lt;I&gt;(previously {!VPM_Vendors.VPM_VendorName__c})&lt;/I&gt;&lt;B&gt;:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_MaintainStreet1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidVendorStreet</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Street&lt;/B&gt; &lt;I&gt;(previously {!VPM_Vendors.VPM_Street1__c})&lt;/I&gt;:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_MaintainCity</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_Vendors.VPM_City__c</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;City&lt;/B&gt; &lt;I&gt;(previously {!VPM_Vendors.VPM_City__c})&lt;/I&gt;:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_MaintainPostcode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidZIPPostcode</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Postcode&lt;/B&gt; &lt;I&gt;(previously {!VPM_Vendors.VPM_ZIPPostcode__c})&lt;/I&gt;:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MaintainBankDetails</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Bank Details &lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_MaintainBankAccountNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_PurchasingRequest.VPM_BankAccountNumber__c</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Bank Account Number &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt; &lt;/B&gt;&lt;I&gt;(previously &lt;/I&gt;&lt;FONT KERNING=&quot;0&quot;&gt;&lt;I&gt;{!VPM_PurchasingRequest.VPM_BankAccountNumber__c} :&lt;/I&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_MaintainAccountHolderName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_PurchasingRequest.VPM_AccountHolderName__c</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Account Holder Name &lt;/B&gt; (previously  {!VPM_PurchasingRequest.VPM_AccountHolderName__c} :&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>VPM_MaintainExtendChoiceDecision</name>
        <label>Maintain or Extend?</label>
        <locationX>744</locationX>
        <locationY>565</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>VPM_MaintainExtendChoice</targetReference>
        </connector>
        <fields>
            <name>VPM_MaintainExtendInstr</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Would you like to maintain the existing Vendor or extend the Vendor to a new ECC?&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;Vendor: &lt;/I&gt;{!VPM_FullVendorDetails}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_ChoiceExtendMaintain</name>
            <choiceReferences>VPM_Maintain</choiceReferences>
            <choiceReferences>VPM_Extend</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>VPM_PaymentTermsScreen</name>
        <label>Payment Terms Screen</label>
        <locationX>297</locationX>
        <locationY>879</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_MenuScreenDecision</targetReference>
        </connector>
        <fields>
            <name>VPM_ProcurementDetailField1</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Procurement Detail Field 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ProcurementDetailsField2</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Procurement Details Field 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Vpm_MenuPaymetTerms</name>
            <choiceReferences>VPM_Menu</choiceReferences>
            <choiceReferences>VPM_Exit</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Payment Terms</pausedText>
    </screens>
    <screens>
        <name>VPM_VendorMatching</name>
        <label>Vendor Matching</label>
        <locationX>308</locationX>
        <locationY>337</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Purchasing_Request_Record_Types</targetReference>
        </connector>
        <fields>
            <name>VPM_VendMatchInstructions</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If the search criteria found a match, select the Vendor you wish to work on. Otherwise select &amp;apos;Vendor not on this List&amp;apos;. Click &lt;B&gt;Next &lt;/B&gt;when you&amp;apos;re ready&lt;B&gt;. &lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_SelectExistingVendor</name>
            <choiceReferences>VPM_ExistingVendorMatch</choiceReferences>
            <choiceReferences>VPM_VendorNotListed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vendor in MDM</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>Records found based on Name, Street, Postcode or Tax information matching. Click &apos;Previous&apos; to amend your search.</helpText>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>VPM_PurchasingRequestRecord</startElementReference>
    <variables>
        <description>Stores the text value for the formula that groups the Core Vendor information together from the Vendor object</description>
        <name>VPM_FullVendorDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the unique ID of the Vendor matched in SAP</description>
        <name>VPM_MatchedVendorID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Purchasing Request object used to store and process requests</description>
        <name>VPM_PurchasingRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>VPM_PurchasingRequests__c</objectType>
    </variables>
    <variables>
        <description>Stores the ID of the Purchasing Request record the flow was initiated from</description>
        <name>VPM_PurchasingRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>VPM_PurchasingRequest.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>VPM_PurchasingRequestInitialRecordTypeData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>VPM - Stores the record type ID of the purchasing request when initially created</description>
        <name>VPM_PurchasingRequestInitialRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VPM_PurchasingRequestRecordTypeChoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>VPM - sVariable collection of all Purchasing Request Record Types</description>
        <name>VPM_PurchasingRequestRecordTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>Stores the comments entered by the Business Requestor on the Rapid form</description>
        <name>VPM_RapidComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The email address entered by the Business Requestor on the Rapid form under Vendor Contact Details</description>
        <name>VPM_RapidContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Purchasing Country entered by the Business Requestor on the Rapid form</description>
        <name>VPM_RapidPurchasingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VPM_RapidVendorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Records the street name as entered on the Rapid form</description>
        <name>VPM_RapidVendorStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the &apos;What are you Buying&apos; value entered by the Business Requestor on the Rapid form</description>
        <name>VPM_RapidWhatAreYouBuying</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Postcode data entered by the Business Requestor on the Rapid form</description>
        <name>VPM_RapidZIPPostcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorCreateRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorExtendRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorMaintainRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>For the Vendor object for data lookup</description>
        <name>VPM_Vendors</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>VPM_Vendors__c</objectType>
    </variables>
</Flow>
