src/flows/VPM_Purchasing_Request_Vendor_Match-9.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>VPM_IsApprovedAssignment</name>
        <label>IsApproved Assignment</label>
        <locationX>151</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>VPM_ActionVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>E</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>VPM_CountryDefaultChoice</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!VPM_PurchasingRequest.VPM_Country__c}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>VPM_PurchasingRequest.VPM_Country__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>VPM_CountryFromRapidForm</name>
        <choiceText>{!VPM_RapidPurchasingCountry}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>VPM_RapidPurchasingCountry</elementReference>
        </value>
    </choices>
    <choices>
        <name>VPM_VendorNotListed</name>
        <choiceText>My Vendor Isn&apos;t Listed</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>VPM_Decision_Update_vendor_Match</name>
        <label>Decision Update vendor Match</label>
        <locationX>147</locationX>
        <locationY>349</locationY>
        <defaultConnector>
            <targetReference>VPM_VendorMatching</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_Record_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PurchasingRequest.VPM_IsLock__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_VendorMatchUpdate</targetReference>
            </connector>
            <label>Record Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_SubmitExtend</name>
        <label>SubmitExtend</label>
        <locationX>98</locationX>
        <locationY>562</locationY>
        <defaultConnector>
            <targetReference>VPM_FetchVendorDetailsCall</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_ExtendIsLock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PurchasingRequest.VPM_IsLock__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_ExtendLockErrorMessage</targetReference>
            </connector>
            <label>ExtendIsLock</label>
        </rules>
        <rules>
            <name>VPM_ExtendRework</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PurchasingRequest.VPM_Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Re-work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_PurchasingRequest.VPM_IsLock__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_ExtendReworkMessage</targetReference>
            </connector>
            <label>ExtendRework</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>VPM_ExistingVendorMatch</name>
        <dataType>String</dataType>
        <displayField>VPM_FullDetails__c</displayField>
        <filters>
            <field>VPM_TaxDetails__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>VPM_SearchTaxCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>mdm_Name1__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>VPM_SearchVendorName</elementReference>
            </value>
        </filters>
        <filters>
            <field>mdm_Postcode__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>VPM_SearchZIPPostcode</elementReference>
            </value>
        </filters>
        <filters>
            <field>mdm_Street__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>VPM_SearchStreet1</elementReference>
            </value>
        </filters>
        <object>mdm_Vendors__c</object>
        <outputAssignments>
            <assignToReference>VPM_MatchedVendorIDVar</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_FullVendorDetailsVar</assignToReference>
            <field>VPM_FullDetails__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Vendors.mdm_City__c</assignToReference>
            <field>mdm_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Vendors.mdm_Code__c</assignToReference>
            <field>mdm_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Vendors.mdm_ECC__c</assignToReference>
            <field>mdm_ECC__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Vendors.mdm_Name1__c</assignToReference>
            <field>mdm_Name1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Vendors.mdm_Postcode__c</assignToReference>
            <field>mdm_Postcode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Vendors.mdm_Street__c</assignToReference>
            <field>mdm_Street__c</field>
        </outputAssignments>
        <sortField>mdm_Name1__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VPMMDMCountry</name>
        <dataType>String</dataType>
        <displayField>Country_Name__c</displayField>
        <limit>200</limit>
        <object>VPM_MDMCountry__c</object>
        <outputAssignments>
            <assignToReference>VPM_RapidPurchasingCountry</assignToReference>
            <field>Country_Name__c</field>
        </outputAssignments>
        <sortField>Country_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Country_Name__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>VPM Purchasing Request Vendor Match {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VPM Purchasing Request Vendor Match</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>VPM_VendorMatchRecordLookUp</name>
        <label>VPM Vendor Match Record Look Up</label>
        <locationX>144</locationX>
        <locationY>139</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VPM_BusinessRequestReview</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </filters>
        <object>VPM_PurchasingRequests__c</object>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequest.VPM_Country__c</assignToReference>
            <field>VPM_Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequest.VPM_IsLock__c</assignToReference>
            <field>VPM_IsLock__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequest.VPM_Status__c</assignToReference>
            <field>VPM_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RapidVendorStreetVar</assignToReference>
            <field>VPM_Street1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RapidVendorNameVar</assignToReference>
            <field>VPM_VendorName1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RapidZIPPostcodeVar</assignToReference>
            <field>VPM_ZIPPostcode__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>VPM_VendorMatchUpdate</name>
        <label>Vendor Match Update</label>
        <locationX>298</locationX>
        <locationY>456</locationY>
        <connector>
            <targetReference>VPM_VendorMatching</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VPM_RecordTypeIDVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Country__c</field>
            <value>
                <elementReference>VPM_MDM_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Street1__c</field>
            <value>
                <elementReference>VPM_SearchStreet1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_VendorName1__c</field>
            <value>
                <elementReference>VPM_SearchVendorName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ZIPPostcode__c</field>
            <value>
                <elementReference>VPM_SearchZIPPostcode</elementReference>
            </value>
        </inputAssignments>
        <object>VPM_PurchasingRequests__c</object>
    </recordUpdates>
    <screens>
        <name>VPM_BusinessRequestReview</name>
        <label>Business Request Review</label>
        <locationX>148</locationX>
        <locationY>243</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_Decision_Update_vendor_Match</targetReference>
        </connector>
        <fields>
            <name>VPM_VendorSearchInstr</name>
            <fieldText>Below is a summary of the information entered by the Business Requestor. You can amend some of the information (e.g. a spelling mistake) before searching in SAP on the next screen.


Vendor Name: {!VPM_RapidVendorNameVar}
What they want to buy: {!VPM_RapidWhatAreYouBuyingVar}  
Purchasing Country:  {!VPM_RapidPurchasingCountry} 
Comments: {!vpm_rapidcommentsvar}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_SearchVendorName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidVendorNameVar</elementReference>
            </defaultValue>
            <fieldText>Vendor Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_SearchStreet1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidVendorStreetVar</elementReference>
            </defaultValue>
            <fieldText>Street 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_SearchZIPPostcode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidZIPPostcodeVar</elementReference>
            </defaultValue>
            <fieldText>ZIP/Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_SearchTaxCode</name>
            <dataType>String</dataType>
            <fieldText>Tax Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_MDM_Country</name>
            <choiceReferences>VPMMDMCountry</choiceReferences>
            <choiceReferences>VPM_CountryDefaultChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>VPM_CountryDefaultChoice</defaultSelectedChoiceReference>
            <fieldText>VPM MDM Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>VPM_ExtendLockErrorMessage</name>
        <label>ExtendLockErrorMessage</label>
        <locationX>14</locationX>
        <locationY>687</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_IsApprovedAssignment</targetReference>
        </connector>
        <fields>
            <name>VPM_ExtendIslockErrorMessage</name>
            <fieldText>It&apos;s already under approval process</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>VPM_ExtendReworkMessage</name>
        <label>ExtendReworkMessage</label>
        <locationX>297</locationX>
        <locationY>693</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_IsApprovedAssignment</targetReference>
        </connector>
        <fields>
            <name>VPM_ReworkExtendMessage</name>
            <fieldText>This request is in an approval process. Please click the &apos;Recall&apos; button on the approval related list below first&apos;.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>VPM_VendorMatching</name>
        <label>Vendor Matching</label>
        <locationX>111</locationX>
        <locationY>454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_SubmitExtend</targetReference>
        </connector>
        <fields>
            <name>VPM_VendMatchInstructions</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If the search criteria found a match, select the Vendor you wish to work on. Otherwise select &amp;apos;Vendor not on this List&amp;apos;. Click &lt;B&gt;Next &lt;/B&gt;when you&amp;apos;re ready. &lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_SelectExistingVendor</name>
            <choiceReferences>VPM_ExistingVendorMatch</choiceReferences>
            <choiceReferences>VPM_VendorNotListed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vendor in MDM</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>VPM_VendorMatchRecordLookUp</startElementReference>
    <subflows>
        <name>VPM_FetchVendorDetailsCall</name>
        <label>VPM_FetchVendorDetailsCall</label>
        <locationX>157</locationX>
        <locationY>690</locationY>
        <flowName>VPM_Fetch_Vendor_Details_Service_Call_Flow</flowName>
        <inputAssignments>
            <name>VPM_CompanyCodeVar</name>
            <value>
                <elementReference>VPM_CompanyCodeCar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_ECCVar</name>
            <value>
                <elementReference>VPM_Vendors.mdm_ECC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_VendorCodeVar</name>
            <value>
                <elementReference>VPM_Vendors.mdm_Code__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VPM_IsBlocked</assignToReference>
            <name>VPM_IsBlocked</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_IsDeletedVar</assignToReference>
            <name>VPM_IsDeletedVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_CompanyCodeCar</assignToReference>
            <name>VPM_CompanyCodeVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_IdVendorFound</assignToReference>
            <name>VPM_IsVendorFoundVar</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>VPM_ActionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CompanyCodeCar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_FullVendorDetailsVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_IdVendorFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_IsBlocked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_IsDeletedVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_MatchedVendorIDVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_PurchasingRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>VPM_PurchasingRequests__c</objectType>
    </variables>
    <variables>
        <name>VPM_PurchasingRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vpm_rapidcommentsvar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RapidPurchasingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RapidVendorNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RapidVendorStreetVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RapidWhatAreYouBuyingVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RapidZIPPostcodeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RecordTypeIDVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorPhoneVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VPM_Vendors</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>mdm_Vendors__c</objectType>
    </variables>
</Flow>
