src/flows/VPM_AssignFinanceQueueApprover-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>VPM_QueueCountryNotMatching</name>
        <label>QueueCountryNotMatching</label>
        <locationX>137</locationX>
        <locationY>329</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>This will fail to trigger an approval process. Please contact your System Administrator.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>For Selected Country Requesting Vendor {!VPM_VendorRequestCountry} does not have Queue Configured</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>kevin.white@capgemini.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>VPM_QueueFoundDecision</name>
        <label>Queue Found ??</label>
        <locationX>142</locationX>
        <locationY>160</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_QueueNotfoundOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_QueueID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_QueueCountryNotMatching</targetReference>
            </connector>
            <label>Queue Not found</label>
        </rules>
        <rules>
            <name>VPM_QueueFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_QueueID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_UpdateFianceApproval</targetReference>
            </connector>
            <label>Queue Found</label>
        </rules>
    </decisions>
    <interviewLabel>Assign Finance Queue Approver  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Finance Queue Approver</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>VPM_Find_Queue</name>
        <label>Find Queue</label>
        <locationX>141</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VPM_QueueFoundDecision</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>VPM_VendorRequestCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>Var_QueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>VPM_UpdateFianceApproval</name>
        <label>Update Fiance Approval</label>
        <locationX>363</locationX>
        <locationY>331</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PurchaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Var_QueueID</elementReference>
            </value>
        </inputAssignments>
        <object>VPM_PurchasingRequests__c</object>
    </recordUpdates>
    <startElementReference>VPM_Find_Queue</startElementReference>
    <variables>
        <name>PurchaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_QueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VendorRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>VPM_PurchasingRequests__c</objectType>
    </variables>
    <variables>
        <name>VPM_QueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorRequestCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
