src/flows/VPM_PurchasingRequestVendorDetails-18.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>VPM_IsApprovedAssignement</name>
        <label>IsApproved Assignement</label>
        <locationX>227</locationX>
        <locationY>762</locationY>
        <assignmentItems>
            <assignToReference>VPM_ActionVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>E</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>VPM_Vendor_Detail_Assignment</name>
        <label>Vendor Detail Assignment</label>
        <locationX>248</locationX>
        <locationY>344</locationY>
        <assignmentItems>
            <assignToReference>VPM_ActionVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_CreateMenuVendorDetails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VPM_VendorDetailsScreenVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vendor Details</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_SubmitExtend</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>VPM_cashmgmtgroup</name>
        <choiceText>cashmgmtgroup</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>VPM_PurchasingRequest.VPM_CashManagementGroup__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>VPM_CountryRequestingVendor1</name>
        <choiceText>CountryRequestingVendor</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>VPM_PurchasingRequest.VPM_CountryRequestingVendor__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>VPM_Coutry1</name>
        <choiceText>{!VPM_PurchasingRequest.VPM_Country__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>VPM_PurchasingRequest.VPM_Country__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>VPM_Default</name>
        <choiceText>{!VPM_PurchasingRequest.VPM_GlobalAuthorisationGroup__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>VPM_PurchasingRequest.VPM_GlobalAuthorisationGroup__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>VPM_ExceptionType</name>
        <choiceText>Exception Type</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>VPM_PurchasingRequest.VPM_ExceptionType__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>VPM_Exit</name>
        <choiceText>Save &amp; Exit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Menu</name>
        <choiceText>Save</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_PurchasingOrganization</name>
        <choiceText>Purchasing Organization</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>VPM_PurchasingRequest.VPM_PurchasingOrganisation__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>VPM_SupplierAssessmentQuestionnaireSour1</name>
        <choiceText>{!VPM_PurchasingRequest.VPM_SupplierAssessmentQuestionnaireSour__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>VPM_PurchasingRequest.VPM_SupplierAssessmentQuestionnaireSour__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>VPM_supplieraudit1</name>
        <choiceText>supplier audit</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>VPM_PurchasingRequest.VPM_SupplierAuditSourcing__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>VPM_supplierauditnew</name>
        <choiceText>{!VPM_PurchasingRequest.VPM_SupplierAuditSourcing__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>VPM_PurchasingRequest.VPM_SupplierAuditSourcing__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>VPM_SupplierPositiveAssuranceSourcing1</name>
        <choiceText>{!VPM_PurchasingRequest.VPM_SupplierPositiveAssuranceSourcing__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>VPM_PurchasingRequest.VPM_SupplierPositiveAssuranceSourcing__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>VPM_Title1</name>
        <choiceText>Title</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>VPM_PurchasingRequest.VPM_Title__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>VPM_VendorSubType1</name>
        <choiceText>Vendor Sub Type</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>VPM_PurchasingRequest.VPM_VendorSubType__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>VPM_VendorType1</name>
        <choiceText>VendorType</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>VPM_VendorType</elementReference>
        </value>
    </choices>
    <choices>
        <name>VPM_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Y</stringValue>
        </value>
    </choices>
    <decisions>
        <name>VPM_SubmitExtend</name>
        <label>SubmitExtend</label>
        <locationX>255</locationX>
        <locationY>445</locationY>
        <defaultConnector>
            <targetReference>VPM_ExtendLockErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_RecordUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PurchasingRequest.VPM_IsLock__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_RequestVendorDetaillsUpdate</targetReference>
            </connector>
            <label>VPM_RecordUpdate</label>
        </rules>
        <rules>
            <name>VPM_ExtendRework</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PurchasingRequest.VPM_Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Re-Work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_PurchasingRequest.VPM_IsLock__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_ExtendReworkMessage</targetReference>
            </connector>
            <label>ExtendRework</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>VPM_AccountStatementChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VPM_AccountStatement__c</picklistField>
        <picklistObject>VPM_PurchasingRequests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VPM_ActualQMSystemChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VPM_ActualQMSystem__c</picklistField>
        <picklistObject>VPM_PurchasingRequests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VPM_Cashmgmntgroup</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VPM_CashManagementGroup__c</picklistField>
        <picklistObject>VPM_PurchasingRequests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VPM_Country</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VPM_Country__c</picklistField>
        <picklistObject>VPM_PurchasingRequests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VPM_CountryRequestingVendors</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VPM_CountryRequestingVendor__c</picklistField>
        <picklistObject>VPM_PurchasingRequests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VPM_DepartmentChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VPM_Department__c</picklistField>
        <picklistObject>VPM_PurchasingRequests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VPM_ExceptiontypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VPM_ExceptionType__c</picklistField>
        <picklistObject>VPM_PurchasingRequests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VPM_FunctionChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VPM_Function__c</picklistField>
        <picklistObject>VPM_PurchasingRequests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VPM_GlobalAuthorisationGroup</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VPM_GlobalAuthorisationGroup__c</picklistField>
        <picklistObject>VPM_PurchasingRequests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VPM_hasingOrganisations</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VPM_PurchasingOrganisation__c</picklistField>
        <picklistObject>VPM_PurchasingRequests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VPM_InstructionKeyChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VPM_InstructionKeyDataExchange__c</picklistField>
        <picklistObject>VPM_PurchasingRequests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VPM_SupplierAssessmentQuestionnaireSourChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VPM_SupplierAssessmentQuestionnaireSour__c</picklistField>
        <picklistObject>VPM_PurchasingRequests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VPM_SupplierAuditSourcingChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VPM_SupplierAuditSourcing__c</picklistField>
        <picklistObject>VPM_PurchasingRequests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VPM_SupplierPositiveAssuranceSourcingChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VPM_SupplierPositiveAssuranceSourcing__c</picklistField>
        <picklistObject>VPM_PurchasingRequests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VPM_TitleChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VPM_Title__c</picklistField>
        <picklistObject>VPM_PurchasingRequests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VPM_VendorSubTypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VPM_VendorSubType__c</picklistField>
        <picklistObject>VPM_PurchasingRequests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VPM_VendorTypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VPM_VendorType__c</picklistField>
        <picklistObject>VPM_PurchasingRequests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VPM_VendorTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VPM_VendorType__c</picklistField>
        <picklistObject>VPM_PurchasingRequests__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>VPM_CompanyCodeSapFormula</name>
        <dataType>String</dataType>
        <expression>If(NOT(ISBlank({!VPM_CompanyCodeSapVar})),&apos;(Previously &apos; +{!VPM_CompanyCodeSapVar} + &apos; )&apos; ,&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>VPM_VendorCodeSapFormula</name>
        <dataType>String</dataType>
        <expression>If(NOT(ISBlank({!VPM_VendorCodeSapVar})),&apos;(Previously &apos; +{!VPM_VendorCodeSapVar} + &apos; )&apos;,&apos; &apos;)</expression>
    </formulas>
    <interviewLabel>VPM Purchasing Request Vendor Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VPM Purchasing Request Vendor Details</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>VPM_PurchasingRequestRecordVendorDetails</name>
        <label>PurchasingRequestRecordVendorDetails</label>
        <locationX>246</locationX>
        <locationY>98</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VPM_CreateVendorDetailScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </filters>
        <object>VPM_PurchasingRequests__c</object>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequestID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ABCIndicatorVar</assignToReference>
            <field>VPM_ABCIndicator__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_AccountClerkTelephoneNumberVar</assignToReference>
            <field>VPM_AccountClerkTelephoneNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_AccountMemoVar</assignToReference>
            <field>VPM_AccountMemo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_AccountingClerkVar</assignToReference>
            <field>VPM_AccountingClerk__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_AchillesRegistrationCodeVar</assignToReference>
            <field>VPM_AchillesRegistrationCode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_AlreadyAvailableSupplierUseVar</assignToReference>
            <field>VPM_AlreadyAvailableSupplierUse__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_AlternateVendorNumVar</assignToReference>
            <field>VPM_AlternateVendorNum__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_AlternativePayeeVar</assignToReference>
            <field>VPM_AlternativePayee__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ArabicversionVar</assignToReference>
            <field>VPM_ArabicVersion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_BlockFunctionVar</assignToReference>
            <field>VPM_BlockFunction__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Centraldeletionflagss</assignToReference>
            <field>VPM_CentralDeletionFlag__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_CentralPostingBlockVar</assignToReference>
            <field>VPM_CentralPostingBlock__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_CentralPurchasingBlockVar</assignToReference>
            <field>VPM_CentralPurchasingBlock__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_CheckDigitVar</assignToReference>
            <field>VPM_CheckDigit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_CityVAR</assignToReference>
            <field>VPM_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ClerksInternetVar</assignToReference>
            <field>VPM_ClerksInternet__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_CommodityClassVar</assignToReference>
            <field>VPM_CommodityClass__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_CommodityFamilyVar</assignToReference>
            <field>VPM_CommodityFamily__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_CommodityNameVar</assignToReference>
            <field>VPM_CommodityName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_CompanyPostCodeVar</assignToReference>
            <field>VPM_CompanyPostCode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ConfirmationControlVar</assignToReference>
            <field>VPM_ConfirmationControl__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ContactPersonSurnameVar</assignToReference>
            <field>VPM_ContactPersonSurname__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ContactPersonVar</assignToReference>
            <field>VPM_ContactPerson__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_CorporateGrpVar</assignToReference>
            <field>VPM_CorporateGrp__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequest.VPM_Country__c</assignToReference>
            <field>VPM_Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_GroupingKeyVar</assignToReference>
            <field>VPM_CreditInfoNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_CreditInfoNumberVar</assignToReference>
            <field>VPM_CreditInfoNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_CustomerVar</assignToReference>
            <field>VPM_Customer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_DataLineVar</assignToReference>
            <field>VPM_DataLine__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_DunnProcedureVar</assignToReference>
            <field>VPM_DunnProcedure__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_EqualisationTaxVar</assignToReference>
            <field>VPM_EqualisationTax__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ExtManufacturerVar</assignToReference>
            <field>VPM_ExtManufacturer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Extension2Var</assignToReference>
            <field>VPM_Extension2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Extension3Var</assignToReference>
            <field>VPM_Extension3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ExtensionPhoneVAR</assignToReference>
            <field>VPM_ExtensionPhone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ExternalMFGVar</assignToReference>
            <field>VPM_ExternalMFG__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_FaxExtensionVar</assignToReference>
            <field>VPM_FaxExtension__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_FaxVar</assignToReference>
            <field>VPM_Fax__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequest.VPM_GlobalAuthorisationGroup__c</assignToReference>
            <field>VPM_GlobalAuthorisationGroup__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_GroupingKeyVar</assignToReference>
            <field>VPM_GroupingKey__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_HouseBankVar</assignToReference>
            <field>VPM_HouseBank__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_HouseNumSupplementVar</assignToReference>
            <field>VPM_HouseNumSupplement__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_HouseNumberVAR</assignToReference>
            <field>VPM_HouseNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Incoterms1Var</assignToReference>
            <field>VPM_Incoterms1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Incoterms2Var</assignToReference>
            <field>VPM_Incoterms2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_IndicatorSubjectToWithholdingTaxVar</assignToReference>
            <field>VPM_IndicatorSubjectToWithholdingTax__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_IndustryVar</assignToReference>
            <field>VPM_Industry__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_IntLocationNumber1Var</assignToReference>
            <field>VPM_IntLocationNumber1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_IntLocationNumber2Var</assignToReference>
            <field>VPM_IntLocationNumber2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_InternationalVersionVar</assignToReference>
            <field>VPM_InternationalVersion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_IsInvoiceReceivedVar</assignToReference>
            <field>VPM_IsInvoiceReceived__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequest.VPM_IsLock__c</assignToReference>
            <field>VPM_IsLock__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_IsNaturalPersonVarchar1</assignToReference>
            <field>VPM_IsNaturalPerson__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Local2VersionVar</assignToReference>
            <field>VPM_Local2Version__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_locationVar</assignToReference>
            <field>VPM_Location__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_locationVar</assignToReference>
            <field>VPM_Location__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_MobilePhone2Var</assignToReference>
            <field>VPM_MobilePhone2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_MobilePhone3Var</assignToReference>
            <field>VPM_MobilePhone3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_MobilePhoneVar</assignToReference>
            <field>VPM_MobilePhone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ModeTransportForeignTradeVar</assignToReference>
            <field>VPM_ModeTransportForeignTrade__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Name3Var</assignToReference>
            <field>VPM_Name3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Name4Var</assignToReference>
            <field>VPM_Name4__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_OfficeOfEntryVar</assignToReference>
            <field>VPM_OfficeOfEntry__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_OrderCurrencyVar</assignToReference>
            <field>VPM_OrderCurrency__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_OrderingEmailAddressVar</assignToReference>
            <field>VPM_OrderingEmailAddress__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_OtherCommunicationVar</assignToReference>
            <field>VPM_OtherCommunication__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_POBoxCityVar</assignToReference>
            <field>VPM_POBoxCity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_POBoxPostCodeVar</assignToReference>
            <field>VPM_POBoxPostCode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_POBoxVar</assignToReference>
            <field>VPM_POBox__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_POCreationSystemVar</assignToReference>
            <field>VPM_POCreationSystem__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PartnerFunctionsVar</assignToReference>
            <field>VPM_PartnerFunctions__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PlaceOfBirthVar</assignToReference>
            <field>VPM_PlaceOfBirth__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PreviousAccountNumberVar</assignToReference>
            <field>VPM_PreviousAccountNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PricingDateControlVar</assignToReference>
            <field>VPM_PricingDateControl__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ProfessionVar</assignToReference>
            <field>VPM_Profession_c__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ReasonNoFinancialCheckVar</assignToReference>
            <field>VPM_ReasonNoFinancialCheck__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RegionVAR</assignToReference>
            <field>VPM_Region__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RussianVersionVar</assignToReference>
            <field>VPM_RussianVersion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_SCACVar</assignToReference>
            <field>VPM_SCAC__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_SMECommentVar</assignToReference>
            <field>VPM_SMEComment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_SalesPersonVar</assignToReference>
            <field>VPM_SalesPerson__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_SalesPurchTaxVar1</assignToReference>
            <field>VPM_SalesPurchTax__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_SchemaGroupVendorVar</assignToReference>
            <field>VPM_SchemaGroupVendor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_SearchTerm2Var</assignToReference>
            <field>VPM_SearchTerm2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ServiceAgentVar</assignToReference>
            <field>VPM_ServiceAgent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ServicesItemsToPurchaseVar</assignToReference>
            <field>VPM_ServicesItemsToPurchase__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_SexVar</assignToReference>
            <field>VPM_Sex__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_StandardCommMethodVar</assignToReference>
            <field>VPM_StandardCommMethod__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequest.VPM_Status__c</assignToReference>
            <field>VPM_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Street1Var</assignToReference>
            <field>VPM_Street1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Street2Var</assignToReference>
            <field>VPM_Street2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Street3Var</assignToReference>
            <field>VPM_Street3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Street4Var</assignToReference>
            <field>VPM_Street4__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Street5Var</assignToReference>
            <field>VPM_Street5__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequest.VPM_SupplierAssessmentQuestionnaireSour__c</assignToReference>
            <field>VPM_SupplierAssessmentQuestionnaireSour__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequest.VPM_SupplierAuditSourcing__c</assignToReference>
            <field>VPM_SupplierAuditSourcing__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequest.VPM_SupplierPositiveAssuranceSourcing__c</assignToReference>
            <field>VPM_SupplierPositiveAssuranceSourcing__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_SupportingDocumentsGuidelinesVar</assignToReference>
            <field>VPM_SupportingDocumentsGuidelines__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_TaxNumAtResponsibleTaxAuthorityVar</assignToReference>
            <field>VPM_TaxNumAtResponsibleTaxAuthority__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_TaxNumber1Var</assignToReference>
            <field>VPM_TaxNumber1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_TaxNumber2Var</assignToReference>
            <field>VPM_TaxNumber2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_TaxNumber3Var</assignToReference>
            <field>VPM_TaxNumber3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_TaxNumber4Var</assignToReference>
            <field>VPM_TaxNumber4__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_TaxNumberTypeVar</assignToReference>
            <field>VPM_TaxNumberType__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_TaxTypeVar</assignToReference>
            <field>VPM_TaxType__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_TeleBoxVar</assignToReference>
            <field>VPM_TeleBox__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Telephone2Var</assignToReference>
            <field>VPM_Telephone2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Telephone3Var</assignToReference>
            <field>VPM_Telephone3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_TelephoneVar</assignToReference>
            <field>VPM_Telephone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ToleranceGroupVar</assignToReference>
            <field>VPM_ToleranceGroup__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_TradePartnerTypeVar</assignToReference>
            <field>VPM_TradePartnerType__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_TradingPartnerVar</assignToReference>
            <field>VPM_TradingPartner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_TrainStationVar</assignToReference>
            <field>VPM_TrainStation__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_TransportZoneVar</assignToReference>
            <field>VPM_TransportZone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_TransportZoneVar</assignToReference>
            <field>VPM_TransportZone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_UkrainianversionVar</assignToReference>
            <field>VPM_UkrainianVersion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_VATRegistrationNumber2Var</assignToReference>
            <field>VPM_VATRegistrationNumber2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_VATRegistrationNumber3Var</assignToReference>
            <field>VPM_VATRegistrationNumber3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_VATRegistrationNumberVar</assignToReference>
            <field>VPM_VATRegistrationNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_VendorCodeVar</assignToReference>
            <field>VPM_VendorCode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_VendorName1Var</assignToReference>
            <field>VPM_VendorName1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_VendorName2Var</assignToReference>
            <field>VPM_VendorName2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequest.VPM_VendorSubType__c</assignToReference>
            <field>VPM_VendorSubType__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>VPM_RequestVendorDetaillsUpdate</name>
        <label>Request Vendor Details Update</label>
        <locationX>245</locationX>
        <locationY>580</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VPM_RecordTypeIDVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ABCIndicator__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_AccountClerkTelephoneNumber__c</field>
            <value>
                <elementReference>VPM_AccountClerkTelephoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_AccountMemo__c</field>
            <value>
                <elementReference>VPM_AccountMemo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_AccountingClerk__c</field>
            <value>
                <elementReference>VPM_AccountingClerk</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_AchillesRegistrationCode__c</field>
            <value>
                <elementReference>VPM_AchillesRegistrationCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_AlreadyAvailableSupplierUse__c</field>
            <value>
                <elementReference>VPM_AlreadyAvailableSupplierUse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_AlternateVendorNum__c</field>
            <value>
                <elementReference>VPM_AlternateVendorNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_AlternativePayee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ArabicVersion__c</field>
            <value>
                <elementReference>VPM_Arabicversion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_BlockFunction__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_CentralDeletionFlag__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_CentralPostingBlock__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_CentralPurchasingBlock__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_CheckDigit__c</field>
            <value>
                <elementReference>VPM_CheckDigit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_City__c</field>
            <value>
                <elementReference>VPM_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ClerksInternet__c</field>
            <value>
                <elementReference>VPM_ClerksInternet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_CommodityClass__c</field>
            <value>
                <elementReference>VPM_CommodityClass</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_CommodityFamily__c</field>
            <value>
                <elementReference>VPM_CommodityFamily</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_CommodityName__c</field>
            <value>
                <elementReference>VPM_CommodityNamesss</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_CompanyCode__c</field>
            <value>
                <elementReference>VPM_CompanyCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_CompanyPostCode__c</field>
            <value>
                <elementReference>VPM_CompanyPostCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ConfirmationControl__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ContactPersonSurname__c</field>
            <value>
                <elementReference>VPM_ContactPersonSurname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ContactPerson__c</field>
            <value>
                <elementReference>VPM_ContactPerson</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_CorporateGrp__c</field>
            <value>
                <elementReference>VPM_CorporateGrp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_CountryRequestingVendor__c</field>
            <value>
                <elementReference>VPM_CountryRequestingVendor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_CreditInfoNumber__c</field>
            <value>
                <elementReference>VPM_CreditInfoNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Customer__c</field>
            <value>
                <elementReference>VPM_Customer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_DataLine__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_District__c</field>
            <value>
                <elementReference>VPM_District</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_DunnProcedure__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_EqualisationTax__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ExceptionType__c</field>
            <value>
                <elementReference>VPM_Exception_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ExtManufacturer__c</field>
            <value>
                <elementReference>VPM_ExtManufacturer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Extension2__c</field>
            <value>
                <elementReference>VPM_Extension2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Extension3__c</field>
            <value>
                <elementReference>VPM_Extension3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ExtensionPhone__c</field>
            <value>
                <elementReference>VPM_ExtensionPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ExternalMFG__c</field>
            <value>
                <elementReference>VPM_ExternalMFG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_FaxExtension__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Fax__c</field>
            <value>
                <elementReference>VPM_Fax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_GlobalAuthorisationGroup__c</field>
            <value>
                <elementReference>VPM_GlobalAuthorisationGroups</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_GroupingKey__c</field>
            <value>
                <elementReference>VPM_GroupingKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_HouseBank__c</field>
            <value>
                <elementReference>VPM_HouseBank</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_HouseNumSupplement__c</field>
            <value>
                <elementReference>VPM_HouseNumSupplement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_HouseNumber__c</field>
            <value>
                <elementReference>VPM_HouseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Incoterms1__c</field>
            <value>
                <elementReference>VPM_Incoterms1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Incoterms2__c</field>
            <value>
                <elementReference>VPM_Incoterms2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_IndicatorSubjectToWithholdingTax__c</field>
            <value>
                <elementReference>VPM_IndicatorSubjectToWithholdingTax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_IntLocationNumber1__c</field>
            <value>
                <elementReference>VPM_IntLocationNumber1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_IntLocationNumber2__c</field>
            <value>
                <elementReference>VPM_IntLocationNumber2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_InternationalVersion__c</field>
            <value>
                <elementReference>VPM_InternationalVersion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_IsInvoiceReceived__c</field>
            <value>
                <elementReference>VPM_IsInvoiceReceived</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_IsNaturalPerson__c</field>
            <value>
                <elementReference>VPM_Is_Natural_Person</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Local2Version__c</field>
            <value>
                <elementReference>VPM_Local2Version</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Location__c</field>
            <value>
                <elementReference>VPM_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_MobilePhone2__c</field>
            <value>
                <elementReference>VPM_MobilePhone2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_MobilePhone3__c</field>
            <value>
                <elementReference>VPM_MobilePhone3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_MobilePhone__c</field>
            <value>
                <elementReference>VPM_MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ModeTransportForeignTrade__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Name3__c</field>
            <value>
                <elementReference>VPM_Name3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Name4__c</field>
            <value>
                <elementReference>VPM_Name4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_OfficeOfEntry__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_OrderCurrency__c</field>
            <value>
                <elementReference>VPM_OrderCurrency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_OrderingEmailAddress__c</field>
            <value>
                <elementReference>VPM_OrderingEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_OtherCommunication__c</field>
            <value>
                <elementReference>VPM_OtherCommunication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_POBoxCity__c</field>
            <value>
                <elementReference>VPM_POBoxCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_POBoxPostCode__c</field>
            <value>
                <elementReference>VPM_POBoxPostCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_POBox__c</field>
            <value>
                <elementReference>VPM_POBox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_POCreationSystem__c</field>
            <value>
                <elementReference>VPM_POCreationSystem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_PartnerFunctions__c</field>
            <value>
                <elementReference>VPM_PartnerFunctions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_PlaceOfBirth__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_PreviousAccountNumber__c</field>
            <value>
                <elementReference>VPM_PreviousAccountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_PricingDateControl__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Profession_c__c</field>
            <value>
                <elementReference>VPM_Profession_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ReasonNoFinancialCheck__c</field>
            <value>
                <elementReference>VPM_ReasonforNofinancialcheck</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Region__c</field>
            <value>
                <elementReference>VPM_Region</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_RussianVersion__c</field>
            <value>
                <elementReference>VPM_RussianVersion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_SCAC__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_SMEComment__c</field>
            <value>
                <elementReference>VPM_SMEComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_SalesPerson__c</field>
            <value>
                <elementReference>VPM_SalesPerson</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_SalesPurchTax__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_SchemaGroupVendor__c</field>
            <value>
                <elementReference>VPM_SchemaGroupVendor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_SearchTerm2__c</field>
            <value>
                <elementReference>VPM_SearchTerm2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ServiceAgent__c</field>
            <value>
                <elementReference>VPM_ServiceAgent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ServicesItemsToPurchase__c</field>
            <value>
                <elementReference>VPM_ServicesItemsToPurchase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Sex__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_StandardCommMethod__c</field>
            <value>
                <elementReference>VPM_StandardCommMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Street1__c</field>
            <value>
                <elementReference>VPM_Street1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Street2__c</field>
            <value>
                <elementReference>VPM_Street2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Street3__c</field>
            <value>
                <elementReference>VPM_Street3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Street4__c</field>
            <value>
                <elementReference>VPM_Street4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Street5__c</field>
            <value>
                <elementReference>VPM_Street5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_SupplierAssessmentQuestionnaireSour__c</field>
            <value>
                <elementReference>VPM_PurchasingRequest.VPM_SupplierAssessmentQuestionnaireSour__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_SupplierAuditSourcing__c</field>
            <value>
                <elementReference>VPM_PurchasingRequest.VPM_SupplierAuditSourcing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_SupplierPositiveAssuranceSourcing__c</field>
            <value>
                <elementReference>VPM_PurchasingRequest.VPM_SupplierPositiveAssuranceSourcing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_SupportingDocumentsGuidelines__c</field>
            <value>
                <elementReference>VPM_SupportingDocumentsGuidelines</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_TaxNumAtResponsibleTaxAuthority__c</field>
            <value>
                <elementReference>VPM_TaxNumAtResponsibleTaxAuthority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_TaxNumber1__c</field>
            <value>
                <elementReference>VPM_TaxNumber1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_TaxNumber2__c</field>
            <value>
                <elementReference>VPM_TaxNumber2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_TaxNumber3__c</field>
            <value>
                <elementReference>VPM_TaxNumber3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_TaxNumber4__c</field>
            <value>
                <elementReference>VPM_TaxNumber4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_TaxNumberType__c</field>
            <value>
                <elementReference>VPM_TaxNumberType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_TaxType__c</field>
            <value>
                <elementReference>VPM_TaxType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_TeleBox__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Telephone2__c</field>
            <value>
                <elementReference>VPM_Telephone2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Telephone3__c</field>
            <value>
                <elementReference>VPM_Telephone3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Telephone__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Title__c</field>
            <value>
                <elementReference>VPM_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ToleranceGroup__c</field>
            <value>
                <elementReference>VPM_ToleranceGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_TradePartnerType__c</field>
            <value>
                <elementReference>VPM_TradePartnerType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_TradingPartner__c</field>
            <value>
                <elementReference>VPM_Trading_Partner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_TrainStation__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_TransportZone__c</field>
            <value>
                <elementReference>VPM_TransportZone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_UkrainianVersion__c</field>
            <value>
                <elementReference>VPM_Ukrainianversion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_VATRegistrationNumber2__c</field>
            <value>
                <elementReference>VPM_VATRegistrationNumber2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_VATRegistrationNumber3__c</field>
            <value>
                <elementReference>VPM_VATRegistrationNumber3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_VATRegistrationNumber__c</field>
            <value>
                <elementReference>VPM_VATRegistrationNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_VendorCode__c</field>
            <value>
                <elementReference>VPM_VendorCodeVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_VendorName1__c</field>
            <value>
                <elementReference>VPM_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_VendorName2__c</field>
            <value>
                <elementReference>VPM_VendorName2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_VendorSubType__c</field>
            <value>
                <elementReference>VPM_VendorSubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_VendorType__c</field>
            <value>
                <elementReference>VPM_VendorType</elementReference>
            </value>
        </inputAssignments>
        <object>VPM_PurchasingRequests__c</object>
    </recordUpdates>
    <screens>
        <name>VPM_CreateVendorDetailScreen</name>
        <label>Create Vendor Detail Screen</label>
        <locationX>245</locationX>
        <locationY>237</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_Vendor_Detail_Assignment</targetReference>
        </connector>
        <fields>
            <name>VPM_CreateVendorDetailInfo</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Vendor Detail &lt;/B&gt;&lt;FONT STYLE=&quot;font-size:16px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_VendorName2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_VendorName2Var</elementReference>
            </defaultValue>
            <fieldText>Name 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Region</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RegionVAR</elementReference>
            </defaultValue>
            <fieldText>Region</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Street1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_Street1Var</elementReference>
            </defaultValue>
            <fieldText>Street1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_PostCode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_POBoxPostCodeVar</elementReference>
            </defaultValue>
            <fieldText>Post Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Authorization</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_AuthorizationVar</elementReference>
            </defaultValue>
            <fieldText>Authorization</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_CountryNew</name>
            <choiceReferences>VPM_Country</choiceReferences>
            <choiceReferences>VPM_Coutry1</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>VPM_Coutry1</defaultSelectedChoiceReference>
            <fieldText>Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_CityVAR</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_POBox</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_POBoxVar</elementReference>
            </defaultValue>
            <fieldText>PO Box</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_OrderCurrency</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_OrderCurrencyVar</elementReference>
            </defaultValue>
            <fieldText>Order Currency</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_HouseNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_HouseNumberVAR</elementReference>
            </defaultValue>
            <fieldText>House Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_CheckDoubleInvoices</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_CheckDoubleInvoicesVar</elementReference>
            </defaultValue>
            <fieldText>Check Double Invoices</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_OrderingEmailAddress</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_OrderingEmailAddressVar</elementReference>
            </defaultValue>
            <fieldText>Ordering Email address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_District</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_DistrictVar</elementReference>
            </defaultValue>
            <fieldText>District</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Telephone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_TelephoneVar</elementReference>
            </defaultValue>
            <fieldText>Telephone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_IsVendorSME</name>
            <dataType>String</dataType>
            <fieldText>Is This Vendor an SME (Small to Medium Enterprise)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ExtensionPhone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_ExtensionPhoneVAR</elementReference>
            </defaultValue>
            <fieldText>Extension 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IsThisVendoranException</name>
            <dataType>String</dataType>
            <fieldText>Is This Vendor an Exception?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_SMEComment</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_SMECommentVar</elementReference>
            </defaultValue>
            <fieldText>SME Comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_SearchTerm</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_SearchTermVar</elementReference>
            </defaultValue>
            <fieldText>Search Term 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_TaxNumber1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_TaxNumber1Var</elementReference>
            </defaultValue>
            <fieldText>Tax Number 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_VATRegistrationNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_VATRegistrationNumberVar</elementReference>
            </defaultValue>
            <fieldText>VAT Registration Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Telephone2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_Telephone2Var</elementReference>
            </defaultValue>
            <fieldText>Telephone 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Extension2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_Extension2Var</elementReference>
            </defaultValue>
            <fieldText>Extension 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Telephone3</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_Telephone3Var</elementReference>
            </defaultValue>
            <fieldText>Telephone 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Customer</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_CustomerVar</elementReference>
            </defaultValue>
            <fieldText>Customer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Extension3</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_Extension3Var</elementReference>
            </defaultValue>
            <fieldText>Extension 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_TaxNumber2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_TaxNumber2Var</elementReference>
            </defaultValue>
            <fieldText>Tax Number 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Fax</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_FaxVar</elementReference>
            </defaultValue>
            <fieldText>Fax</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_AdoptScanDate</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>VPM_AdoptScanDateVar</elementReference>
            </defaultValue>
            <fieldText>Adopt Scan Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_Street2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_Street2Var</elementReference>
            </defaultValue>
            <fieldText>Street 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_TaxNumber3</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_TaxNumber3Var</elementReference>
            </defaultValue>
            <fieldText>Tax Number 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Industry</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_IndustryVar</elementReference>
            </defaultValue>
            <fieldText>Industry</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_StandardCommMethod</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_StandardCommMethodVar</elementReference>
            </defaultValue>
            <fieldText>Standard Comm Method</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Street3</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_Street3Var</elementReference>
            </defaultValue>
            <fieldText>Street 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_SearchTerm2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_SearchTerm2Var</elementReference>
            </defaultValue>
            <fieldText>Search Term 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ClerksInternet</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_ClerksInternetVar</elementReference>
            </defaultValue>
            <fieldText>Clerks Internet (Remittance Email address)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Language</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_locationVar</elementReference>
            </defaultValue>
            <fieldText>Language</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_MobilePhone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_MobilePhoneVar</elementReference>
            </defaultValue>
            <fieldText>Mobile Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_TaxNumAtResponsibleTaxAuthority</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_TaxNumAtResponsibleTaxAuthorityVar</elementReference>
            </defaultValue>
            <fieldText>Tax Number at Responsible Tax Authority</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_TaxNumber4</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_TaxNumber4Var</elementReference>
            </defaultValue>
            <fieldText>Tax Number 4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_IntLocationNumber1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_IntLocationNumber1Var</elementReference>
            </defaultValue>
            <fieldText>Int Location No. 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_IntLocationNumber2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_IntLocationNumber2Var</elementReference>
            </defaultValue>
            <fieldText>Int Location No. 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_CheckDigit</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_CheckDigitVar</elementReference>
            </defaultValue>
            <fieldText>Check Digit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ExtManufacturer</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_ExtManufacturerVar</elementReference>
            </defaultValue>
            <fieldText>Ext Manufacturer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ServiceAgent</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_ServiceAgentVar</elementReference>
            </defaultValue>
            <fieldText>Service Agent</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Name3</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_Name3Var</elementReference>
            </defaultValue>
            <fieldText>Name 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Name4</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_Name4Var</elementReference>
            </defaultValue>
            <fieldText>Name 4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Street4</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_Street4Var</elementReference>
            </defaultValue>
            <fieldText>Street 4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ContactPerson</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_ContactPersonVar</elementReference>
            </defaultValue>
            <fieldText>Contact Person</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ContactPersonSurname</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_ContactPersonSurnameVar</elementReference>
            </defaultValue>
            <fieldText>contact person-SURNAME</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_HouseBank</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_HouseBankVar</elementReference>
            </defaultValue>
            <fieldText>House Bank</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_PreviousAccountNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_PreviousAccountNumberVar</elementReference>
            </defaultValue>
            <fieldText>Previous Account No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_IndividualPayment</name>
            <dataType>String</dataType>
            <fieldText>Individual Payment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Profession_c</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_ProfessionVar</elementReference>
            </defaultValue>
            <fieldText>Profession</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ExternalMFG</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_ExternalMFGVar</elementReference>
            </defaultValue>
            <fieldText>ExternalMFG</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_CreditInfoNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_CreditInfoNumberVar</elementReference>
            </defaultValue>
            <fieldText>Credit Info Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_VATRegistrationNumber3</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_VATRegistrationNumber3Var</elementReference>
            </defaultValue>
            <fieldText>VAT Registration number 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_VATRegistrationNumber2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_VATRegistrationNumber2Var</elementReference>
            </defaultValue>
            <fieldText>VAT Registration number 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_SalesPerson</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_SalesPersonVar</elementReference>
            </defaultValue>
            <fieldText>Sales Person</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_AccountClerkTelephoneNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_AccountClerkTelephoneNumberVar</elementReference>
            </defaultValue>
            <fieldText>Account clerk telephone number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Clerksfax</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_ClerksfaxVar</elementReference>
            </defaultValue>
            <fieldText>Clerks fax</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_GroupingKey</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_GroupingKeyVar</elementReference>
            </defaultValue>
            <fieldText>Grouping Key</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_SchemaGroupVendor</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_SchemaGroupVendorVar</elementReference>
            </defaultValue>
            <fieldText>Schema Group Vendor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Incoterms1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_Incoterms1Var</elementReference>
            </defaultValue>
            <fieldText>Incoterms 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Incoterms2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_Incoterms2Var</elementReference>
            </defaultValue>
            <fieldText>Incoterms 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_POBoxCity</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_POBoxCityVar</elementReference>
            </defaultValue>
            <fieldText>PO Box City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_POBoxPostCode</name>
            <dataType>String</dataType>
            <fieldText>Post Code (PO Box)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_AccountingClerk</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_AccountingClerkVar</elementReference>
            </defaultValue>
            <fieldText>Accounting clerk</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Clerk_At_Vendor</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_ClerkAtVendorVar</elementReference>
            </defaultValue>
            <fieldText>Clerk At Vendor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_HouseNumSupplement</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_HouseNumSupplementVar</elementReference>
            </defaultValue>
            <fieldText>House Number Supplement</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Street5</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_Street5Var</elementReference>
            </defaultValue>
            <fieldText>Street 5</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_TransportZone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_TransportZoneVar</elementReference>
            </defaultValue>
            <fieldText>Transportation Zone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_CompanyPostCode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_CompanyPostCodeVar</elementReference>
            </defaultValue>
            <fieldText>Company Post Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_MobilePhone2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_MobilePhone2Var</elementReference>
            </defaultValue>
            <fieldText>Mobile Phone 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_MobilePhone3</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_MobilePhone3Var</elementReference>
            </defaultValue>
            <fieldText>Mobile Phone 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_CorporateGrp</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_CorporateGrpVar</elementReference>
            </defaultValue>
            <fieldText>Corporate Group</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_TaxNumber5</name>
            <dataType>String</dataType>
            <fieldText>Tax Number 5</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_TaxNumberType</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_TaxNumberTypeVar</elementReference>
            </defaultValue>
            <fieldText>Tax Number Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_TaxType</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_TaxTypeVar</elementReference>
            </defaultValue>
            <fieldText>Tax Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ToleranceGroup</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_ToleranceGroupVar</elementReference>
            </defaultValue>
            <fieldText>Tolerance Group</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_AccountGroup</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_AccountGroupVar</elementReference>
            </defaultValue>
            <fieldText>Account Group</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_TradePartnerType</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_TradePartnerTypeVar</elementReference>
            </defaultValue>
            <fieldText>Trade Partner Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Location</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_locationVar</elementReference>
            </defaultValue>
            <fieldText>Location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_GlobalAuthorisationGroups</name>
            <choiceReferences>VPM_GlobalAuthorisationGroup</choiceReferences>
            <choiceReferences>VPM_Default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>VPM_Default</defaultSelectedChoiceReference>
            <fieldText>Global Authorisation Group</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Title</name>
            <choiceReferences>VPM_TitleChoice</choiceReferences>
            <choiceReferences>VPM_Title1</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>VPM_Title1</defaultSelectedChoiceReference>
            <fieldText>Title</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ECCSystem</name>
            <dataType>Boolean</dataType>
            <fieldText>ECC System</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_CommodityNamesss</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_CommodityNameVar</elementReference>
            </defaultValue>
            <fieldText>Commodity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_VendorName1Var</elementReference>
            </defaultValue>
            <fieldText>Vendor Name1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_AnnualEstimatedSpend</name>
            <dataType>Currency</dataType>
            <fieldText>Annual Estimated Spend</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>10</scale>
        </fields>
        <fields>
            <name>VPM_Country1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_CountryVar</elementReference>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_SortKey</name>
            <dataType>String</dataType>
            <fieldText>Sort Key</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Cashmgmntgroupsss</name>
            <choiceReferences>VPM_Cashmgmntgroup</choiceReferences>
            <choiceReferences>VPM_cashmgmtgroup</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>VPM_cashmgmtgroup</defaultSelectedChoiceReference>
            <fieldText>Cash mgmnt group</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_PurchasingOrganisationsss</name>
            <choiceReferences>VPM_hasingOrganisations</choiceReferences>
            <choiceReferences>VPM_PurchasingOrganization</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>VPM_PurchasingOrganization</defaultSelectedChoiceReference>
            <fieldText>Purchasing Organisation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_DetailsofTypeofCheck</name>
            <dataType>String</dataType>
            <fieldText>Details of Type of Check</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ReasonforNofinancialcheck</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_ReasonNoFinancialCheckVar</elementReference>
            </defaultValue>
            <fieldText>Reason for No financial check</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_TaxJurisdictionCode</name>
            <dataType>String</dataType>
            <fieldText>Tax Jurisdiction Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_SupplierAudit</name>
            <choiceReferences>VPM_Yes</choiceReferences>
            <choiceReferences>VPM_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Supplier Audit</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_CountryRequestingVendor</name>
            <choiceReferences>VPM_CountryRequestingVendors</choiceReferences>
            <choiceReferences>VPM_CountryRequestingVendor1</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>VPM_CountryRequestingVendor1</defaultSelectedChoiceReference>
            <fieldText>Country Requesting Vendor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_VendorType</name>
            <choiceReferences>VPM_VendorTypePicklist</choiceReferences>
            <choiceReferences>VPM_VendorType1</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>VPM_VendorType1</defaultSelectedChoiceReference>
            <fieldText>Vendor Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ExceptionDetails</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_ExceptionDetailsVar</elementReference>
            </defaultValue>
            <fieldText>Exception Details</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_SupplierFinancialStabilityCheck</name>
            <dataType>Boolean</dataType>
            <fieldText>Supplier Financial Stability Check</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_SupplierAchillesRegistration</name>
            <dataType>Boolean</dataType>
            <fieldText>Supplier Achilles Registration</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_AchillesRegistrationCode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_AchillesRegistrationCodeVar</elementReference>
            </defaultValue>
            <fieldText>Achilles Registration Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_SupplierPositiveAssurance</name>
            <dataType>Boolean</dataType>
            <fieldText>Supplier Positive Assurance</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_SupplierAssessmentQuestionnaire</name>
            <dataType>Boolean</dataType>
            <fieldText>Supplier Assessment Questionnaire</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_DetailsofPlannedactivities</name>
            <dataType>String</dataType>
            <fieldText>Details of Planned activities</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_CompanyCode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_CompanyCodeVar</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Company Code {!VPM_CompanyCodeSapFormula}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_ForaNewPartnerLinktoexistingTradevendor</name>
            <dataType>String</dataType>
            <fieldText>For a New Partner - Link to existing Trade vendor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_AlternateVendorNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_AlternateVendorNumVar</elementReference>
            </defaultValue>
            <fieldText>Alternate Vendor Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Trading_Partner</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_TradingPartnerVar</elementReference>
            </defaultValue>
            <fieldText>Trading Partner</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_DUNS_Hierarchy_Investigation_Required</name>
            <dataType>Boolean</dataType>
            <fieldText>DUNS Hierarchy Investigation Required?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_Exception_Type</name>
            <choiceReferences>VPM_ExceptiontypeChoice</choiceReferences>
            <choiceReferences>VPM_ExceptionType</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>VPM_ExceptionType</defaultSelectedChoiceReference>
            <fieldText>Exception Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Is_Natural_Person</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>VPM_IsNaturalPersonVarchar1</elementReference>
            </defaultValue>
            <fieldText>Is Natural person</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_POCreationSystem</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_POCreationSystemVar</elementReference>
            </defaultValue>
            <fieldText>PO Creation System</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_CommodityFamily</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_CommodityFamilyVar</elementReference>
            </defaultValue>
            <fieldText>Commodity Family</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_CommodityClass</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_CommodityClassVar</elementReference>
            </defaultValue>
            <fieldText>Commodity Class</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ServicesItemsToPurchase</name>
            <defaultValue>
                <elementReference>VPM_ServicesItemsToPurchaseVar</elementReference>
            </defaultValue>
            <fieldText>What services/items would like to purchase?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_AlreadyAvailableSupplierUse</name>
            <defaultValue>
                <elementReference>VPM_AlreadyAvailableSupplierUseVar</elementReference>
            </defaultValue>
            <fieldText>Why can&apos;t an already available supplier be used?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_IsInvoiceReceived</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>VPM_IsInvoiceReceivedVar</elementReference>
            </defaultValue>
            <fieldText>Is there already an invoice received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_InternationalVersion</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_InternationalVersionVar</elementReference>
            </defaultValue>
            <fieldText>International Version</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Local2Version</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_Local2VersionVar</elementReference>
            </defaultValue>
            <fieldText>Local 2 Version</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_RussianVersion</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RussianVersionVar</elementReference>
            </defaultValue>
            <fieldText>Russian Version</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Ukrainianversion</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_UkrainianversionVar</elementReference>
            </defaultValue>
            <fieldText>Ukrainian version</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Arabicversion</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_ArabicversionVar</elementReference>
            </defaultValue>
            <fieldText>Arabic version</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_AccountMemo</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_AccountMemoVar</elementReference>
            </defaultValue>
            <fieldText>Account Memo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_IndicatorSubjectToWithholdingTax</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_IndicatorSubjectToWithholdingTaxVar</elementReference>
            </defaultValue>
            <fieldText>Indicator Subject to withholding tax?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_VendorSubType</name>
            <choiceReferences>VPM_VendorSubTypeChoice</choiceReferences>
            <choiceReferences>VPM_VendorSubType1</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>VPM_VendorSubType1</defaultSelectedChoiceReference>
            <fieldText>Vendor Sub Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_SupplierPositiveAssuranceSourcing</name>
            <choiceReferences>VPM_SupplierPositiveAssuranceSourcingChoice</choiceReferences>
            <choiceReferences>VPM_SupplierPositiveAssuranceSourcing1</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>VPM_SupplierPositiveAssuranceSourcing1</defaultSelectedChoiceReference>
            <fieldText>Supplier Positive Assurance (Vendor Responsible Sourcing section)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_SupplierAssessmentQuestionnaireSour</name>
            <choiceReferences>VPM_SupplierAssessmentQuestionnaireSourChoice</choiceReferences>
            <choiceReferences>VPM_SupplierAssessmentQuestionnaireSour1</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>VPM_SupplierAssessmentQuestionnaireSour1</defaultSelectedChoiceReference>
            <fieldText>Supplier assessment questionnaire result of risk assessment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_SupplierAuditSourcing</name>
            <choiceReferences>VPM_SupplierAuditSourcingChoice</choiceReferences>
            <choiceReferences>VPM_supplierauditnew</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>VPM_supplierauditnew</defaultSelectedChoiceReference>
            <fieldText>Supplier Audit</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_OtherCommunication</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_OtherCommunicationVar</elementReference>
            </defaultValue>
            <fieldText>Other Communication</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_SupportingDocumentsGuidelines</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_SupportingDocumentsGuidelinesVar</elementReference>
            </defaultValue>
            <fieldText>Supporting Documents &amp; Guidelines</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_PartnerFunctions</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_PartnerFunctionsVar</elementReference>
            </defaultValue>
            <fieldText>Partner Functions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_CreateMenuVendorDetails</name>
            <choiceReferences>VPM_Menu</choiceReferences>
            <choiceReferences>VPM_Exit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Choice</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>VPM_ExtendLockErrorMessage</name>
        <label>ExtendLockErrorMessage</label>
        <locationX>47</locationX>
        <locationY>578</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_IsApprovedAssignement</targetReference>
        </connector>
        <fields>
            <name>VPM_ExtendIslockErrorMessage</name>
            <fieldText>It&apos;s already under approval process</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>VPM_ExtendReworkMessage</name>
        <label>ExtendReworkMessage</label>
        <locationX>442</locationX>
        <locationY>533</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_IsApprovedAssignement</targetReference>
        </connector>
        <fields>
            <name>VPM_ReworkExtendMessage</name>
            <fieldText>This request is in an approval process. Please click the &apos;Recall&apos; button on the approval related list below first&apos;.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>VPM_PurchasingRequestRecordVendorDetails</startElementReference>
    <variables>
        <name>VPM_ABCIndicatorVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_AccntwithVendorVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_AccountClerkTelephoneNumberVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_AccountGroupVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_AccountingClerkVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_AccountMemoVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_AchillesRegistrationCodeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ActionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_AdoptScanDateVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_AlreadyAvailableSupplierUseVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_AlternateVendorNumVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_AlternativePayeeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ArabicversionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_AuthorizationVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_BlockFunctionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_Centraldeletionflags</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_Centraldeletionflagss</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CentralPostingBlockVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CentralPurchasingBlockVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CheckDigitVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CheckDoubleInvoicesVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CityVAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ClerkAtVendorVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ClerksfaxVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ClerksInternetVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CommodityClassVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CommodityFamilyVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CommodityNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CompanyCodeSapVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CompanyCodeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CompanyPostCodeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ConfirmationControlVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ContactPersonSurnameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ContactPersonVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CorporateGrpVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CountryVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CreditInfoNumberVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CustomerVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_DataLineVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_DepartmentDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_DepartmentNumberVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_DistrictVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_DunnProcedureVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_Email2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_Email3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_EmailVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_EqualisationTaxVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ExceptionDetailsVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_Extension2Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_Extension3Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ExtensionPhoneVAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ExternalMFGVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ExtManufacturerVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_FaxExtensionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_FaxNumber2Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_FaxNumber3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_FaxVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_FormOfAddressVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_FunctionDescriptionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_GroupingKeyVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_HouseBankVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_HouseNumberVAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_HouseNumSupplementVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_Incoterms1Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_Incoterms2Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_IndicatorSubjectToWithholdingTaxVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_IndustryVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_InternationalVersionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_IntLocationNumber1Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_IntLocationNumber2Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_IsInvoiceReceivedVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_IsNaturalPersonVarchar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_IsNaturalPersonVarchar1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_Local2VersionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_locationVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_MobilePhone2Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_MobilePhone3Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_MobilePhoneVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ModeTransportForeignTradeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_Name3Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_Name4Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_OfficeOfEntryVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_OrderCurrencyVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_OrderingEmailAddressVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_OtherCommunicationVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_PartnerFunctionsVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_PlaceOfBirthVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_Plant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_POBoxCityVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_POBoxPostCodeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_POBoxVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_POCreationSystemVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_PreviousAccountNumberVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_PricingDateControlVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ProfessionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_PurchasingRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>VPM_PurchasingRequests__c</objectType>
    </variables>
    <variables>
        <name>VPM_PurchasingRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_QMSystemToVar</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ReasonNoFinancialCheckVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RecordTypeIDVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RegionVAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RussianVersionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_SalesPersonVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_SalesPurchTaxVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_SalesPurchTaxVar1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_SCACVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_SchemaGroupVendorVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_SearchTerm2Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_SearchTermVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ServiceAgentVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ServicesItemsToPurchaseVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_SexVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_SMECommentVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_StandardCommMethodVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_Street1Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_Street2Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_Street3Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_Street4Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_Street5Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_SupportingDocumentsGuidelinesVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_TaxNumAtResponsibleTaxAuthorityVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_TaxNumber1Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_TaxNumber2Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_TaxNumber3Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_TaxNumber4Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_TaxNumberTypeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_TaxTypeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_TeleBoxVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_Telephone2Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_Telephone3Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_TelephoneVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_TelephoneVar1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ToleranceGroupVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_TradePartnerTypeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_TradingPartnerVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_TrainStationVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_TransportZoneVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_UkrainianversionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VATRegistrationNumber2Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VATRegistrationNumber3Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VATRegistrationNumberVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorCodeSapVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorCodeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorDetailsScreenVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorName1Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorName2Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
