src/flows/VPM_AssignLocalMasterDataManagementQueueApprover-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>VPM_QueueCountryNotMatching</name>
        <label>QueueCountryNotMatching</label>
        <locationX>80</locationX>
        <locationY>217</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>This will fail to trigger an Local Master Data Management approval process since for the selected Country Queue is not defined. Please contact your System Administrator.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>For Selected Country Requesting Vendor {!VPM_VendorRequestCountry} does not have Local Master Data Management Queue Configured</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>kevin.white@Capgemini.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>VPM_QueueFoundDecision</name>
        <label>Queue Found ??</label>
        <locationX>220</locationX>
        <locationY>106</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_QueueNotfoundOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_QueueID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_QueueCountryNotMatching</targetReference>
            </connector>
            <label>Queue Not found</label>
        </rules>
        <rules>
            <name>VPM_QueueFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_QueueID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_UpdateLocalMasterDataManagementApproval</targetReference>
            </connector>
            <label>Queue Found</label>
        </rules>
    </decisions>
    <description>VPM  - Dynamically Assign the  Local Master Data Management Approval base on selected Vendor Request Country</description>
    <interviewLabel>Assign Local Master Data Management Queue Approver {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Local Master Data Management Queue Approver</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>VPM_FindQueue</name>
        <label>Find Queue</label>
        <locationX>219</locationX>
        <locationY>6</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VPM_QueueFoundDecision</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>VPM_VendorRequestCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Master Data</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>Var_QueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>VPM_UpdateLocalMasterDataManagementApproval</name>
        <label>Update Local Master Data Management Approval</label>
        <locationX>368</locationX>
        <locationY>219</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PurchaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Var_QueueID</elementReference>
            </value>
        </inputAssignments>
        <object>VPM_PurchasingRequests__c</object>
    </recordUpdates>
    <startElementReference>VPM_FindQueue</startElementReference>
    <variables>
        <name>PurchaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_QueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VendorRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>VPM_PurchasingRequests__c</objectType>
    </variables>
    <variables>
        <name>VPM_QueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorRequestCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
