src/flows/VPM_SendRendWebformRequest-43.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>isLockApproval_Assignement</name>
        <label>isLockApproval Assignement</label>
        <locationX>319</locationX>
        <locationY>511</locationY>
        <assignmentItems>
            <assignToReference>VPM_ActionVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>E</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VPM_LaunchScreenActionVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exit</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>VPM_SendRendWebformAssignment</name>
        <label>Send Rend Webform Assignment</label>
        <locationX>482</locationX>
        <locationY>406</locationY>
        <assignmentItems>
            <assignToReference>VPM_ActionVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>M</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>No_Choice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Choice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>VPM_IsLockReworkDecision</name>
        <label>IsLock &amp; Rework Decision</label>
        <locationX>463</locationX>
        <locationY>122</locationY>
        <defaultConnector>
            <targetReference>VPM_VendorDoesntexistRecordUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsLockOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsLockVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExtendLockErrorMessage</targetReference>
            </connector>
            <label>Is Lock Outcome</label>
        </rules>
        <rules>
            <name>IsReworkOuctome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsLockVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_StatusVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Re-Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_ExtendReworkMessage</targetReference>
            </connector>
            <label>Is Rework Ouctome</label>
        </rules>
    </decisions>
    <formulas>
        <name>BlankCheckFormula</name>
        <dataType>Boolean</dataType>
        <expression>LEN(TRIM( {!VPM_VendorContactEmaill} ))&gt;0</expression>
    </formulas>
    <formulas>
        <name>EmailValidationFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF(({!YesandBlankFormula}==&apos;Yes&apos;),IF((REGEX({!VPM_VendorContactEmaill}, &quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)),true,false),false)</expression>
    </formulas>
    <formulas>
        <name>VPM_SendWebforText</name>
        <dataType>String</dataType>
        <expression>{!SendWebformRequesttoVendor}</expression>
    </formulas>
    <formulas>
        <name>YesandBlankFormula</name>
        <dataType>String</dataType>
        <expression>IF(({!VPM_SendWebforText}==&apos;Yes&apos;),IF(({!BlankCheckFormula}),&apos;Yes&apos;,&apos;No&apos;),&apos;No&apos;)</expression>
    </formulas>
    <interviewLabel>VPM Send Rend Webform Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VPM Send Rend Webform Request</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>VPM_SendResendWebformLookUp</name>
        <label>Send Resend Webform  Look Up</label>
        <locationX>97</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendResendWebRequestFornScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </filters>
        <object>VPM_PurchasingRequests__c</object>
        <outputAssignments>
            <assignToReference>IsLockVar</assignToReference>
            <field>VPM_IsLock__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_VendorContactDetailVar</assignToReference>
            <field>VPM_VendorContactDetail__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_StatusVar</assignToReference>
            <field>VPM_VendorStatus__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>VPM_VendorDoesntexistRecordUpdate</name>
        <label>VendorDoesntexist Record Update</label>
        <locationX>479</locationX>
        <locationY>294</locationY>
        <connector>
            <targetReference>VPM_SendRendWebformAssignment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VPM_VendorContactDetail__c</field>
            <value>
                <elementReference>VPM_VendorContactEmaill</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_VendordoesntExistFlag__c</field>
            <value>
                <elementReference>SendWebformRequesttoVendor</elementReference>
            </value>
        </inputAssignments>
        <object>VPM_PurchasingRequests__c</object>
    </recordUpdates>
    <screens>
        <name>ExtendLockErrorMessage</name>
        <label>ExtendLockErrorMessage</label>
        <locationX>285</locationX>
        <locationY>270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>isLockApproval_Assignement</targetReference>
        </connector>
        <fields>
            <name>VPM_ExtendIslockErrorMessage</name>
            <fieldText>It&apos;s already under approval process</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>SendResendWebRequestFornScreen</name>
        <label>Send Resend WebRequest Forn Screen</label>
        <locationX>276</locationX>
        <locationY>58</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_IsLockReworkDecision</targetReference>
        </connector>
        <fields>
            <name>SenResendWebForRequestinfo</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;By selecting &lt;/B&gt;&lt;FONT COLOR=&quot;#3300FF&quot;&gt;&lt;B&gt;Yes&lt;/B&gt;&lt;/FONT&gt;&lt;B&gt; you will be sending the vendor a webform for them to complete their general vendor details and bank details. This will be sent to the email address in the field below. Select &lt;/B&gt;&lt;FONT COLOR=&quot;#3300FF&quot;&gt;&lt;B&gt;No&lt;/B&gt;&lt;/FONT&gt;&lt;B&gt; to avoid sending the webform request &lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SendWebformRequesttoVendor</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes_Choice</defaultSelectedChoiceReference>
            <fieldText>Send Webform Request to Vendor?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_VendorContactEmaill</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_VendorContactDetailVar</elementReference>
            </defaultValue>
            <fieldText>Vendor Contact Emaill</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.</errorMessage>
                <formulaExpression>REGEX({!VPM_VendorContactEmaill}, &quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>VPM_ExtendReworkMessage</name>
        <label>ExtendReworkMessage</label>
        <locationX>627</locationX>
        <locationY>224</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>isLockApproval_Assignement</targetReference>
        </connector>
        <fields>
            <name>VPM_ReworkExtendMessage</name>
            <fieldText>This request is in an approval process. Please click the &apos;Recall&apos; button on the approval related list below first&apos;.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>VPM_SendResendWebformLookUp</startElementReference>
    <variables>
        <name>IsLockVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ActionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_LaunchScreenActionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_PurchasingRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>VPM_PurchasingRequests__c</objectType>
    </variables>
    <variables>
        <name>VPM_PurchasingRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_StatusVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorContactDetailVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
