src/flows/VPM_PurchasingRequestAdvancedForm-84.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>VPM_AssignRecordIdToVendorCreateRecordTypeIdVariable</name>
        <label>Assign Record Id To Vendor Create Record Type Id Variable</label>
        <locationX>852</locationX>
        <locationY>166</locationY>
        <assignmentItems>
            <assignToReference>VPM_VendorCreateRecordTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_PurchasingRequestRecordTypeChoice.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_RecordTypeChoiceLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_AssignRecordIdToVendorExtendRecordTypeIdVariable</name>
        <label>Assign Record Id To Vendor Extend Record Type Id Variable</label>
        <locationX>777</locationX>
        <locationY>8</locationY>
        <assignmentItems>
            <assignToReference>VPM_VendorExtendRecordTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_PurchasingRequestRecordTypeChoice.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_RecordTypeChoiceLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_AssignRecordIdToVendorMaintainRecordTypeIdVariable</name>
        <label>Assign Record Id To Vendor Maintain Record Type Id Variable</label>
        <locationX>994</locationX>
        <locationY>8</locationY>
        <assignmentItems>
            <assignToReference>VPM_VendorMaintainRecordTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_PurchasingRequestRecordTypeChoice.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_RecordTypeChoiceLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_BankDetailsSectionAssignment</name>
        <label>Bank Details Section Assignment</label>
        <locationX>234</locationX>
        <locationY>706</locationY>
        <assignmentItems>
            <assignToReference>VPM_AcountNameVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_AccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VPM_BankAccountNumberVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_BankAccountNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VPM_FinanceDetails1Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_FinanceDetailField1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VPM_FinanceDetails2Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_FinanceDetailsField2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VPM_ProcurementDetails1Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_ProcurementDetailField1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VPM_ProcurementDetails2Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_ProcurementDetailsField2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_MenuScreenDecision</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>VPM_BankDetailsChoice</name>
        <choiceText>Bank Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BD</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Block</name>
        <choiceText>Block</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Block</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Cordillera</name>
        <choiceText>Cordillera</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>VPM_CreateBankDetailsChoice</name>
        <choiceText>Bank Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_DeleteionBlockUnblock</name>
        <choiceText>Deletion/Block/Unblock</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Deletion</name>
        <choiceText>Deletion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Exit</name>
        <choiceText>Exit</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>VPM_ExitChoice</name>
        <choiceText>Exit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Extend</name>
        <choiceText>Extend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_FinanceSection</name>
        <choiceText>Finance Section</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fianace</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_FInanciallySensitiveFieldsChoice</name>
        <choiceText>FInancially Sensitive Fields</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FS</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Fusion</name>
        <choiceText>Fusion</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>VPM_Maintain</name>
        <choiceText>Maintain</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Maintain1BlockDeleteChoice</name>
        <choiceText>Block / Delete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BD</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Maintain1ExitChoice</name>
        <choiceText>Exit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Maintain1FinanciallySensitiveFields</name>
        <choiceText>Financially Sensitive Fields</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Maintain1PaymentDetailsChoice</name>
        <choiceText>Payment Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Maintain1RegionalSpecificFieldsChoice</name>
        <choiceText>Regional Specific Fields</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Maintain1RequestBriefChoice</name>
        <choiceText>Request Brief</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Maintain1SubmitChoice</name>
        <choiceText>Submit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Maintain1VendorDetailsChoice</name>
        <choiceText>Vendor Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_MaintainRequestBriefChoice</name>
        <choiceText>Request Brief</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_MaintainVendorDetailsChoice</name>
        <choiceText>Vendor Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_MaintainVendorMatchChoice</name>
        <choiceText>Vendor Match</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Menu</name>
        <choiceText>Menu</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>VPM_PaymentDetails</name>
        <choiceText>Payment Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_PaymentTeamsChoice</name>
        <choiceText>Payment Terms</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_ProcurementSection</name>
        <choiceText>Procurement Section</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Procurement</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_RegoinalSpecificFieldsChoice</name>
        <choiceText>Regoinal Specific Fields</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RS</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_RequestBriefChoice</name>
        <choiceText>Request Brief</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RB</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Sirius</name>
        <choiceText>Sirius</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>VPM_Submit</name>
        <choiceText>Submit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_SubmitChoice</name>
        <choiceText>Submit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_U2K2</name>
        <choiceText>U2K2</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>VPM_Unblock</name>
        <choiceText>Unblock</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UnBlock</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_UnblockUndeleteChoice</name>
        <choiceText>Unblock /Undelete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UB</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_UnblockUndeletedChoice</name>
        <choiceText>Unblock / UnDeleted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Undelete</name>
        <choiceText>Undelete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Undelete</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_VendorDetailsChoice</name>
        <choiceText>Vendor Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VD</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_VendorMatchChocie</name>
        <choiceText>Vendor Match</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VM</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_VendorNotListed</name>
        <choiceText>My Vendor Isn&apos;t Listed</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>VPM_CreateWordConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Create</stringValue>
        </value>
    </constants>
    <constants>
        <name>VPM_ExtendWordConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Extend</stringValue>
        </value>
    </constants>
    <constants>
        <name>VPM_MaintainWordConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Maintain</stringValue>
        </value>
    </constants>
    <constants>
        <name>VPM_NewVendorStatus1</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <constants>
        <description>VPM - Stores the Sobject Type of Purchasing Request</description>
        <name>VPM_PurchasingRequestSObjectRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>VPM_PurchasingRequest__c</stringValue>
        </value>
    </constants>
    <decisions>
        <name>VPM_CreateLaunchScreenDecision</name>
        <label>Launch Screen Decision</label>
        <locationX>38</locationX>
        <locationY>237</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_CreateRequestBriefOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_CreateRequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_CreateAVendor</targetReference>
            </connector>
            <label>Request Brief Outcome</label>
        </rules>
        <rules>
            <name>VPM_CreateBankDeatilsOutcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VPM_CreateRequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_ExtendRequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_BankDetailsSection</targetReference>
            </connector>
            <label>Bank Deatils Outcome</label>
        </rules>
        <rules>
            <name>VPM_FinalSubmit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_CreateFinalChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_UpdateCreateVendorRecord</targetReference>
            </connector>
            <label>Final Submit</label>
        </rules>
        <rules>
            <name>VPM_CreatePaymentTermsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_CreateRequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_PaymentTermsScreen</targetReference>
            </connector>
            <label>Payment Terms Outcome</label>
        </rules>
        <rules>
            <name>VPM_CreateVendorDetailsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_CreateRequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_CreateVendorDetailScreen</targetReference>
            </connector>
            <label>Vendor Details OutCome</label>
        </rules>
        <rules>
            <name>VPM_CreateFinanciallySensitiveFieldsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_CreateRequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPm_CreateFinanciallySpecificFieldsScreen</targetReference>
            </connector>
            <label>Financially Sensitive Fields Outcome</label>
        </rules>
        <rules>
            <name>VPM_CreateRegionalSpecificFieldsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_CreateRequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_CreateRegionalSpecificFieldsScreen</targetReference>
            </connector>
            <label>Regional Specific Fields Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_CreateMaintainExtend</name>
        <label>CreateMaintainExtend</label>
        <locationX>565</locationX>
        <locationY>248</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_MatchedVendorID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_CreateLaunchScreen</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>VPM_MaintainOrExtend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_MatchedVendorID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_MaintainExtendChoiceDecision</targetReference>
            </connector>
            <label>MaintainOrExtend</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_ExtendLaunchScreenDecison</name>
        <label>Launch Screen Decison</label>
        <locationX>909</locationX>
        <locationY>425</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_ExtendRequestBriefOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_ExtendRequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_ExtendInfo</targetReference>
            </connector>
            <label>Request Brief Outcome</label>
        </rules>
        <rules>
            <name>VPM_ExtendVendorMatchOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_ExtendRequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_Maintain1VendorMatchScreen</targetReference>
            </connector>
            <label>Vendor Match Outcome</label>
        </rules>
        <rules>
            <name>VPM_ExtendVendorDetailsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_ExtendRequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_CreateVendorDetailScreen</targetReference>
            </connector>
            <label>Vendor Details Outcome</label>
        </rules>
        <rules>
            <name>VPM_ExtendPaymentTermsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_ExtendRequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_PaymentTermsScreen</targetReference>
            </connector>
            <label>Payment Terms Outcome</label>
        </rules>
        <rules>
            <name>VPM_ExtendBankDetailsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_ExtendRequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_BankDetailsSection</targetReference>
            </connector>
            <label>Bank Details Outcome</label>
        </rules>
        <rules>
            <name>VPM_ExtendFinanciallySensitiveFieldsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_ExtendRequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPm_CreateFinanciallySpecificFieldsScreen</targetReference>
            </connector>
            <label>Financially Sensitive Fields Outcome</label>
        </rules>
        <rules>
            <name>VPM_ExtendRegionalSpecificOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_ExtendRequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_CreateRegionalSpecificFieldsScreen</targetReference>
            </connector>
            <label>Regional Specific Outcome</label>
        </rules>
        <rules>
            <name>VPM_FinalSubmitExtend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_ExtendSelectActionChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_UpdateCreateVendorRecord</targetReference>
            </connector>
            <label>Final Submit Extend</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_Maintain1LaunchScreenDecision</name>
        <label>Launch Screen Decision</label>
        <locationX>732</locationX>
        <locationY>870</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_Maintain1RequestBriefOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_Maintain1RequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_MaintainRequestBriefScreen</targetReference>
            </connector>
            <label>Request Brief Outcome</label>
        </rules>
        <rules>
            <name>VPM_Maintain1VendorMatchOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_Maintain1RequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_Maintain1VendorMatchScreen</targetReference>
            </connector>
            <label>Vendor Match Outcome</label>
        </rules>
        <rules>
            <name>VPM_Maintain1VendorDetailsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_Maintain1RequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_Maintain1VendorDetailsScreen</targetReference>
            </connector>
            <label>Vendor Details  Outcome</label>
        </rules>
        <rules>
            <name>VPM_Maintain1BlockDeleteOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_Maintain1RequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_MaintainBlockandDeleteScreen</targetReference>
            </connector>
            <label>Block Delete Outcome</label>
        </rules>
        <rules>
            <name>VPM_Maintain1PaymentTerms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_Maintain1RequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_Maintain1PayrmentTermsScreen</targetReference>
            </connector>
            <label>Payment Terms Outcome</label>
        </rules>
        <rules>
            <name>VPM_Maintain1FinanciallySensitiveFieldsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_Maintain1RequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_MaintainFinanciallySensitiveFieldsScreen</targetReference>
            </connector>
            <label>Financially Sensitive Fields Outcome</label>
        </rules>
        <rules>
            <name>VPM_Maintain1RegionalSpecificFieldsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_Maintain1RequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_Maintain1RegionalSpecificFieldsScreen</targetReference>
            </connector>
            <label>Regional Specific Fields Outcome</label>
        </rules>
        <rules>
            <name>VPMMaintainBankDetailsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_Maintain1RequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_Maintain1BankDetailsScreen</targetReference>
            </connector>
            <label>Bank Details Outcome</label>
        </rules>
        <rules>
            <name>VPM_FinalSubmitMaintainNew</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VPM_Maintain1FinalChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_Maintain2SelectActionChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_UpdateCreateVendorRecord</targetReference>
            </connector>
            <label>Final Submit Maintain</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_Maintain2LaunchScreenDecision</name>
        <label>Launch Screen Decision</label>
        <locationX>1430</locationX>
        <locationY>572</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_Maintain2RequestBriefOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_Maintain2RequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_MaintainRequestBriefScreen</targetReference>
            </connector>
            <label>Request Brief Outcome</label>
        </rules>
        <rules>
            <name>VPM_Maintain2VendorMatchOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_Maintain2RequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_Maintain1VendorMatchScreen</targetReference>
            </connector>
            <label>Vendor Match Outcome</label>
        </rules>
        <rules>
            <name>VPM_Maintain2UnblockUnDeleteOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_Maintain2RequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_Maintain1UnBlockandUnDelete_Screen</targetReference>
            </connector>
            <label>Unblock UnDelete Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_MaintainExtendChoice</name>
        <label>Maintain or Extend?</label>
        <locationX>991</locationX>
        <locationY>244</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_ChoiceMaintain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_ChoiceExtendMaintain</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_VendorStatusDecision</targetReference>
            </connector>
            <label>Maintain</label>
        </rules>
        <rules>
            <name>VPM_ChoiceExtend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_ChoiceExtendMaintain</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_ExtendLaunchScreen</targetReference>
            </connector>
            <label>Extend</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_MaintainMenuDecisionScreen</name>
        <label>Maintain Menu Decision Screen</label>
        <locationX>828</locationX>
        <locationY>1894</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_Maintain1Menu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_Menu</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_MenuRoutingDecisionFormula</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Maintain1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_MaintainLaunchScreen</targetReference>
            </connector>
            <label>Maintain1 Menu</label>
        </rules>
        <rules>
            <name>VPM_Maintain2Menu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_Menu</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_MenuRoutingDecisionFormula</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Maintain1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_Maintain2LaunchScreen</targetReference>
            </connector>
            <label>Maintain2 Menu</label>
        </rules>
        <rules>
            <name>VPM_ExtendMenuBack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_Menu</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_MenuRoutingDecisionFormula</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Extend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_ExtendLaunchScreen</targetReference>
            </connector>
            <label>Back To Extend Menu</label>
        </rules>
        <rules>
            <name>VPM_FinalSubmitMaintain</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VPM_Maintain1FinalChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_Maintain2SelectActionChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <label>Final Submit Maintain</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_MenuScreenDecision</name>
        <label>Menu Screen Decision</label>
        <locationX>525</locationX>
        <locationY>875</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_BackToCreateMenu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_Menu</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_MenuRoutingDecisionFormula</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_CreateLaunchScreen</targetReference>
            </connector>
            <label>Back To Create Menu</label>
        </rules>
        <rules>
            <name>VPM_BackToExtendMenu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_Menu</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_MenuRoutingDecisionFormula</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Extend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_ExtendLaunchScreen</targetReference>
            </connector>
            <label>Back To Extend Menu</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_PurchasingRecordTypeClassification</name>
        <label>Purchasing Record Type Classification</label>
        <locationX>1238</locationX>
        <locationY>117</locationY>
        <defaultConnector>
            <targetReference>VPM_RecordTypeChoiceLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>VPM_VendorCreateRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PurchasingRequestRecordTypeChoice.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>VPM_CreateWordConstant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_AssignRecordIdToVendorCreateRecordTypeIdVariable</targetReference>
            </connector>
            <label>Vendor Create Record Type</label>
        </rules>
        <rules>
            <name>VPM_VendorMaintainRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PurchasingRequestRecordTypeChoice.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>VPM_MaintainWordConstant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_AssignRecordIdToVendorMaintainRecordTypeIdVariable</targetReference>
            </connector>
            <label>Vendor Maintain Record Type</label>
        </rules>
        <rules>
            <name>VPM_VendorExtendRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PurchasingRequestRecordTypeChoice.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>VPM_ExtendWordConstant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_AssignRecordIdToVendorExtendRecordTypeIdVariable</targetReference>
            </connector>
            <label>Vendor Extend Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_VendorStatusDecision</name>
        <label>Vendor Status Decision</label>
        <locationX>1217</locationX>
        <locationY>631</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_VendorIsBlocked</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PurchasingRequest.VPM_VendorStatus__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Blocked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_PurchasingRequest.VPM_VendorStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blocked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_Maintain2LaunchScreen</targetReference>
            </connector>
            <label>Vendor Is Blocked</label>
        </rules>
        <rules>
            <name>VPM_VendorIsNotBlocked</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PurchasingRequest.VPM_VendorStatus__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Un</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_PurchasingRequest.VPM_VendorStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Blocked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_PurchasingRequest.VPM_VendorStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnBlocked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_MaintainLaunchScreen</targetReference>
            </connector>
            <label>Vendor Is Not Blocked</label>
        </rules>
    </decisions>
    <description>The Advanced Form used to complete additional information either by the Business Requestor or FLS team</description>
    <dynamicChoiceSets>
        <name>VPM_ExistingVendorMatch</name>
        <dataType>String</dataType>
        <displayField>VP_VendorFullDetails__c</displayField>
        <filters>
            <field>VPM_VendorName__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>VPM_SearchVendorName</elementReference>
            </value>
        </filters>
        <object>VPM_Vendors__c</object>
        <outputAssignments>
            <assignToReference>VPM_MatchedVendorID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Vendors.VPM_City__c</assignToReference>
            <field>VPM_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Vendors.VPM_ECCEntries__c</assignToReference>
            <field>VPM_ECCEntries__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Vendors.VPM_Street1__c</assignToReference>
            <field>VPM_Street1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Vendors.VPM_VendorCode__c</assignToReference>
            <field>VPM_VendorCode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Vendors.VPM_VendorName__c</assignToReference>
            <field>VPM_VendorName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Vendors.VPM_ZIPPostcode__c</assignToReference>
            <field>VPM_ZIPPostcode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_FullVendorDetails</assignToReference>
            <field>VP_VendorFullDetails__c</field>
        </outputAssignments>
        <sortField>VPM_VendorName__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>VPM - Setting Finance Approval Required to true if Finance Details are entered.</description>
        <name>VPM_IsFinanceRequired</name>
        <dataType>Boolean</dataType>
        <expression>OR(LEN(TRIM({!VPM_FinanceDetailField1}))&gt;0, LEN(TRIM( {!VPM_FinanceDetailsField2} ))&gt;0)</expression>
    </formulas>
    <formulas>
        <name>VPM_IsProcurementRequired</name>
        <dataType>Boolean</dataType>
        <expression>OR(LEN(TRIM({!VPM_ProcurementDetailField1} ))&gt;0, LEN(TRIM( {!VPM_ProcurementDetailsField2}))&gt;0)</expression>
    </formulas>
    <formulas>
        <description>This formula will help to decide to route to different either maitain or extend Launch screen</description>
        <name>VPM_MenuRoutingDecisionFormula</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!VPM_Maintain1RequestTypeChoice})),&apos;Maintain1&apos;,IF(NOT(ISBLANK({!VPM_Maintain2RequestTypeChoice})),&apos;Maintain2&apos;,
IF(NOT(ISBLANK({!VPM_Maintain2RequestTypeChoice})),&apos;Maintain2&apos;,
IF(NOT(ISBLANK({!VPM_CreateRequestTypeChoice})), &apos;Create&apos;, 
IF(NOT(ISBLANK({!VPM_ExtendRequestTypeChoice})), &apos;Extend&apos;,&apos;&apos;)))))</expression>
    </formulas>
    <interviewLabel>Purchasing Request Advanced Form - 31032016__Aligned Format {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Purchasing Request Advanced Form - 31032016</label>
    <loops>
        <name>VPM_RecordTypeChoiceLoop</name>
        <label>Record Type Choice Loop</label>
        <locationX>566</locationX>
        <locationY>120</locationY>
        <assignNextValueToReference>VPM_PurchasingRequestRecordTypeChoice</assignNextValueToReference>
        <collectionReference>VPM_PurchasingRequestRecordTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>VPM_PurchasingRecordTypeClassification</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>VPM_CreateMaintainExtend</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Purchasing_Request_Initial_Record_Type</name>
        <label>Purchasing Request Initial Record Type</label>
        <locationX>147</locationX>
        <locationY>9</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VPM_BusinessRequestReview</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequestInitialRecordTypeID</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>VPM_PurchasingRequestInitialRecordTypeData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Purchasing_Request_Record_Types</name>
        <label>Purchasing Request Record Types</label>
        <locationX>569</locationX>
        <locationY>15</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VPM_RecordTypeChoiceLoop</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>VPM_PurchasingRequestInitialRecordTypeData.Name</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>VPM_PurchasingRequestRecordTypes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SobjectType</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>VPM_PurchasingRequestRecord</name>
        <label>PurchasingRequestRecord</label>
        <locationX>4</locationX>
        <locationY>7</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Purchasing_Request_Initial_Record_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </filters>
        <object>VPM_PurchasingRequests__c</object>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequestID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequestInitialRecordTypeID</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RapidComments</assignToReference>
            <field>VPM_Comments__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RapidPurchasingCountry</assignToReference>
            <field>VPM_PurchasingCountry__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RapidVendorStreet</assignToReference>
            <field>VPM_Street1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RapidContactEmail</assignToReference>
            <field>VPM_VendorContactDetail__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RapidVendorName</assignToReference>
            <field>VPM_VendorName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequest.VPM_VendorStatus__c</assignToReference>
            <field>VPM_VendorStatus__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RapidWhatAreYouBuying</assignToReference>
            <field>VPM_WhatAreYouBuying__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RapidZIPPostcode</assignToReference>
            <field>VPM_ZIPPostcode__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>VPM_UpdateCreateVendorRecord</name>
        <label>VPM_UpdateCreateVendorRecord</label>
        <locationX>3</locationX>
        <locationY>1523</locationY>
        <connector>
            <targetReference>VPM_FinishScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VPM_VendorCreateRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_AccountHolderName__c</field>
            <value>
                <elementReference>VPM_AccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_AdvancedFormSubmitted__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_BankAccountNumber__c</field>
            <value>
                <elementReference>VPM_BankAccountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_City__c</field>
            <value>
                <elementReference>VPM_CreateCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_FinanceApprovalRequired__c</field>
            <value>
                <elementReference>VPM_IsFinanceRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Finance_Team_Section__c</field>
            <value>
                <stringValue>{!VPM_FinanceDetailField1} {!VPM_FinanceDetailsField2}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ProcurementApprovalRequired__c</field>
            <value>
                <elementReference>VPM_IsProcurementRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ProcurementSection__c</field>
            <value>
                <stringValue>{!VPM_ProcurementDetailField1} {!VPM_ProcurementDetailsField2}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Street1__c</field>
            <value>
                <elementReference>VPM_CreateStreet1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_VendorBlockUnblockDelete__c</field>
            <value>
                <elementReference>VPM_MenuRoutingDecisionFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_VendorContactDetail__c</field>
            <value>
                <elementReference>VPM_CreateContactEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_VendorName__c</field>
            <value>
                <elementReference>VPM_CreateVendorName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ZIPPostcode__c</field>
            <value>
                <elementReference>VPM_CreatePostcode</elementReference>
            </value>
        </inputAssignments>
        <object>VPM_PurchasingRequests__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>VPM_UpdateExtendVendorRecord</name>
        <label>VPM_UpdateExtendVendorRecord</label>
        <locationX>1646</locationX>
        <locationY>662</locationY>
        <connector>
            <targetReference>VPM_FinishScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VPM_VendorExtendRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_AdvancedFormSubmitted__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_City__c</field>
            <value>
                <elementReference>VPM_ExtendCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Street1__c</field>
            <value>
                <elementReference>VPM_ExtendStreet1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_TargetECC__c</field>
            <value>
                <elementReference>VPM_ExtendECC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_VendorName__c</field>
            <value>
                <elementReference>VPM_ExtendName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ZIPPostcode__c</field>
            <value>
                <elementReference>VPM_ExtendZIPPostcode</elementReference>
            </value>
        </inputAssignments>
        <object>VPM_PurchasingRequests__c</object>
    </recordUpdates>
    <screens>
        <name>VPM_BankDetailsSection</name>
        <label>Bank Details Section</label>
        <locationX>186</locationX>
        <locationY>556</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_BankDetailsSectionAssignment</targetReference>
        </connector>
        <fields>
            <name>VPM_AccountName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_AcountNameVar</elementReference>
            </defaultValue>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_BankAccountNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_BankAccountNumberVar</elementReference>
            </defaultValue>
            <fieldText>Bank Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_FinanceDetailField1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_FinanceDetails1Var</elementReference>
            </defaultValue>
            <fieldText>Finance Detail Field1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_FinanceDetailsField2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_FinanceDetails2Var</elementReference>
            </defaultValue>
            <fieldText>Finance Details Field2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_MenuBankDetails</name>
            <choiceReferences>VPM_Menu</choiceReferences>
            <choiceReferences>VPM_Exit</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TestSpce</name>
            <fieldText>From Scren : - {!VPM_MenuRoutingDecisionFormula}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>VPM_BusinessRequestReview</name>
        <label>Business Request Review</label>
        <locationX>284</locationX>
        <locationY>11</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>VPM_VendorMatching</targetReference>
        </connector>
        <fields>
            <name>VPM_VendorSearchInstr</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Below is a summary of the information entered by the Business Requestor. You can amend some of the information (e.g. a spelling mistake) before searching in SAP on the next screen. &lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;Vendor Name: &lt;/I&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!VPM_RapidVendorName}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;What they want to buy: &lt;/I&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!VPM_RapidWhatAreYouBuying}&lt;/FONT&gt;&lt;I&gt; &lt;/I&gt;&lt;FONT KERNING=&quot;1&quot;&gt; &lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;Purchasing Country: &lt;/I&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!VPM_RapidPurchasingCountry}&lt;/FONT&gt;&lt;I&gt; &lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;Comments: &lt;/I&gt;{!VPM_RapidComments}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_SearchVendorName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidVendorName</elementReference>
            </defaultValue>
            <fieldText>Vendor Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_SearchStreet1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidVendorStreet</elementReference>
            </defaultValue>
            <fieldText>Street 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_SearchZIPPostcode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidZIPPostcode</elementReference>
            </defaultValue>
            <fieldText>ZIP/Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_SearchTaxCode</name>
            <dataType>String</dataType>
            <fieldText>Tax Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>VPM_CreateAVendor</name>
        <label>Request Brief Section</label>
        <locationX>569</locationX>
        <locationY>756</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>VPM_BankDetailsSectionAssignment</targetReference>
        </connector>
        <fields>
            <name>VPM_CreateInstructions</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Fill the details for the new Vendor then click &lt;B&gt;Next&lt;/B&gt; to send the record for approval.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_CreateVendorName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidVendorName</elementReference>
            </defaultValue>
            <fieldText>Vendor Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_CreateStreet1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidVendorStreet</elementReference>
            </defaultValue>
            <fieldText>Street 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_CreateCity</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_CreatePostcode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidZIPPostcode</elementReference>
            </defaultValue>
            <fieldText>Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_CreateCountry</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidPurchasingCountry</elementReference>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_CreateContactEmailAddress</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidContactEmail</elementReference>
            </defaultValue>
            <fieldText>Contact Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.</errorMessage>
                <formulaExpression>REGEX(VPM_CreateContactEmailAddress,&apos;([a-zA-Z0-9_\\-\\.]+)@((\\[a-z]{1,3}\\.[a-z]{1,3}\\.[a-z]{1,3}\\.)|(([a-zA-Z0-9\\-]+\\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})&apos;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>VPM_MenuRequestBrief</name>
            <choiceReferences>VPM_Menu</choiceReferences>
            <choiceReferences>VPM_Exit</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>VPm_CreateFinanciallySpecificFieldsScreen</name>
        <label>Create Financially Specific Fields Screen</label>
        <locationX>562</locationX>
        <locationY>550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_BankDetailsSectionAssignment</targetReference>
        </connector>
        <fields>
            <name>VPM_CreateFinanciallySpecificFields</name>
            <dataType>String</dataType>
            <fieldText>Financially Specific Fields</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_CreateMenuFinanciallySensitiveFields</name>
            <choiceReferences>VPM_Menu</choiceReferences>
            <choiceReferences>VPM_Exit</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>Create Financially Specific Fields Screen</pausedText>
    </screens>
    <screens>
        <name>VPM_CreateLaunchScreen</name>
        <label>Launch Screen</label>
        <locationX>353</locationX>
        <locationY>232</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_CreateLaunchScreenDecision</targetReference>
        </connector>
        <fields>
            <name>VPM_CreateTypeInfo</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Type :&lt;/B&gt; Create&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_CreateRequestTypeChoice</name>
            <choiceReferences>VPM_RequestBriefChoice</choiceReferences>
            <choiceReferences>VPM_VendorDetailsChoice</choiceReferences>
            <choiceReferences>VPM_PaymentTeamsChoice</choiceReferences>
            <choiceReferences>VPM_BankDetailsChoice</choiceReferences>
            <choiceReferences>VPM_FInanciallySensitiveFieldsChoice</choiceReferences>
            <choiceReferences>VPM_RegoinalSpecificFieldsChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Space</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_CreateFinalChoice</name>
            <choiceReferences>VPM_SubmitChoice</choiceReferences>
            <choiceReferences>VPM_ExitChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Launch Screen&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</pausedText>
    </screens>
    <screens>
        <name>VPM_CreateRegionalSpecificFieldsScreen</name>
        <label>Create Regional Specific Fields Screen</label>
        <locationX>573</locationX>
        <locationY>433</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_BankDetailsSectionAssignment</targetReference>
        </connector>
        <fields>
            <name>VPM_CreateRegionalSpecificFieldsScreenInfo</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Create Regional Specific Fields &lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_CreateRegionalSpecific</name>
            <dataType>String</dataType>
            <fieldText>Regional Specific</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_CreateMenuRegionalSpecificfFields</name>
            <choiceReferences>VPM_Menu</choiceReferences>
            <choiceReferences>VPM_Exit</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>Create Regional Specific Fields Screen</pausedText>
    </screens>
    <screens>
        <name>VPM_CreateVendorDetailScreen</name>
        <label>Create Vendor Detail Screen</label>
        <locationX>569</locationX>
        <locationY>337</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_BankDetailsSectionAssignment</targetReference>
        </connector>
        <fields>
            <name>VPM_CreateVendorDetailInfo</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Create Vendor Detail &lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_CreateVendorPhoneNumber</name>
            <dataType>String</dataType>
            <fieldText>Vendor Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Region</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RegionVar</elementReference>
            </defaultValue>
            <fieldText>Region</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_CreateMenuVendorDetails</name>
            <choiceReferences>VPM_Menu</choiceReferences>
            <choiceReferences>VPM_Exit</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>Vendor Detail Screen</pausedText>
    </screens>
    <screens>
        <name>VPM_ExtendInfo</name>
        <label>Extend</label>
        <locationX>1635</locationX>
        <locationY>428</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>VPM_ExtendRegionSpecificFields</targetReference>
        </connector>
        <fields>
            <name>VPM_ExtendInstr</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Enter the information for the Vendor as shown. Leaving a field empty will push a blank value in to SAP. Click &lt;B&gt;Next&lt;/B&gt; to continue.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Vendor: &lt;/B&gt;{!VPM_FullVendorDetails}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Vendor Code:&lt;/B&gt; {!VPM_Vendors.VPM_VendorCode__c}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_ExtendName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidVendorName</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Name:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ExtendStreet1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidVendorStreet</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Street:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ExtendCity</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_Vendors.VPM_City__c</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;City:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ExtendZIPPostcode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidZIPPostcode</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Postcode:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ExtendCountry</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidPurchasingCountry</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Country:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ExtendECC</name>
            <choiceReferences>VPM_Cordillera</choiceReferences>
            <choiceReferences>VPM_Sirius</choiceReferences>
            <choiceReferences>VPM_U2K2</choiceReferences>
            <choiceReferences>VPM_Fusion</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Select Extension Region &lt;/B&gt;&lt;I&gt;(currently {!VPM_Vendors.VPM_ECCEntries__c}):&lt;/I&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>VPM_ExtendLaunchScreen</name>
        <label>Launch Screen</label>
        <locationX>1227</locationX>
        <locationY>248</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_ExtendLaunchScreenDecison</targetReference>
        </connector>
        <fields>
            <name>VPM_ExtendTypeInfo</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Type  : &lt;/B&gt;Extend &lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_ExtendRequestTypeChoice</name>
            <choiceReferences>VPM_RequestBriefChoice</choiceReferences>
            <choiceReferences>VPM_VendorMatchChocie</choiceReferences>
            <choiceReferences>VPM_VendorDetailsChoice</choiceReferences>
            <choiceReferences>VPM_PaymentTeamsChoice</choiceReferences>
            <choiceReferences>VPM_BankDetailsChoice</choiceReferences>
            <choiceReferences>VPM_FInanciallySensitiveFieldsChoice</choiceReferences>
            <choiceReferences>VPM_RegoinalSpecificFieldsChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_BlankExtend</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_ExtendSelectActionChoice</name>
            <choiceReferences>VPM_SubmitChoice</choiceReferences>
            <choiceReferences>VPM_ExitChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Launch Screen</pausedText>
    </screens>
    <screens>
        <name>VPM_ExtendRegionSpecificFields</name>
        <label>Region Specific Fields</label>
        <locationX>1646</locationX>
        <locationY>546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>VPM_UpdateExtendVendorRecord</targetReference>
        </connector>
        <fields>
            <name>VPM_RegionSpecificInstr</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You have selected to Extend this Vendor to {!VPM_ExtendECC}. The following fields are specific to this ECC, and you may wish to complete these.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Click &lt;B&gt;Next&lt;/B&gt; to submit this record for approval.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_ExtendFusionArabiaOldNumber</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Arabia Old Number:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ExtendFusionIsraelOldNumber</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Israel Old Number:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ExtendFusionTurkeyOldNumber</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Turkey Old Number:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ExtendFusionNPIVendor</name>
            <dataType>Boolean</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;NPI Vendor:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>VPM_FinishScreen</name>
        <label>Advanced Form Completed</label>
        <locationX>1450</locationX>
        <locationY>1525</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>VPM_FinishInstr</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Thank you for completing this Advanced form. The request has been automatically routed to the approval team/s.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>VPM_Maintain1BankDetailsScreen</name>
        <label>Maintain1 Bank Details Screen</label>
        <locationX>377</locationX>
        <locationY>1099</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_MaintainMenuDecisionScreen</targetReference>
        </connector>
        <fields>
            <name>VPM_Maintain1BankDetailsInfo</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Maintain Bank Details&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_MaintainAccountName</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Account Name&lt;/B&gt; &lt;I&gt;(previously&lt;/I&gt; {!VPM_PurchasingRequest.VPM_AccountHolderName__c} ):&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_MaintainBankAccountNumber</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Bank Account Number&lt;/B&gt;  (&lt;I&gt;previously &lt;/I&gt;{!VPM_PurchasingRequest.VPM_BankAccountNumber__c} ):&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_MaintainFinanceDetails1</name>
            <dataType>String</dataType>
            <fieldText>Finance Details 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_MaintainFinanceDetails2</name>
            <dataType>String</dataType>
            <fieldText>Finance  Details 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Maintain1MenuBankDetails</name>
            <choiceReferences>VPM_Menu</choiceReferences>
            <choiceReferences>VPM_Exit</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>Maintain1 Bank Details</pausedText>
    </screens>
    <screens>
        <name>VPM_Maintain1PayrmentTermsScreen</name>
        <label>Payment Terms Screen</label>
        <locationX>663</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_MaintainMenuDecisionScreen</targetReference>
        </connector>
        <fields>
            <name>VPM_Maintain1PaymentTermsScreenInfo</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Manitain Payment Terms &lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_MaintainProcurementDetails1</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Procurement Details 1&lt;/B&gt; (&lt;I&gt;previously &lt;/I&gt;{!VPM_PurchasingRequest.VPM_VendorPhone__c}):&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Maintain1MenuPaymentTerms</name>
            <choiceReferences>VPM_Menu</choiceReferences>
            <choiceReferences>VPM_Exit</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>Payment Terms Screen</pausedText>
    </screens>
    <screens>
        <name>VPM_Maintain1RegionalSpecificFieldsScreen</name>
        <label>Maintain1 Regional Specific Fields Screen</label>
        <locationX>535</locationX>
        <locationY>1178</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_MaintainMenuDecisionScreen</targetReference>
        </connector>
        <fields>
            <name>VPM_Maintain1RegionalSpecificFields</name>
            <dataType>String</dataType>
            <fieldText>Regional Specific Fields</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Maintain1MenuRegionalSpecificFields</name>
            <choiceReferences>VPM_Menu</choiceReferences>
            <choiceReferences>VPM_Exit</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>Maintain1 Regional Specific Fields Screen</pausedText>
    </screens>
    <screens>
        <name>VPM_Maintain1UnBlockandUnDelete_Screen</name>
        <label>Maintain1 UnBlock and UnDelete Screen</label>
        <locationX>1421</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_MaintainMenuDecisionScreen</targetReference>
        </connector>
        <fields>
            <name>VPM_UnBlockUndeleteRequestType</name>
            <choiceReferences>VPM_Unblock</choiceReferences>
            <choiceReferences>VPM_Undelete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Maintain1SelectAction</name>
            <choiceReferences>VPM_Menu</choiceReferences>
            <choiceReferences>VPM_Exit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>VPM_Maintain1VendorDetailsScreen</name>
        <label>Maintain1 Vendor Details Screen</label>
        <locationX>240</locationX>
        <locationY>1047</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_MaintainMenuDecisionScreen</targetReference>
        </connector>
        <fields>
            <name>VPM_Maintain1VendorDetailsScreenInfo</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Maintain Vendor Details&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_MaintainVendoPhoneNumber</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Vendor Phone Number &lt;/B&gt; (&lt;I&gt;previously &lt;/I&gt;{!VPM_PurchasingRequest.VPM_VendorPhone__c}):&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Maintain1MenuVendorDetails</name>
            <choiceReferences>VPM_Menu</choiceReferences>
            <choiceReferences>VPM_Exit</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>Maintain Vendor Details</pausedText>
    </screens>
    <screens>
        <name>VPM_Maintain1VendorMatchScreen</name>
        <label>Maintain1Vendor Match Screen</label>
        <locationX>1033</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_MaintainMenuDecisionScreen</targetReference>
        </connector>
        <fields>
            <name>VPM_Maintain1VendorMatchScreenInfo</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt; Vendor Match  &lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_Mantain1MenuVendorMatch</name>
            <choiceReferences>VPM_Menu</choiceReferences>
            <choiceReferences>VPM_Exit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>VPM_MenuMantain1VendorMatch</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>Vendor Match Screen</pausedText>
    </screens>
    <screens>
        <name>VPM_Maintain2LaunchScreen</name>
        <label>Launch Screen</label>
        <locationX>1259</locationX>
        <locationY>912</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_Maintain2LaunchScreenDecision</targetReference>
        </connector>
        <fields>
            <name>VPM_Maintain2TypeInfo</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Type  : &lt;/B&gt;Maintain                              &lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Vendor is : &lt;/B&gt;{!VPM_PurchasingRequest.VPM_VendorStatus__c}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_Maintain2RequestTypeChoice</name>
            <choiceReferences>VPM_RequestBriefChoice</choiceReferences>
            <choiceReferences>VPM_VendorMatchChocie</choiceReferences>
            <choiceReferences>VPM_UnblockUndeleteChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_BlankMaintain2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_Maintain2SelectActionChoice</name>
            <choiceReferences>VPM_SubmitChoice</choiceReferences>
            <choiceReferences>VPM_ExitChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Launch Screen</pausedText>
    </screens>
    <screens>
        <name>VPM_MaintainBlockandDeleteScreen</name>
        <label>Maintain Block and Delete Screen</label>
        <locationX>803</locationX>
        <locationY>1146</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_MaintainMenuDecisionScreen</targetReference>
        </connector>
        <fields>
            <name>VPM_BlockDeleteRequestType</name>
            <choiceReferences>VPM_Block</choiceReferences>
            <choiceReferences>VPM_Deletion</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_MaintainMenuBlockDelete</name>
            <choiceReferences>VPM_Menu</choiceReferences>
            <choiceReferences>VPM_Exit</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>Maintain Block and Delete Screen</pausedText>
    </screens>
    <screens>
        <name>VPM_MaintainExtendChoiceDecision</name>
        <label>Maintain or Extend?</label>
        <locationX>802</locationX>
        <locationY>246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>VPM_MaintainExtendChoice</targetReference>
        </connector>
        <fields>
            <name>VPM_MaintainExtendInstr</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Would you like to maintain the existing Vendor or extend the Vendor to a new ECC?&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;Vendor: &lt;/I&gt;{!VPM_FullVendorDetails}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_ChoiceExtendMaintain</name>
            <choiceReferences>VPM_Maintain</choiceReferences>
            <choiceReferences>VPM_Extend</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Dummy</name>
            <fieldText>Cuurent Vendor Status - {!VPM_PurchasingRequest.VPM_VendorStatus__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>VPM_MaintainFinanciallySensitiveFieldsScreen</name>
        <label>Maintain Financially Sensitive Fields Screen</label>
        <locationX>1074</locationX>
        <locationY>1153</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_MaintainMenuDecisionScreen</targetReference>
        </connector>
        <fields>
            <name>VPM_MaintainFinanciallySensitive</name>
            <dataType>String</dataType>
            <fieldText>Maintain Financially Sensitive</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_MaintainFinanciallySensitiveFields</name>
            <choiceReferences>VPM_Menu</choiceReferences>
            <choiceReferences>VPM_Exit</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>Maintain Financially Sensitive Fields</pausedText>
    </screens>
    <screens>
        <name>VPM_MaintainLaunchScreen</name>
        <label>Launch Screen</label>
        <locationX>911</locationX>
        <locationY>873</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_Maintain1LaunchScreenDecision</targetReference>
        </connector>
        <fields>
            <name>VPM_MaintainTypeInfo</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Type : &lt;/B&gt;&lt;B&gt;&lt;I&gt; &lt;/I&gt;&lt;/B&gt;Maintain &lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_Maintain1RequestTypeChoice</name>
            <choiceReferences>VPM_RequestBriefChoice</choiceReferences>
            <choiceReferences>VPM_VendorMatchChocie</choiceReferences>
            <choiceReferences>VPM_VendorDetailsChoice</choiceReferences>
            <choiceReferences>VPM_Maintain1BlockDeleteChoice</choiceReferences>
            <choiceReferences>VPM_PaymentTeamsChoice</choiceReferences>
            <choiceReferences>VPM_BankDetailsChoice</choiceReferences>
            <choiceReferences>VPM_FInanciallySensitiveFieldsChoice</choiceReferences>
            <choiceReferences>VPM_RegoinalSpecificFieldsChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_Maintain1Blank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_Maintain1FinalChoice</name>
            <choiceReferences>VPM_SubmitChoice</choiceReferences>
            <choiceReferences>VPM_ExitChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;Launch Screen &lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</pausedText>
    </screens>
    <screens>
        <name>VPM_MaintainRequestBriefScreen</name>
        <label>Maintain Request Brief Screen</label>
        <locationX>1323</locationX>
        <locationY>1086</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>VPM_MaintainMenuDecisionScreen</targetReference>
        </connector>
        <fields>
            <name>VPM_MaintainInstr</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Edit the information for the Vendor as shown. Clearing out the field will enter a blank value in to SAP. Click &lt;B&gt;Next&lt;/B&gt; to send your changes for approval.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Vendor: &lt;/B&gt;{!VPM_FullVendorDetails}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Vendor Code:&lt;/B&gt; {!VPM_Vendors.VPM_VendorCode__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_MaintainName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidVendorName</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Name &lt;/B&gt;&lt;I&gt;(previously {!VPM_Vendors.VPM_VendorName__c})&lt;/I&gt;&lt;B&gt;:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_MaintainStreet1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidVendorStreet</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Street&lt;/B&gt; &lt;I&gt;(previously {!VPM_Vendors.VPM_Street1__c})&lt;/I&gt;:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_MaintainCity</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_Vendors.VPM_City__c</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;City&lt;/B&gt; &lt;I&gt;(previously {!VPM_Vendors.VPM_City__c})&lt;/I&gt;:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_MaintainPostcode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidZIPPostcode</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Postcode&lt;/B&gt; &lt;I&gt;(previously {!VPM_Vendors.VPM_ZIPPostcode__c})&lt;/I&gt;:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_MaintainMenuRequestBrief</name>
            <choiceReferences>VPM_Menu</choiceReferences>
            <choiceReferences>VPM_Exit</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>VPM_PaymentTermsScreen</name>
        <label>Payment Terms Screen</label>
        <locationX>567</locationX>
        <locationY>652</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_BankDetailsSectionAssignment</targetReference>
        </connector>
        <fields>
            <name>VPM_ProcurementDetailField1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_ProcurementDetails1Var</elementReference>
            </defaultValue>
            <fieldText>Procurement Detail Field 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_ProcurementDetailsField2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_ProcurementDetails2Var</elementReference>
            </defaultValue>
            <fieldText>Procurement Details Field 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Vpm_MenuPaymetTerms</name>
            <choiceReferences>VPM_Menu</choiceReferences>
            <choiceReferences>VPM_Exit</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>Payment Terms</pausedText>
    </screens>
    <screens>
        <name>VPM_VendorMatching</name>
        <label>Vendor Matching</label>
        <locationX>425</locationX>
        <locationY>10</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Purchasing_Request_Record_Types</targetReference>
        </connector>
        <fields>
            <name>VPM_VendMatchInstructions</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If the search criteria found a match, select the Vendor you wish to work on. Otherwise select &amp;apos;Vendor not on this List&amp;apos;. Click &lt;B&gt;Next &lt;/B&gt;when you&amp;apos;re ready&lt;B&gt;. &lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_SelectExistingVendor</name>
            <choiceReferences>VPM_ExistingVendorMatch</choiceReferences>
            <choiceReferences>VPM_VendorNotListed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vendor in MDM</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>Records found based on Name, Street, Postcode or Tax information matching. Click &apos;Previous&apos; to amend your search.</helpText>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>VPM_PurchasingRequestRecord</startElementReference>
    <variables>
        <name>VPM_AcountNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VPM_BankAccountNumberVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VPM_FinanceDetails1Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VPM_FinanceDetails2Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the text value for the formula that groups the Core Vendor information together from the Vendor object</description>
        <name>VPM_FullVendorDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the unique ID of the Vendor matched in SAP</description>
        <name>VPM_MatchedVendorID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This field will determine what&apos;s the current vendor status is requested from flow</description>
        <name>VPM_NewVendorStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ProcurementDetails1Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VPM_ProcurementDetails2Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>The Purchasing Request object used to store and process requests</description>
        <name>VPM_PurchasingRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>VPM_PurchasingRequests__c</objectType>
    </variables>
    <variables>
        <description>Stores the ID of the Purchasing Request record the flow was initiated from</description>
        <name>VPM_PurchasingRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>VPM_PurchasingRequest.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>VPM_PurchasingRequestInitialRecordTypeData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>VPM - Stores the record type ID of the purchasing request when initially created</description>
        <name>VPM_PurchasingRequestInitialRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VPM_PurchasingRequestRecordTypeChoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>VPM - sVariable collection of all Purchasing Request Record Types</description>
        <name>VPM_PurchasingRequestRecordTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>Stores the comments entered by the Business Requestor on the Rapid form</description>
        <name>VPM_RapidComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The email address entered by the Business Requestor on the Rapid form under Vendor Contact Details</description>
        <name>VPM_RapidContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Purchasing Country entered by the Business Requestor on the Rapid form</description>
        <name>VPM_RapidPurchasingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VPM_RapidVendorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Records the street name as entered on the Rapid form</description>
        <name>VPM_RapidVendorStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the &apos;What are you Buying&apos; value entered by the Business Requestor on the Rapid form</description>
        <name>VPM_RapidWhatAreYouBuying</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Postcode data entered by the Business Requestor on the Rapid form</description>
        <name>VPM_RapidZIPPostcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VPM_RegionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorCreateRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorExtendRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorMaintainRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorNewStatusVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>For the Vendor object for data lookup</description>
        <name>VPM_Vendors</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>VPM_Vendors__c</objectType>
    </variables>
</Flow>
