src/flows/VPM_PurchasingRequestsExtendLaunchScreen-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>VPM_LaunchScreenAssignment</name>
        <label>Launch Screen Assignment</label>
        <locationX>139</locationX>
        <locationY>283</locationY>
        <assignmentItems>
            <assignToReference>VPM_LaunchScreenActionVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_ExtendRequestTypeChoice1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_ExtendLaunchScreenDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_VendorMatchAssignment</name>
        <label>Vendor Match Assignment</label>
        <locationX>103</locationX>
        <locationY>588</locationY>
        <assignmentItems>
            <assignToReference>VendorMatchFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>VPM_BankDetailsChoice</name>
        <choiceText>Enter Bank Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BD</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_ExitChoice</name>
        <choiceText>Exit this form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exit</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_FInanciallySensitiveFieldsChoice</name>
        <choiceText>Enter Financially Sensitive Fields</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FS</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_PaymentTermsChoice</name>
        <choiceText>Enter Payment Terms</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_RegoinalSpecificFieldsChoice</name>
        <choiceText>Enter Regional Specific Fields</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RS</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_RequestBriefChoice</name>
        <choiceText>Review Request Brief</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RB</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_SubmitChoice</name>
        <choiceText>Submit Vendor Request for Approval</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Submit</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_VendorDetailsChoice</name>
        <choiceText>Enter General Vendor Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VD</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_VendorMatchChocie</name>
        <choiceText>Vendor Match</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VM</stringValue>
        </value>
    </choices>
    <decisions>
        <name>VPM_CheckECCDecision</name>
        <label>CheckECCDecision</label>
        <locationX>138</locationX>
        <locationY>13</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_Regional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_ECCVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VPM_ECCOutputVar</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_ExtensionTypeUpdateLookup</targetReference>
            </connector>
            <label>Regional</label>
        </rules>
        <rules>
            <name>VPM_Global</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_ECCVar</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>VPM_ECCOutputVar</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_ExtensionType_Update_Global</targetReference>
            </connector>
            <label>Global</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_ExtendLaunchScreenDecision</name>
        <label>Launch Screen Decision</label>
        <locationX>141</locationX>
        <locationY>370</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_RequestBriefOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_RequestBriefChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_RequestBriefScreen</targetReference>
            </connector>
            <label>Request Brief Outcome</label>
        </rules>
        <rules>
            <name>VPM_ExtendBankDetailsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_BankDetailsChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_BankDetailsFlow</targetReference>
            </connector>
            <label>Bank Details Outcome</label>
        </rules>
        <rules>
            <name>VPM_PaymentTermsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PaymentTermsChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_PaymentTerms</targetReference>
            </connector>
            <label>Payment Terms Outcome</label>
        </rules>
        <rules>
            <name>VPM_FinanciallySensitiveFieldsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_FInanciallySensitiveFieldsChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_FinanciallySensitivefieldFlow</targetReference>
            </connector>
            <label>Financially Sensitive Fields Outcome</label>
        </rules>
        <rules>
            <name>VPM_RegionalSpecificFieldsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_RegoinalSpecificFieldsChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_RegionalSpecificFieldFlow</targetReference>
            </connector>
            <label>Regional Specific Fields Outcome</label>
        </rules>
        <rules>
            <name>VPM_VendorMatchOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_VendorMatchChocie</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_VendorMatchAssignment</targetReference>
            </connector>
            <label>Vendor Match Outcome</label>
        </rules>
        <rules>
            <name>VPM_VendorDetailsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_VendorDetailsChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_VendordetailsFlow</targetReference>
            </connector>
            <label>Vendor Details Outcome</label>
        </rules>
    </decisions>
    <interviewLabel>VPM Purchasing Requests Extend Launch Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VPM Purchasing Requests Extend Launch Screen</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>VPM_ExtensionType_Update_Global</name>
        <label>ExtensionType Update Global</label>
        <locationX>305</locationX>
        <locationY>122</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VPM_ExtensionType__c</field>
            <value>
                <stringValue>Global</stringValue>
            </value>
        </inputAssignments>
        <object>VPM_PurchasingRequests__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>VPM_ExtensionTypeUpdateLookup</name>
        <label>ExtensionType Update Lookup</label>
        <locationX>139</locationX>
        <locationY>121</locationY>
        <connector>
            <targetReference>VPM_ExtendRequestTypeChoice</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VPM_ExtensionType__c</field>
            <value>
                <stringValue>Regional</stringValue>
            </value>
        </inputAssignments>
        <object>VPM_PurchasingRequests__c</object>
    </recordUpdates>
    <screens>
        <name>VPM_ExtendRequestTypeChoice</name>
        <label>Request Type</label>
        <locationX>138</locationX>
        <locationY>198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_LaunchScreenAssignment</targetReference>
        </connector>
        <fields>
            <name>VPM_ExtendTypeInfo</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Type  : Extend&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Status : {!VPM_StatusFormulaVar}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_ExtendRequestTypeChoice1</name>
            <choiceReferences>VPM_RequestBriefChoice</choiceReferences>
            <choiceReferences>VPM_BankDetailsChoice</choiceReferences>
            <choiceReferences>VPM_VendorDetailsChoice</choiceReferences>
            <choiceReferences>VPM_PaymentTermsChoice</choiceReferences>
            <choiceReferences>VPM_VendorMatchChocie</choiceReferences>
            <choiceReferences>VPM_FInanciallySensitiveFieldsChoice</choiceReferences>
            <choiceReferences>VPM_RegoinalSpecificFieldsChoice</choiceReferences>
            <choiceReferences>VPM_SubmitChoice</choiceReferences>
            <choiceReferences>VPM_ExitChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>VPM_CheckECCDecision</startElementReference>
    <subflows>
        <name>VPM_BankDetailsFlow</name>
        <label>Bank Details Flow</label>
        <locationX>18</locationX>
        <locationY>483</locationY>
        <flowName>VPM_Purchasing_Request_Bank_Details</flowName>
        <inputAssignments>
            <name>VPM_PurchasingRequestID</name>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_RecordTypeIDVar</name>
            <value>
                <elementReference>VPM_VendorExtendRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ActionVar</assignToReference>
            <name>VPM_ActionVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_BankDetailsScreenVar</assignToReference>
            <name>VPM_BankDetailsScreenVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>VPM_FinanciallySensitivefieldFlow</name>
        <label>VPM_FinanciallySensitivefieldFlow</label>
        <locationX>210</locationX>
        <locationY>513</locationY>
        <flowName>VPM_Purchasing_Requests_FinanciallySpecificFieldsScreen</flowName>
        <inputAssignments>
            <name>VPM_PurchasingRequestID</name>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_RecordTypeIDVar</name>
            <value>
                <elementReference>VPM_VendorExtendRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ActionVar</assignToReference>
            <name>VPM_ActionVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_FinanciallySensitiveFieldScreenVar</assignToReference>
            <name>VPM_FinanciallySensitiveFieldScreenVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>VPM_PaymentTerms</name>
        <label>Payment Terms</label>
        <locationX>571</locationX>
        <locationY>508</locationY>
        <flowName>VPM_Purchasing_request_Payment_terms</flowName>
        <inputAssignments>
            <name>VPM_PurchasingRequestID</name>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_RecordTypeIDVar</name>
            <value>
                <elementReference>VPM_VendorExtendRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ActionVar</assignToReference>
            <name>VPM_ActionVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PaymentTermsScreenVar</assignToReference>
            <name>VPM_PaymentTermsScreenVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>VPM_RegionalSpecificFieldFlow</name>
        <label>Regional Specific Field Flow</label>
        <locationX>747</locationX>
        <locationY>513</locationY>
        <flowName>VPM_PurchasingRequestsRegionalSpecificFieldsOutcome</flowName>
        <inputAssignments>
            <name>VPM_PurchasingRequestID</name>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_RecordTypeIDVar</name>
            <value>
                <elementReference>VPM_VendorExtendRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ActionVar</assignToReference>
            <name>VPM_ActionVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RegionalSpecificFieldScreenVar</assignToReference>
            <name>VPM_RegionalSpecificFieldScreenVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>VPM_RequestBriefScreen</name>
        <label>Request Brief Screen</label>
        <locationX>386</locationX>
        <locationY>520</locationY>
        <flowName>VPM_Purchasing_Request_Brief</flowName>
        <inputAssignments>
            <name>VPM_PurchasingRequestID</name>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_RecordTypeIDVar</name>
            <value>
                <elementReference>VPM_VendorExtendRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ActionVar</assignToReference>
            <name>VPM_ActionVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RequestBriefScreenVar</assignToReference>
            <name>VPM_RequestBriefScreenVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>VPM_VendordetailsFlow</name>
        <label>Vendor details Flow</label>
        <locationX>891</locationX>
        <locationY>515</locationY>
        <flowName>VPM_PurchasingRequestVendorDetails</flowName>
        <inputAssignments>
            <name>VPM_PurchasingRequestID</name>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_RecordTypeIDVar</name>
            <value>
                <elementReference>VPM_VendorExtendRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ActionVar</assignToReference>
            <name>VPM_ActionVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_VendorDetailsScreenVar</assignToReference>
            <name>VPM_VendorDetailsScreenVar</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>VendorMatchFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ActionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_BankDetailsScreenVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CompanyCodeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ECCOutputVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ECCVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_FinanciallySensitiveFieldScreenVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_IsBlockedVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_IsDeletedVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_IsVendorFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_LaunchScreenActionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_PaymentTermsScreenVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_PurchasingRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RegionalSpecificFieldScreenVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RequestBriefScreenVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_StatusFormulaVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorDetailsScreenVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorExtendRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
