src/flows/VPM_AssignCommodityApprover-12.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>VPM_CommodityCountryNotMatching</name>
        <label>CommodityCountryNotMatching</label>
        <locationX>56</locationX>
        <locationY>460</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>VPM_UpdateVendorRequestApprovers</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>This will fail to trigger an approval process. Please contact your System Administrator.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Commodity Selected for Country Requesting Vendor {!VPM_VendorRequestCountry} does not have Approvers Configured</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>kevin.white@capgemini.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>VPM_Approver10</name>
        <label>Approver 10</label>
        <locationX>1262</locationX>
        <locationY>550</locationY>
        <assignmentItems>
            <assignToReference>Approver10</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_UpdateVendorRequestApprovers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_Approver2</name>
        <label>Approver 2</label>
        <locationX>257</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>Approver2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver5</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver6</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver7</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver8</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver9</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver10</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_UpdateVendorRequestApprovers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_Approver3</name>
        <label>Approver 3</label>
        <locationX>378</locationX>
        <locationY>547</locationY>
        <assignmentItems>
            <assignToReference>Approver3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver5</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver6</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver7</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver8</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver9</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver10</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_UpdateVendorRequestApprovers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_Approver4</name>
        <label>Approver 4</label>
        <locationX>501</locationX>
        <locationY>552</locationY>
        <assignmentItems>
            <assignToReference>Approver4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver5</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver6</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver7</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver8</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver9</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver10</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_UpdateVendorRequestApprovers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_Approver5</name>
        <label>Approver 5</label>
        <locationX>625</locationX>
        <locationY>556</locationY>
        <assignmentItems>
            <assignToReference>Approver5</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver6</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver7</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver8</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver9</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver10</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_UpdateVendorRequestApprovers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_Approver6</name>
        <label>Approver 6</label>
        <locationX>750</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>Approver6</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver7</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver8</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver9</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver10</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_UpdateVendorRequestApprovers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_Approver7</name>
        <label>Approver 7</label>
        <locationX>875</locationX>
        <locationY>554</locationY>
        <assignmentItems>
            <assignToReference>Approver7</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver8</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver9</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver10</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_UpdateVendorRequestApprovers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_Approver8</name>
        <label>Approver 8</label>
        <locationX>1006</locationX>
        <locationY>550</locationY>
        <assignmentItems>
            <assignToReference>Approver8</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver9</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver10</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_UpdateVendorRequestApprovers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_Approver9</name>
        <label>Approver 9</label>
        <locationX>1133</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>Approver9</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approver10</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_UpdateVendorRequestApprovers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>VPM_ApproverIsBlank</name>
        <label>Approver Is Blank</label>
        <locationX>259</locationX>
        <locationY>394</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_Approver2Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approver2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_Approver2</targetReference>
            </connector>
            <label>Approver 2 Blank</label>
        </rules>
        <rules>
            <name>VPM_Approver3Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approver3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_Approver3</targetReference>
            </connector>
            <label>Approver 3 Blank</label>
        </rules>
        <rules>
            <name>VPM_Approver4Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approver4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_Approver4</targetReference>
            </connector>
            <label>Approver 4 Blank</label>
        </rules>
        <rules>
            <name>VPM_Approver5Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approver5</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_Approver5</targetReference>
            </connector>
            <label>Approver 5 Blank</label>
        </rules>
        <rules>
            <name>VPM_Approver6Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approver6</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_Approver6</targetReference>
            </connector>
            <label>Approver 6 Blank</label>
        </rules>
        <rules>
            <name>VPM_Approver7Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approver7</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_Approver7</targetReference>
            </connector>
            <label>Approver 7 Blank</label>
        </rules>
        <rules>
            <name>VPM_Approver8Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approver8</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_Approver8</targetReference>
            </connector>
            <label>Approver 8 Blank</label>
        </rules>
        <rules>
            <name>VPM_Approver9Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approver9</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_Approver9</targetReference>
            </connector>
            <label>Approver 9 Blank</label>
        </rules>
        <rules>
            <name>VPM_Approver10Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approver10</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_Approver10</targetReference>
            </connector>
            <label>Approver 10 Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_CommodityApproverIDBlank</name>
        <label>Commodity Approver ID Blank?</label>
        <locationX>30</locationX>
        <locationY>243</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_NoCommodityApproverRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_CommodityApproverID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_CommodityCountryNotMatching</targetReference>
            </connector>
            <label>No Commodity Approver Record</label>
        </rules>
        <rules>
            <name>VPM_CommodityApproverFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_CommodityApproverID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_ApproverIsBlank</targetReference>
            </connector>
            <label>Commodity Approver Found</label>
        </rules>
    </decisions>
    <description>Includes edits by KW to store the Commodity Approver at Class rather than Commodity level</description>
    <interviewLabel>Assign Commodity Approver {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Commodity Approver</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>VPM_LookupCommodityApprover</name>
        <label>Look up Commodity Approver</label>
        <locationX>34</locationX>
        <locationY>84</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VPM_CommodityApproverIDBlank</targetReference>
        </connector>
        <filters>
            <field>VPM_CommodityClass__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_CommodityClass</elementReference>
            </value>
        </filters>
        <filters>
            <field>VPM_Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_VendorRequestCountry</elementReference>
            </value>
        </filters>
        <object>VPM_CommodityApprover__c</object>
        <outputAssignments>
            <assignToReference>VPM_CommodityApproverID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Approver10</assignToReference>
            <field>VPM_Approver10__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Approver1</assignToReference>
            <field>VPM_Approver1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Approver2</assignToReference>
            <field>VPM_Approver2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Approver3</assignToReference>
            <field>VPM_Approver3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Approver4</assignToReference>
            <field>VPM_Approver4__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Approver5</assignToReference>
            <field>VPM_Approver5__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Approver6</assignToReference>
            <field>VPM_Approver6__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Approver7</assignToReference>
            <field>VPM_Approver7__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Approver8</assignToReference>
            <field>VPM_Approver8__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Approver9</assignToReference>
            <field>VPM_Approver9__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>VPM_UpdateVendorRequestApprovers</name>
        <label>Update Vendor Request Approvers</label>
        <locationX>76</locationX>
        <locationY>986</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VendorRequestId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VPM_Approver10__c</field>
            <value>
                <elementReference>Approver10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Approver1__c</field>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Approver2__c</field>
            <value>
                <elementReference>Approver2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Approver3__c</field>
            <value>
                <elementReference>Approver3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Approver4__c</field>
            <value>
                <elementReference>Approver4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Approver5__c</field>
            <value>
                <elementReference>Approver5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Approver6__c</field>
            <value>
                <elementReference>Approver6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Approver7__c</field>
            <value>
                <elementReference>Approver7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Approver8__c</field>
            <value>
                <elementReference>Approver8</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Approver9__c</field>
            <value>
                <elementReference>Approver9</elementReference>
            </value>
        </inputAssignments>
        <object>VPM_PurchasingRequests__c</object>
    </recordUpdates>
    <startElementReference>VPM_LookupCommodityApprover</startElementReference>
    <variables>
        <name>Approver1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Approver10</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Approver2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Approver3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Approver4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Approver5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Approver6</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Approver7</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Approver8</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Approver9</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VendorRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>VPM_PurchasingRequests__c</objectType>
    </variables>
    <variables>
        <name>VendorRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VPM_Approver1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the Commodity Approver ID</description>
        <name>VPM_CommodityApproverID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable taken from Vendor request record of Commodity Class</description>
        <name>VPM_CommodityClass</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorRequestCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
