src/flows/VPM_CreateLaunchScreen-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Var_LaunchScreenAssignment</name>
        <label>Launch Screen Assignment</label>
        <locationX>205</locationX>
        <locationY>167</locationY>
        <assignmentItems>
            <assignToReference>VPM_LaunchScreenActionVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_CreateFinalChoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_CreateLaunchScreenDecision</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>VPM_BankDetailsChoice</name>
        <choiceText>Bank Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BD</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_ExitChoice</name>
        <choiceText>Exit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exit</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_FInanciallySensitiveFieldsChoice</name>
        <choiceText>Financially Sensitive Fields</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FS</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_PaymentTeamsChoice</name>
        <choiceText>Payment Terms</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_RegionalSpecificFieldsChoice</name>
        <choiceText>Regional Specific Fields</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RS</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_RequestBriefChoice</name>
        <choiceText>Request Brief</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RB</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_SubmitChoice</name>
        <choiceText>Submit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Submit</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_VendorDetailsChoice</name>
        <choiceText>Vendor Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VD</stringValue>
        </value>
    </choices>
    <decisions>
        <name>VPM_CreateLaunchScreenDecision</name>
        <label>Launch Screen Decision</label>
        <locationX>248</locationX>
        <locationY>254</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Request_Brief_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VPM_CreateRequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_RequestBriefFlow</targetReference>
            </connector>
            <label>Request Brief Outcome</label>
        </rules>
        <rules>
            <name>VPM_CreateBankDeatilsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_CreateRequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_BankDetailsFlow</targetReference>
            </connector>
            <label>Bank Deatils Outcome</label>
        </rules>
        <rules>
            <name>VPM_FinalSubmit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VPM_CreateFinalChoice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_ExitChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_SubmitChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Final Submit</label>
        </rules>
        <rules>
            <name>VPM_CreatePaymentTermsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_CreateRequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_PaymentTermsFlow</targetReference>
            </connector>
            <label>Payment Terms Outcome</label>
        </rules>
        <rules>
            <name>VPM_CreateVendorDetailsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_CreateRequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_VendorDetailsFlow</targetReference>
            </connector>
            <label>Vendor Details Outcome</label>
        </rules>
        <rules>
            <name>VPM_CreateFinanciallySensitiveFieldsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_CreateRequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_FinanciallySpecificFlow</targetReference>
            </connector>
            <label>Financially Sensitive Fields Outcome</label>
        </rules>
        <rules>
            <name>VPM_CreateRegionalSpecificFieldsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_CreateRequestTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_RegionalSpecificFlow</targetReference>
            </connector>
            <label>Regional Specific Fields Outcome</label>
        </rules>
        <rules>
            <name>VPM_LaunchExit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_ExitChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Create Launch Exit</label>
        </rules>
        <rules>
            <name>VPM_SubmitBeforeApproval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_CreateFinalChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <label>Submit Before Approval</label>
        </rules>
    </decisions>
    <interviewLabel>Create Launch Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Launch Screen</label>
    <processType>Flow</processType>
    <screens>
        <name>VPM_CreateLaunchScreen</name>
        <label>Launch Screen</label>
        <locationX>186</locationX>
        <locationY>65</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Var_LaunchScreenAssignment</targetReference>
        </connector>
        <fields>
            <name>VPM_CreateTypeInfo</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Type : &lt;/B&gt;Create&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_VendorStatus1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Status : &lt;/B&gt; {!VPMStatusFormulaVar}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_CreateRequestTypeChoice</name>
            <choiceReferences>VPM_RequestBriefChoice</choiceReferences>
            <choiceReferences>VPM_BankDetailsChoice</choiceReferences>
            <choiceReferences>VPM_PaymentTeamsChoice</choiceReferences>
            <choiceReferences>VPM_VendorDetailsChoice</choiceReferences>
            <choiceReferences>VPM_FInanciallySensitiveFieldsChoice</choiceReferences>
            <choiceReferences>VPM_RegionalSpecificFieldsChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_CreateBlank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_CreateFinalChoice</name>
            <choiceReferences>VPM_SubmitChoice</choiceReferences>
            <choiceReferences>VPM_ExitChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>VPM_CreateLaunchScreen</startElementReference>
    <subflows>
        <name>VPM_BankDetailsFlow</name>
        <label>Bank Details Flow</label>
        <locationX>14</locationX>
        <locationY>381</locationY>
        <flowName>VPM_Purchasing_Request_Bank_Details</flowName>
        <inputAssignments>
            <name>VPM_PurchasingRequestID</name>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_BankDetailsScreenVar</name>
            <value>
                <elementReference>VPM_BankDetailsScreenVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_ActionVar</name>
            <value>
                <elementReference>VPM_ActionVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_RecordTypeIDVar</name>
            <value>
                <elementReference>VPM_VendorCreateRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequestID</assignToReference>
            <name>VPM_PurchasingRequestID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ActionVar</assignToReference>
            <name>VPM_ActionVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_BankDetailsScreenVar</assignToReference>
            <name>VPM_BankDetailsScreenVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>VPM_FinanciallySpecificFlow</name>
        <label>Financially Specific Flow</label>
        <locationX>384</locationX>
        <locationY>840</locationY>
        <flowName>VPM_Purchasing_Requests_FinanciallySpecificFieldsScreen</flowName>
        <inputAssignments>
            <name>VPM_PurchasingRequestID</name>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_ActionVar</name>
            <value>
                <elementReference>VPM_ActionVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_FinanciallySensitiveFieldScreenVar</name>
            <value>
                <elementReference>VPM_FinanciallySensitiveFieldScreenVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_RecordTypeIDVar</name>
            <value>
                <elementReference>VPM_VendorCreateRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequestID</assignToReference>
            <name>VPM_PurchasingRequestID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ActionVar</assignToReference>
            <name>VPM_ActionVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_FinanciallySensitiveFieldScreenVar</assignToReference>
            <name>VPM_FinanciallySensitiveFieldScreenVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>VPM_PaymentTermsFlow</name>
        <label>Payment Terms Flow</label>
        <locationX>77</locationX>
        <locationY>461</locationY>
        <flowName>VPM_Purchasing_request_Payment_terms</flowName>
        <inputAssignments>
            <name>VPM_PurchasingRequestID</name>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_ActionVar</name>
            <value>
                <elementReference>VPM_ActionVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_PaymentTermsScreenVar</name>
            <value>
                <elementReference>VPM_PaymentTermsScreenVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_RecordTypeIDVar</name>
            <value>
                <elementReference>VPM_VendorCreateRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequestID</assignToReference>
            <name>VPM_PurchasingRequestID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PaymentTermsScreenVar</assignToReference>
            <name>VPM_PaymentTermsScreenVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ActionVar</assignToReference>
            <name>VPM_ActionVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>VPM_RegionalSpecificFlow</name>
        <label>Regional Specific Flow</label>
        <locationX>291</locationX>
        <locationY>738</locationY>
        <flowName>VPM_PurchasingRequestsRegionalSpecificFieldsOutcome</flowName>
        <inputAssignments>
            <name>VPM_PurchasingRequestID</name>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_ActionVar</name>
            <value>
                <elementReference>VPM_ActionVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_RegionalSpecificFieldScreenVar</name>
            <value>
                <elementReference>VPM_RegionalSpecificFieldScreenVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_RecordTypeIDVar</name>
            <value>
                <elementReference>VPM_VendorCreateRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequestID</assignToReference>
            <name>VPM_PurchasingRequestID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ActionVar</assignToReference>
            <name>VPM_ActionVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RegionalSpecificFieldScreenVar</assignToReference>
            <name>VPM_RegionalSpecificFieldScreenVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>VPM_RequestBriefFlow</name>
        <label>Request Brief Flow</label>
        <locationX>238</locationX>
        <locationY>657</locationY>
        <flowName>VPM_Purchasing_Request_Brief</flowName>
        <inputAssignments>
            <name>VPM_PurchasingRequestID</name>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_RecordTypeIDVar</name>
            <value>
                <elementReference>VPM_VendorCreateRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_RequestBriefScreenVar</name>
            <value>
                <elementReference>VPM_RequestBriefScreenVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_ActionVar</name>
            <value>
                <elementReference>VPM_ActionVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequestID</assignToReference>
            <name>VPM_PurchasingRequestID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ActionVar</assignToReference>
            <name>VPM_ActionVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RequestBriefScreenVar</assignToReference>
            <name>VPM_RequestBriefScreenVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_VendorCreateRecordTypeID</assignToReference>
            <name>VPM_RecordTypeIDVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>VPM_VendorDetailsFlow</name>
        <label>Vendor Details Flow</label>
        <locationX>144</locationX>
        <locationY>554</locationY>
        <flowName>VPM_PurchasingRequestVendorDetails</flowName>
        <inputAssignments>
            <name>VPM_PurchasingRequestID</name>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_ActionVar</name>
            <value>
                <elementReference>VPM_ActionVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_VendorDetailsScreenVar</name>
            <value>
                <elementReference>VPM_VendorDetailsScreenVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_RecordTypeIDVar</name>
            <value>
                <elementReference>VPM_VendorCreateRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ActionVar</assignToReference>
            <name>VPM_ActionVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequestID</assignToReference>
            <name>VPM_PurchasingRequestID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_VendorDetailsScreenVar</assignToReference>
            <name>VPM_VendorDetailsScreenVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_VendorCreateRecordTypeID</assignToReference>
            <name>VPM_RecordTypeIDVar</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>VPM_ActionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_BankDetailsScreenVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_FinanciallySensitiveFieldScreenVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_LaunchScreenActionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_PaymentTermsScreenVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_PurchasingRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RegionalSpecificFieldScreenVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RequestBriefScreenVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorCreateRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorDetailsScreenVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>VPM - Stores the Value of status which will rec as input from Master flow</description>
        <name>VPMStatusFormulaVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
