src/flows/VPM_CheckAdvancedBusinessRequestorFlow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>Draft</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Draft</stringValue>
        </value>
    </constants>
    <decisions>
        <name>VPM_CheckIfAdvancedBR</name>
        <label>CheckIfAdvancedBR</label>
        <locationX>226</locationX>
        <locationY>105</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_IsAdvancedBusinessRequestor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PurchasingRequestID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_CreatePurchaseRequestRecord</targetReference>
            </connector>
            <label>Is Advanced Business Requestor</label>
        </rules>
        <rules>
            <name>VPM_NotAdvancedBR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PurchasingRequestID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_VendorRequestRecordUpdate</targetReference>
            </connector>
            <label>Not Advanced BR</label>
        </rules>
    </decisions>
    <interviewLabel>VPM Check Advanced Business Requestor Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VPM Check Advanced Business Requestor Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>VPM_CreatePurchaseRequestRecord</name>
        <label>Create Purchase Request Record</label>
        <locationX>332</locationX>
        <locationY>255</locationY>
        <assignRecordIdToReference>VPM_PurchasingRequestID</assignRecordIdToReference>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VPM_VendorRequestGeneralRecortypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Country__c</field>
            <value>
                <elementReference>VPM_MDM_CountryVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Status__c</field>
            <value>
                <elementReference>Draft</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_VendorName1__c</field>
            <value>
                <elementReference>VPM_SearchVendorNameVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ZIPPostcode__c</field>
            <value>
                <elementReference>VPM_RapidZIPPostcodeVar</elementReference>
            </value>
        </inputAssignments>
        <object>VPM_PurchasingRequests__c</object>
    </recordCreates>
    <recordUpdates>
        <name>VPM_VendorRequestRecordUpdate</name>
        <label>Vendor Request Record Update</label>
        <locationX>121</locationX>
        <locationY>251</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VPM_Country__c</field>
            <value>
                <elementReference>VPM_MDM_CountryVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Street1__c</field>
            <value>
                <elementReference>VPM_SearchStreet1Var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_VendorName1__c</field>
            <value>
                <elementReference>VPM_SearchVendorNameVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ZIPPostcode__c</field>
            <value>
                <elementReference>VPM_SearchZIPPostcodeVar</elementReference>
            </value>
        </inputAssignments>
        <object>VPM_PurchasingRequests__c</object>
    </recordUpdates>
    <startElementReference>VPM_CheckIfAdvancedBR</startElementReference>
    <variables>
        <name>VPM_MDM_CountryVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_PurchasingRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RapidZIPPostcodeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_SearchStreet1Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_SearchVendorNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_SearchZIPPostcodeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorRequestGeneralRecortypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
