src/flows/VPM_PurchasingRequestsRegionalSpecificFieldsOutcome-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>VPM_RegionalSpecificFields1Assignment</name>
        <label>Regional Specific Fields1 Assignment</label>
        <locationX>612</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>VPM_ActionVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_SelectActionRegionSpecific1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VPM_RegionalSpecificFieldScreenVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Regional Specific Fields</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_SubmitExtend</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_RegionalSpecificFieldsAssignment</name>
        <label>Regional Specific Fields Assignment</label>
        <locationX>93</locationX>
        <locationY>429</locationY>
        <assignmentItems>
            <assignToReference>VPM_ActionVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_CreateMenuRegionalSpecificFields</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VPM_RegionalSpecificFieldScreenVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Regional Specific Fields</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_SubmitExtend</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_RegionalSpecificFieldsFusionAssignment</name>
        <label>Regional Specific Fields Fusion Assignment</label>
        <locationX>430</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>VPM_ActionVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_CreateMenuRegionalSpecificfFusion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VPM_RegionalSpecificFieldScreenVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Regional Specific Fields</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_SubmitExtend</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_RegionalSpecificFieldsU2K2Assignment</name>
        <label>Regional Specific Fields U2K2 Assignment</label>
        <locationX>267</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>VPM_ActionVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_CreateMenuRegionalSpecificU2K2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VPM_RegionalSpecificFieldScreenVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Regional Specific Fields</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_SubmitExtend</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>VPM_Exit</name>
        <choiceText>Save &amp; Exit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Menu</name>
        <choiceText>Save</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M</stringValue>
        </value>
    </choices>
    <decisions>
        <name>VPM_RegionSpecificDecision</name>
        <label>Region Specific Decision</label>
        <locationX>275</locationX>
        <locationY>125</locationY>
        <defaultConnector>
            <targetReference>VPM_RegionalSpecificFieldsScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_Region1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_RegionVAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cordillera</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_RegionalSpecificFieldsScreen</targetReference>
            </connector>
            <label>Region1</label>
        </rules>
        <rules>
            <name>VPM_Region2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_RegionVAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sirius</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_CreateRegionSpecificU2K2Screen</targetReference>
            </connector>
            <label>Region2</label>
        </rules>
        <rules>
            <name>VPM_Region3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_RegionVAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fusion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_CreateRegionSpecificFusionScreen</targetReference>
            </connector>
            <label>Region3</label>
        </rules>
        <rules>
            <name>VPM_Region4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_RegionVAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U2K2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_RegionalSpecificFields1</targetReference>
            </connector>
            <label>Region4</label>
        </rules>
        <rules>
            <name>VPM_NoRegionFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_RegionVAR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_RegionalSpecificFieldsScreen</targetReference>
            </connector>
            <label>No Region Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_SubmitExtend</name>
        <label>SubmitExtend</label>
        <locationX>352</locationX>
        <locationY>555</locationY>
        <defaultConnector>
            <targetReference>VPM_RegionalSpecificFieldsRecordUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_ExtendIsLock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PurchasingRequest.VPM_IsLock__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_ExtendLockErrorMessage</targetReference>
            </connector>
            <label>ExtendIsLock</label>
        </rules>
        <rules>
            <name>VPM_ExtendRework</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PurchasingRequest.VPM_Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Re-Work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_PurchasingRequest.VPM_IsLock__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_ExtendReworkMessage</targetReference>
            </connector>
            <label>ExtendRework</label>
        </rules>
    </decisions>
    <interviewLabel>VPM Purchasing Requests Regional Specific Fields Outcome {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VPM Purchasing Requests Regional Specific Fields Outcome</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>VPM_RegionalSpecificFieldsRecordLookUp</name>
        <label>Regional Specific Fields Record LookUp</label>
        <locationX>274</locationX>
        <locationY>14</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VPM_RegionSpecificDecision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </filters>
        <object>VPM_PurchasingRequests__c</object>
        <outputAssignments>
            <assignToReference>VPM_CordileraArabiaOldNumberVar</assignToReference>
            <field>VPM_ArabicVersion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequest.VPM_IsLock__c</assignToReference>
            <field>VPM_IsLock__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RegionVAR</assignToReference>
            <field>VPM_Region__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequest.VPM_Status__c</assignToReference>
            <field>VPM_Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>VPM_RegionalSpecificFieldsRecordUpdate</name>
        <label>Regional Specific Fields Record Update</label>
        <locationX>349</locationX>
        <locationY>742</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VPM_RecordTypeIDVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ArabicVersion__c</field>
            <value>
                <elementReference>VPM_CreateCordilleraArabiaOldNumber</elementReference>
            </value>
        </inputAssignments>
        <object>VPM_PurchasingRequests__c</object>
    </recordUpdates>
    <screens>
        <name>VPM_CreateRegionSpecificFusionScreen</name>
        <label>RegionSpecificFusionScreen</label>
        <locationX>414</locationX>
        <locationY>287</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_RegionalSpecificFieldsFusionAssignment</targetReference>
        </connector>
        <fields>
            <name>VPM_CreateFusionTurkeyOldNumber</name>
            <dataType>String</dataType>
            <fieldText>Fusion Israel OldNumber</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_CreateFusionIsraelOldNumber</name>
            <dataType>String</dataType>
            <fieldText>Fusion Israel OldNumber</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_CreateFusionArabiaOldNumber</name>
            <dataType>String</dataType>
            <fieldText>Fusion Arabia OldNumber</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_CreateFusionNPIVendor</name>
            <dataType>Boolean</dataType>
            <fieldText>Fusion NPI Vendor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_CreateMenuRegionalSpecificfFusion</name>
            <choiceReferences>VPM_Menu</choiceReferences>
            <choiceReferences>VPM_Exit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>VPM_CreateRegionSpecificU2K2Screen</name>
        <label>CreateRegionSpecificU2K2Screen</label>
        <locationX>233</locationX>
        <locationY>292</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_RegionalSpecificFieldsU2K2Assignment</targetReference>
        </connector>
        <fields>
            <name>VPM_CreateU2K2TurkeyOldNumber</name>
            <dataType>String</dataType>
            <fieldText>U2K2 Turkey OldNumber</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_CreateU2K2IsraelOldNumber</name>
            <dataType>String</dataType>
            <fieldText>U2K2 Israel OldNumber</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_CreateU2K2ArabiaOldNumber</name>
            <dataType>String</dataType>
            <fieldText>U2K2 Arabia OldNumber</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cordillera_NPI_Vendor_0</name>
            <dataType>Boolean</dataType>
            <fieldText>U2K2 NPI Vendor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_CreateMenuRegionalSpecificU2K2</name>
            <choiceReferences>VPM_Menu</choiceReferences>
            <choiceReferences>VPM_Exit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>VPM_ExtendLockErrorMessage</name>
        <label>ExtendLockErrorMessage</label>
        <locationX>242</locationX>
        <locationY>657</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VPM_ExtendIslockErrorMessage</name>
            <fieldText>It&apos;s already under approval process</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>VPM_ExtendReworkMessage</name>
        <label>ExtendReworkMessage</label>
        <locationX>444</locationX>
        <locationY>653</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VPM_ReworkExtendMessage</name>
            <fieldText>This request is in an approval process. Please click the &apos;Recall&apos; button on the approval related list below first&apos;.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>VPM_RegionalSpecificFields1</name>
        <label>Regional Specific Fields</label>
        <locationX>594</locationX>
        <locationY>292</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_RegionalSpecificFields1Assignment</targetReference>
        </connector>
        <fields>
            <name>VPM_CreateSiriusTurkeyOldNumber</name>
            <dataType>String</dataType>
            <fieldText>Sirius Turkey OldNumber</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_CreateSiriusIsraelOldNumber</name>
            <dataType>String</dataType>
            <fieldText>Sirius Israel OldNumber</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_CreateSiriusArabiaOldNumber</name>
            <dataType>String</dataType>
            <fieldText>Sirius Arabia OldNumber</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_CreateSiriusNPIVendor</name>
            <dataType>Boolean</dataType>
            <fieldText>Sirius NPI Vendor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_SelectActionRegionSpecific1</name>
            <choiceReferences>VPM_Menu</choiceReferences>
            <choiceReferences>VPM_Exit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>VPM_RegionalSpecificFieldsScreen</name>
        <label>Regional Specific Fields Screen</label>
        <locationX>52</locationX>
        <locationY>259</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_RegionalSpecificFieldsAssignment</targetReference>
        </connector>
        <fields>
            <name>VPM_CreateCordilleraTurkeyOldNumber</name>
            <dataType>String</dataType>
            <fieldText>Cordillera Turkey Old Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_CreateCordilleraIsraelOldNumber</name>
            <dataType>String</dataType>
            <fieldText>Cordillera Israel OldNumber</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_CreateCordilleraArabiaOldNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_CordileraArabiaOldNumberVar</elementReference>
            </defaultValue>
            <fieldText>Cordillera Arabia OldNumber</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cordillera_NPI_Vendor</name>
            <dataType>Boolean</dataType>
            <fieldText>Cordillera NPI Vendor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_CreateMenuRegionalSpecificFields</name>
            <choiceReferences>VPM_Menu</choiceReferences>
            <choiceReferences>VPM_Exit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>VPM_RegionalSpecificFieldsRecordLookUp</startElementReference>
    <variables>
        <name>VPM_ActionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CordileraArabiaOldNumberVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_PurchasingRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>VPM_PurchasingRequests__c</objectType>
    </variables>
    <variables>
        <name>VPM_PurchasingRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RecordTypeIDVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RegionalSpecificFieldScreenVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RegionVAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
