src/flows/VPM_PurchasingRequestAdvanceForm-93.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>VPM_AssignCreateRecordTypeIdVariable</name>
        <label>VPM_AssignCreateRecordTypeIdVariable</label>
        <locationX>799</locationX>
        <locationY>3</locationY>
        <assignmentItems>
            <assignToReference>VPM_VendorCreateRecordTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_PurchasingRequestRecordTypeChoice.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_RecordTypeChoiceLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_AssignExtendRecordTypeIdVariable</name>
        <label>VPM_AssignExtendRecordTypeIdVariable</label>
        <locationX>769</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>VPM_VendorExtendRecordTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_PurchasingRequestRecordTypeChoice.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_RecordTypeChoiceLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_AssignMaintainRecordTypeIdVariable</name>
        <label>VPM_AssignMaintainRecordTypeIdVariable</label>
        <locationX>797</locationX>
        <locationY>114</locationY>
        <assignmentItems>
            <assignToReference>VPM_VendorMaintainRecordTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_PurchasingRequestRecordTypeChoice.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_RecordTypeChoiceLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_AssignVendorReqGeneralRecordTypeIdVariable</name>
        <label>VPM_AssignVendorReqGeneralRecordTypeIdVariable</label>
        <locationX>956</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>VPM_VendorRequestGeneralRecortypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_PurchasingRequestRecordTypeChoice.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_RecordTypeChoiceLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_CreateLaunchAssignment</name>
        <label>Create Launch Assignment</label>
        <locationX>24</locationX>
        <locationY>609</locationY>
        <assignmentItems>
            <assignToReference>VPM_RedirecttoLaunchVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_IsItForSubmitOrExitDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_ExitAssignment</name>
        <label>Exit Assignment</label>
        <locationX>153</locationX>
        <locationY>1012</locationY>
        <assignmentItems>
            <assignToReference>VPM_RedirecttoLaunchVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_SaveAndExitScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_IsItSubmitOrExitAssignment</name>
        <label>VPM_IsItSubmitOrExit Assignment</label>
        <locationX>29</locationX>
        <locationY>960</locationY>
        <assignmentItems>
            <assignToReference>VPM_ActionVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_MenuScreenDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_MaintainAssignment</name>
        <label>Maintain assignment</label>
        <locationX>703</locationX>
        <locationY>1126</locationY>
        <assignmentItems>
            <assignToReference>VPM_RedirecttoLaunchVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Maintain</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_IsItForSubmitOrExitDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_MaintainVariableAssignment_0</name>
        <label>VPM_MaintainVariableAssignment</label>
        <locationX>624</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>isBlockedDefVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_IsBlocked</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isDeletedDefVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_IsDeleted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsvendorFoundDefVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_IsVendorFound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyCodeDefVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_CompanyCodeVarOutput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_CheckAdvancedBRScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VPM_UpdateAssignment</name>
        <label>UpdateAssignment</label>
        <locationX>795</locationX>
        <locationY>331</locationY>
        <assignmentItems>
            <assignToReference>UpdateVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_CreateExtend</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>VPM_BankDetailsChoice</name>
        <choiceText>Bank Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BD</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_CountryFromRapidForm</name>
        <choiceText>{!VPM_RapidPurchasingCountry}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>VPM_RapidPurchasingCountry</elementReference>
        </value>
    </choices>
    <choices>
        <name>VPM_ExitChoice</name>
        <choiceText>Exit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Extend</name>
        <choiceText>Extend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extend</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_FInanciallySensitiveFieldsChoice</name>
        <choiceText>Financially Sensitive Fields</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FS</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Maintain</name>
        <choiceText>Maintain</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Maintain</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Makechanges</name>
        <choiceText>Make changes or additions to this form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MK</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_PaymentTeamsChoice</name>
        <choiceText>Payment Terms</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_RegoinalSpecificFieldsChoice</name>
        <choiceText>Regional Specific Fields</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RS</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_RequestBriefChoice</name>
        <choiceText>Request Brief</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RB</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_SubmitChoice</name>
        <choiceText>Submit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_SubmitwhatIvecompletedforapproval</name>
        <choiceText>Submit what I&apos;ve completed for approval</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SA</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_VendorDetailsChoice</name>
        <choiceText>Vendor Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VD</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_VendorMatchChocie</name>
        <choiceText>Vendor Match</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VM</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_VendorNotListed</name>
        <choiceText>My Vendor Isn&apos;t Listed</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>VPM_YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <description>VPM - Status Values stored in Constants</description>
        <name>Draft</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Draft Request</stringValue>
        </value>
    </constants>
    <constants>
        <description>Recortype Name - Vendor Request (Create)
Developer Name - VPM_VendorReqCreate</description>
        <name>VPM_CreateWordConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>VPM_VendorReqCreate</stringValue>
        </value>
    </constants>
    <constants>
        <description>Recortype Name - Vendor Request (Extend)
Developer Name - VPM_VendorReqExtend</description>
        <name>VPM_ExtendWordConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>VPM_VendorReqExtend</stringValue>
        </value>
    </constants>
    <constants>
        <description>Recortype Name - Vendor Request (Maintain)
Developer Name - VPM_VendorReqMaintain</description>
        <name>VPM_MaintainWordConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>VPM_VendorReqMaintain</stringValue>
        </value>
    </constants>
    <constants>
        <description>Recortype Name - Vendor Request
Developer Name - VPM_VendorReq</description>
        <name>VPM_VendorReqGeneralRecordTypeConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>VPM_VendorReq</stringValue>
        </value>
    </constants>
    <constants>
        <name>WaitTime</name>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </constants>
    <decisions>
        <name>VPM_CreateExtend</name>
        <label>CreateExtend</label>
        <locationX>697</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>VPM_VendorNotFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_MatchedVendorID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_sendResendWebformSubflow</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>Maintain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckMaintainExtendFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_IsVendorFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_MaintainLaunchScreenFlow</targetReference>
            </connector>
            <label>Maintain</label>
        </rules>
        <rules>
            <name>VPM_ExtendDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckMaintainExtendFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_IsVendorFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_CompanyCodeVarOutput</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_ExtendLaunchScreenFlow</targetReference>
            </connector>
            <label>Extend</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_GoldenDataScreen</name>
        <label>VPM Golden Data Screen</label>
        <locationX>491</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>VPM_AdvancedFormCompleted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_CreateGoldenData</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_RedirecttoLaunchVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_Golden_Data_Screen</targetReference>
            </connector>
            <label>Create Golden Data</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_IsFinanceProcurementDecision</name>
        <label>IsFinance&amp; ProcurementDecision</label>
        <locationX>237</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <targetReference>VPM_UpdateCreateVendorrecordApproval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_IsFinanceProcurementOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_IsFinanceRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_IsProcurementRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_GoldenDataScreen</targetReference>
            </connector>
            <label>IsFinance ProcurementOutcome</label>
        </rules>
        <rules>
            <name>VPM_StatusMDMOpsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_StatuscheckVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MDM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_GoldenDataScreen</targetReference>
            </connector>
            <label>VPM StatusMDMOps Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_IsinApprovalProcess</name>
        <label>Is in Approval Process</label>
        <locationX>304</locationX>
        <locationY>1075</locationY>
        <defaultConnector>
            <targetReference>VPM_islockWarningMessgae</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Already in Approval Process</defaultConnectorLabel>
        <rules>
            <name>VPM_ReworkOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_StatusVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Re-Work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_IsLockVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReworkWarningMessage</targetReference>
            </connector>
            <label>Rework Outcome</label>
        </rules>
        <rules>
            <name>VPM_RecordUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_IsLockVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_FinalPurchasingRequestRecord</targetReference>
            </connector>
            <label>VPM_RecordUpdate</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_IsItForSubmitOrExitDecision</name>
        <label>Is It For Submit Or Exit Decision</label>
        <locationX>38</locationX>
        <locationY>741</locationY>
        <defaultConnector>
            <targetReference>VPM_MenuScreenDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_IsItForSubmitOrExitOutcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VPM_LaunchScreenActionVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Exit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_LaunchScreenActionVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Submit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_IsItSubmitOrExitAssignment</targetReference>
            </connector>
            <label>IsItForExitOrSubmit Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_MenuScreenDecision</name>
        <label>Menu Screen Decision</label>
        <locationX>269</locationX>
        <locationY>670</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_BackToCreateMenu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_ActionVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_RedirecttoLaunchVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_CreateLaunchScreenFlow</targetReference>
            </connector>
            <label>Back To Create Menu</label>
        </rules>
        <rules>
            <name>VPM_ExitScreenOutcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VPM_ActionVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_LaunchScreenActionVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_ExitAssignment</targetReference>
            </connector>
            <label>Exit Screen Outcome</label>
        </rules>
        <rules>
            <name>Submit_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_LaunchScreenActionVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Submit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_RedirecttoLaunchVar</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_SummaryScreen</targetReference>
            </connector>
            <label>Submit Outcome</label>
        </rules>
        <rules>
            <name>VPM_BacktoMaintainMenuOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_ActionVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_RedirecttoLaunchVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Maintain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_MaintainLaunchScreenFlow</targetReference>
            </connector>
            <label>Back to Maintain Menu Outcome</label>
        </rules>
        <rules>
            <name>VPM_BacktoExtendMenuOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_ActionVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_RedirecttoLaunchVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Extend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_ExtendLaunchScreenFlow</targetReference>
            </connector>
            <label>Back to Extend Menu Outcome</label>
        </rules>
        <rules>
            <name>VPM_GoldenDataOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_RedirecttoLaunchVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_LaunchScreenActionVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Submit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_IsinApprovalProcess</targetReference>
            </connector>
            <label>GoldenData Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_PurchasingRecordExitDecision</name>
        <label>Purchasing Record Exit Decision</label>
        <locationX>8</locationX>
        <locationY>174</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_PurchasingRecordNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PurchasingRequestID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_BusinessRequestReview</targetReference>
            </connector>
            <label>Purchasing Record Not Found</label>
        </rules>
        <rules>
            <name>VPM_PurchasingRecordFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PurchasingRequestID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_PurchasingRecordScreenDesicion</targetReference>
            </connector>
            <label>Purchasing Record  Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_PurchasingRecordScreenDesicion</name>
        <label>Purchasing Record Screen Desicion</label>
        <locationX>16</locationX>
        <locationY>317</locationY>
        <defaultConnector>
            <targetReference>VPM_BusinessRequestReview</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_RecordFoundCreateLaunchScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_RecordTypeNameFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VPM_CreateWordConstant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_CreateLaunchScreenFlow</targetReference>
            </connector>
            <label>Record Found Create Launch Screen</label>
        </rules>
        <rules>
            <name>VPM_RecordFoundMaintainLaunchScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_RecordTypeNameFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VPM_MaintainWordConstant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_MaintainLaunchScreenFlow</targetReference>
            </connector>
            <label>Record Found Maintain Launch Screen</label>
        </rules>
        <rules>
            <name>VPM_RecordFoundExtendLaunchScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_RecordTypeNameFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VPM_ExtendWordConstant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_ExtendLaunchScreenFlow</targetReference>
            </connector>
            <label>Record Found Extend Launch Screen</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_PurchasingRecordTypeClassification</name>
        <label>Purchasing Record Type Classification</label>
        <locationX>1173</locationX>
        <locationY>60</locationY>
        <defaultConnector>
            <targetReference>VPM_RecordTypeChoiceLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_VendorCreateRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PurchasingRequestRecordTypeChoice.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>VPM_CreateWordConstant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_AssignCreateRecordTypeIdVariable</targetReference>
            </connector>
            <label>Vendor Create Record Type</label>
        </rules>
        <rules>
            <name>VPM_VendorMaintainRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PurchasingRequestRecordTypeChoice.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>VPM_MaintainWordConstant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_AssignMaintainRecordTypeIdVariable</targetReference>
            </connector>
            <label>Vendor Maintain Record Type</label>
        </rules>
        <rules>
            <name>VPM_VendorExtendRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PurchasingRequestRecordTypeChoice.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>VPM_ExtendWordConstant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_AssignExtendRecordTypeIdVariable</targetReference>
            </connector>
            <label>Vendor Extend Record Type</label>
        </rules>
        <rules>
            <name>VPM_VendorGeneralRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PurchasingRequestRecordTypeChoice.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>VPM_VendorReqGeneralRecordTypeConstant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_AssignVendorReqGeneralRecordTypeIdVariable</targetReference>
            </connector>
            <label>Vendor General Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>VPM_Submission</name>
        <label>Submission</label>
        <locationX>485</locationX>
        <locationY>711</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_SubmitforApprovalOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_BeforeSubmit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_IsinApprovalProcess</targetReference>
            </connector>
            <label>Submit for Approval Outcome</label>
        </rules>
        <rules>
            <name>VPM_MakeChangesCreateOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_BeforeSubmit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_RedirecttoLaunchVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_CreateLaunchScreenFlow</targetReference>
            </connector>
            <label>Make Changes Create  Outcome</label>
        </rules>
        <rules>
            <name>VPM_MakeChangesMaintainOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_RedirecttoLaunchVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Maintain</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_BeforeSubmit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_MaintainLaunchScreenFlow</targetReference>
            </connector>
            <label>Make Changes Maintain Outcome</label>
        </rules>
        <rules>
            <name>VPM_MakeChangesExtendOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_BeforeSubmit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_RedirecttoLaunchVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Extend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_ExtendLaunchScreenFlow</targetReference>
            </connector>
            <label>Make Changes Extend Outcome</label>
        </rules>
    </decisions>
    <description>The Advanced Form used to complete additional information either by the Business Requestor or FLS team</description>
    <dynamicChoiceSets>
        <name>VPM_ExistingVendorMatch</name>
        <dataType>String</dataType>
        <displayField>VPM_FullDetails__c</displayField>
        <filters>
            <field>VPM_TaxDetails__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>VPM_SearchTaxCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>mdm_Name1__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>VPM_SearchVendorName</elementReference>
            </value>
        </filters>
        <filters>
            <field>mdm_Postcode__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>VPM_SearchZIPPostcode</elementReference>
            </value>
        </filters>
        <filters>
            <field>mdm_Street__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>VPM_SearchStreet1</elementReference>
            </value>
        </filters>
        <object>mdm_Vendors__c</object>
        <outputAssignments>
            <assignToReference>VPM_MatchedVendorID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_FullVendorDetails</assignToReference>
            <field>VPM_FullDetails__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Vendors.mdm_City__c</assignToReference>
            <field>mdm_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Vendors.mdm_Code__c</assignToReference>
            <field>mdm_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Vendors.mdm_ECC__c</assignToReference>
            <field>mdm_ECC__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Vendors.mdm_Name1__c</assignToReference>
            <field>mdm_Name1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Vendors.mdm_Postcode__c</assignToReference>
            <field>mdm_Postcode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Vendors.mdm_Street__c</assignToReference>
            <field>mdm_Street__c</field>
        </outputAssignments>
        <sortField>mdm_Name1__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VPMMDMCountry</name>
        <dataType>String</dataType>
        <displayField>Country_Name__c</displayField>
        <limit>200</limit>
        <object>VPM_MDMCountry__c</object>
        <sortField>Country_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Country_Name__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>CheckMaintainExtendFormula</name>
        <dataType>Boolean</dataType>
        <expression>AND
(
if({!VPM_CompanyCodeVar}=={!VPM_CompanyCodeVarOutput},true,false),
({!VPM_CompanyCodeVarOutput}!=&apos;&apos;)
)</expression>
    </formulas>
    <formulas>
        <description>VPM - Setting Finance Approval Required to true if Finance Details are entered.</description>
        <name>VPM_IsFinanceRequired</name>
        <dataType>Boolean</dataType>
        <expression>OR(LEN(TRIM({!VPM_LocationVar}))&gt;0, LEN(TRIM( {!VPM_CityVar} ))&gt;0)</expression>
    </formulas>
    <formulas>
        <name>VPM_IsProcurementRequired</name>
        <dataType>Boolean</dataType>
        <expression>OR(LEN(TRIM({!VPM_CommodityNameVar}))&gt;0, LEN(TRIM( {!VPM_OrderingEmailAddressVar} ))&gt;0)</expression>
    </formulas>
    <formulas>
        <description>VPM - Used to Get the Status Values of the record</description>
        <name>VPM_Picklits_Status_Text</name>
        <dataType>String</dataType>
        <expression>{!VPM_StatusVar}</expression>
    </formulas>
    <formulas>
        <description>This formula field will help us to determine , the purchasing record exist is of which recordType</description>
        <name>VPM_RecordTypeNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBlank({!VPM_PurchasingRequest.RecordTypeId})),
CASE({!VPM_PurchasingRequest.RecordTypeId},
{!VPM_VendorCreateRecordTypeID}, VPM_CreateWordConstant,
{!VPM_VendorMaintainRecordTypeID},VPM_MaintainWordConstant,
{!VPM_VendorExtendRecordTypeID}, VPM_ExtendWordConstant,&apos;CASE&apos;), &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>VPM_ScreenNotVisited</name>
        <dataType>String</dataType>
        <expression>IF({!VPM_RequestBriefScreenVar}==&apos;&apos;,&apos;Request Brief&lt;br/&gt;&apos;,&apos;&apos;)+IF({!VPM_BankDetailsScreenVar}==&apos;&apos;,&apos;Bank Details&lt;br/&gt;&apos;,&apos;&apos;)+IF({!VPM_PaymentTermScreenVar}==&apos;&apos;,&apos;Payment Terms&lt;br/&gt;&apos;,&apos;&apos;)+IF({!VPM_VendorDetailsScreenVar}==&apos;&apos;,&apos;Vendor Details&lt;br/&gt;&apos;,&apos;&apos;)+IF({!VPM_FinanciallySenitiveFieldsScreenVar}==&apos;&apos;,&apos;Financially Senitive Fields&lt;br/&gt;&apos;,&apos;&apos;)+IF({!VPM_RegionalSpecificFieldScreenVar}==&apos;&apos;,&apos;Regional Specific Fields&lt;br/&gt;&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>VPM_ScreenVisited</name>
        <dataType>String</dataType>
        <expression>IF({!VPM_RequestBriefScreenVar}==&apos;&apos;,&apos;&apos;,&apos;Request Brief&lt;br/&gt;&apos;)+IF({!VPM_BankDetailsScreenVar}==&apos;&apos;,&apos;&apos;,&apos;Bank Details&lt;br/&gt;&apos;)+IF({!VPM_PaymentTermScreenVar}==&apos;&apos;,&apos;&apos;,&apos;Payment Terms&lt;br/&gt;&apos;)+IF({!VPM_VendorDetailsScreenVar}==&apos;&apos;,&apos;&apos;,&apos;Vendor Details&lt;br/&gt;&apos;)+IF({!VPM_FinanciallySenitiveFieldsScreenVar}==&apos;&apos;,&apos;&apos;,&apos;Financially Senitive Fields&lt;br/&gt;&apos;)+IF({!VPM_RegionalSpecificFieldScreenVar}==&apos;&apos;,&apos;&apos;,&apos;Regional Specific Fields&lt;br/&gt;&apos;)</expression>
    </formulas>
    <formulas>
        <description>VPM -  formula field show status value  of Purchasing object otherwise as Draft Request</description>
        <name>VPMStatusFormula</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBlank({!VPM_Picklits_Status_Text})), {!VPM_Picklits_Status_Text}, &apos;Draft Request&apos;)</expression>
    </formulas>
    <interviewLabel>Purchasing Request Advance Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Purchasing Request Advance Form</label>
    <loops>
        <name>VPM_RecordTypeChoiceLoop</name>
        <label>Record Type Choice Loop</label>
        <locationX>522</locationX>
        <locationY>39</locationY>
        <assignNextValueToReference>VPM_PurchasingRequestRecordTypeChoice</assignNextValueToReference>
        <collectionReference>VPM_PurchasingRequestRecordTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>VPM_PurchasingRecordTypeClassification</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>VPM_PurchasingRecordExitDecision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>VPM_CompanyCodeLookUp</name>
        <label>VPM_CompanyCodeLookUp</label>
        <locationX>155</locationX>
        <locationY>31</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VPM_Purchasing_Request_Record_Types</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequest.VPM_CompanyCode__c</elementReference>
            </value>
        </filters>
        <object>VPM_CompanyCode__c</object>
        <outputAssignments>
            <assignToReference>VPM_CompanyCodeVar</assignToReference>
            <field>VPM_CompanyCode__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>VPM_FinalPurchasingRequestRecord</name>
        <label>Final PurchasingRequest Record</label>
        <locationX>243</locationX>
        <locationY>1349</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VPM_IsFinanceProcurementDecision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </filters>
        <object>VPM_PurchasingRequests__c</object>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequestID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequest.RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_CityVar</assignToReference>
            <field>VPM_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_LocationVar</assignToReference>
            <field>VPM_Location__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_OrderingEmailAddressVar</assignToReference>
            <field>VPM_OrderingEmailAddress__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_StatuscheckVar</assignToReference>
            <field>VPM_Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>VPM_Purchasing_Request_Record_Types</name>
        <label>Purchasing Request Record Types</label>
        <locationX>309</locationX>
        <locationY>36</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VPM_RecordTypeChoiceLoop</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VPM_PurchasingRequests__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>VPM_PurchasingRequestRecordTypes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SobjectType</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>VPM_PurchasingRequestRecord</name>
        <label>PurchasingRequestRecord</label>
        <locationX>16</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VPM_CompanyCodeLookUp</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </filters>
        <object>VPM_PurchasingRequests__c</object>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequestID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ReconciliationAccountVAR</assignToReference>
            <field>Reconciliation_Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequest.RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ABCIndicatorVar</assignToReference>
            <field>VPM_ABCIndicator__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_AccNumOfAlternativePayeeVar</assignToReference>
            <field>VPM_AccNumOfAlternativePayee__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_AccountClerkTelephoneNumberVar</assignToReference>
            <field>VPM_AccountClerkTelephoneNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_AccountHolderNameVar</assignToReference>
            <field>VPM_AccountHolderName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_AccountingClerk</assignToReference>
            <field>VPM_AccountingClerk__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_AchillesRegistrationCodeVar</assignToReference>
            <field>VPM_AchillesRegistrationCode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_AlternateVendorNumVar</assignToReference>
            <field>VPM_AlternateVendorNum__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_AlternativePayeeVar</assignToReference>
            <field>VPM_AlternativePayee__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequest.VPM_BankAccountNumber__c</assignToReference>
            <field>VPM_BankAccountNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_BankControlKeyVar</assignToReference>
            <field>VPM_BankControlKey__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_BankCountryKeyVar</assignToReference>
            <field>VPM_BankCountryKey__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_BankKeyVar</assignToReference>
            <field>VPM_BankKey__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_BankNameVar</assignToReference>
            <field>VPM_BankName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_BlockFunctionVar</assignToReference>
            <field>VPM_BlockFunction__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_CentralDeletionFlagVar</assignToReference>
            <field>VPM_CentralDeletionFlag__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_CentralPostingBlockVar</assignToReference>
            <field>VPM_CentralPostingBlock__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_CentralPurchasingBlockVar</assignToReference>
            <field>VPM_CentralPurchasingBlock__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_CheckDigitVar</assignToReference>
            <field>VPM_CheckDigit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_CityVar</assignToReference>
            <field>VPM_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ClerksInternetVar</assignToReference>
            <field>VPM_ClerksInternet__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_CommentsVar</assignToReference>
            <field>VPM_Comments__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RapidComments</assignToReference>
            <field>VPM_Comments__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequest.VPM_CompanyCode__c</assignToReference>
            <field>VPM_CompanyCode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_CompanyPostCode</assignToReference>
            <field>VPM_CompanyPostCode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ConfirmationControlVar</assignToReference>
            <field>VPM_ConfirmationControl__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ContactPersonSurnameVar</assignToReference>
            <field>VPM_ContactPersonSurname__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ContactPersonVar</assignToReference>
            <field>VPM_ContactPerson__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_CorporateGrpVar</assignToReference>
            <field>VPM_CorporateGrp__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_CountryVar</assignToReference>
            <field>VPM_Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RapidPurchasingCountry</assignToReference>
            <field>VPM_Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RapidPurchasingCountry</assignToReference>
            <field>VPM_Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_CreditInfoNumberVar</assignToReference>
            <field>VPM_CreditInfoNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_CustomerVar</assignToReference>
            <field>VPM_Customer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_DMEIndicatorVar</assignToReference>
            <field>VPM_DMEIndicator__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_DataLineVar</assignToReference>
            <field>VPM_DataLine__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_DetailsTypeCheckVar</assignToReference>
            <field>VPM_DetailsTypeCheck__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_DistrictVar</assignToReference>
            <field>VPM_District__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_DunnProcedureVar</assignToReference>
            <field>VPM_DunnProcedure__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_EqualisationTaxVar</assignToReference>
            <field>VPM_EqualisationTax__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ExtManufacturerVar</assignToReference>
            <field>VPM_ExtManufacturer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Extension2Var</assignToReference>
            <field>VPM_Extension2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Extension3Var</assignToReference>
            <field>VPM_Extension3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ExtensionPhoneVar</assignToReference>
            <field>VPM_ExtensionPhone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ExternalMFGVar</assignToReference>
            <field>VPM_ExternalMFG__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_FaxExtensionVar</assignToReference>
            <field>VPM_FaxExtension__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_FaxVar</assignToReference>
            <field>VPM_Fax__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_GroupingKeyVar</assignToReference>
            <field>VPM_GroupingKey__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_HouseBankVar</assignToReference>
            <field>VPM_HouseBank__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_HouseNumSupplementVar</assignToReference>
            <field>VPM_HouseNumSupplement__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_HouseNumberVar</assignToReference>
            <field>VPM_HouseNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_IBANVar</assignToReference>
            <field>VPM_IBAN__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ISRNumberVar</assignToReference>
            <field>VPM_ISRNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Incoterms1Var</assignToReference>
            <field>VPM_Incoterms1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Incoterms2Var</assignToReference>
            <field>VPM_Incoterms2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_IndustryVar</assignToReference>
            <field>VPM_Industry__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_IntLocationNumber1Var</assignToReference>
            <field>VPM_IntLocationNumber1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_IntLocationNumber2Var</assignToReference>
            <field>VPM_IntLocationNumber2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_IsLockVar</assignToReference>
            <field>VPM_IsLock__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_LocationVar</assignToReference>
            <field>VPM_Location__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_OrderingEmailAddressVar</assignToReference>
            <field>VPM_OrderingEmailAddress__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_StatusVar</assignToReference>
            <field>VPM_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RapidVendorStreet</assignToReference>
            <field>VPM_Street1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_VendorContactDetailVar</assignToReference>
            <field>VPM_VendorContactDetail__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RapidVendorName</assignToReference>
            <field>VPM_VendorName1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequest.VPM_VendorPhone__c</assignToReference>
            <field>VPM_VendorPhone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RapidWhatAreYouBuying</assignToReference>
            <field>VPM_WhatAreYouBuying__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RapidZIPPostcode</assignToReference>
            <field>VPM_ZIPPostcode__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>VPM_UpdateCreateVendorrecordApproval</name>
        <label>UpdateCreateVendorrecordApproval</label>
        <locationX>97</locationX>
        <locationY>1720</locationY>
        <connector>
            <targetReference>VPM_GoldenDataScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VPM_AdvancedFormSubmitted__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_FinanceApprovalRequired__c</field>
            <value>
                <elementReference>VPM_IsFinanceRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_ProcurementApprovalRequired__c</field>
            <value>
                <elementReference>VPM_IsProcurementRequired</elementReference>
            </value>
        </inputAssignments>
        <object>VPM_PurchasingRequests__c</object>
    </recordUpdates>
    <screens>
        <name>ReworkWarningMessage</name>
        <label>Rework Warning Message</label>
        <locationX>43</locationX>
        <locationY>1299</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VPM_CreateReworkInfo</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This request is in an approval process. Please click the &lt;B&gt;&amp;apos;Recall&amp;apos;&lt;/B&gt; button on the approval related list below first&amp;apos;.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>VPM_AdvancedFormCompleted</name>
        <label>Advanced Form Completed</label>
        <locationX>780</locationX>
        <locationY>1640</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VPM_ThankyouMessage</name>
            <fieldText>Thank you for completing this Advanced form. The request has been automatically routed to the approval team/s.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>VPM_BusinessRequestReview</name>
        <label>Business Request Review</label>
        <locationX>443</locationX>
        <locationY>116</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_VendorMatching</targetReference>
        </connector>
        <fields>
            <name>VPM_VendorSearchInstr</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Below is a summary of the information entered by the Business Requestor. You can amend some of the information (e.g. a spelling mistake) before searching in SAP on the next screen.&lt;I&gt; &lt;/I&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;Vendor Name: &lt;/I&gt;{!VPM_RapidVendorName}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;What they want to buy:  {!VPM_RapidWhatAreYouBuying}&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;Purchasing Country:&lt;/I&gt; {!VPM_RapidPurchasingCountry}&lt;I&gt; &lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;Comments: {!VPM_RapidComments}&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_SearchVendorName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidVendorName</elementReference>
            </defaultValue>
            <fieldText>Vendor Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VPM_SearchStreet1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidVendorStreet</elementReference>
            </defaultValue>
            <fieldText>Street 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_SearchZIPPostcode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_RapidZIPPostcode</elementReference>
            </defaultValue>
            <fieldText>ZIP/Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_SearchTaxCode</name>
            <dataType>String</dataType>
            <fieldText>Tax Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_MDM_Country</name>
            <choiceReferences>VPMMDMCountry</choiceReferences>
            <choiceReferences>VPM_CountryFromRapidForm</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>VPM_CountryFromRapidForm</defaultSelectedChoiceReference>
            <fieldText>VPM MDM Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>VPM_Golden_Data_Screen</name>
        <label>Golden Data Screen</label>
        <locationX>476</locationX>
        <locationY>1692</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Screen1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please now complete the golden data fields&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>VPM_islockWarningMessgae</name>
        <label>islock Warning Messgae</label>
        <locationX>510</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VPM_ErrorMessagesInfo</name>
            <fieldText>Approval Already in process</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>VPM_SaveAndExitScreen</name>
        <label>Save And Exit Screen</label>
        <locationX>40</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SaveAndExitFinishInfo</name>
            <fieldText>By clicking Finish . You will move out of the flow</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>VPM_SummaryScreen</name>
        <label>Summary Screen</label>
        <locationX>543</locationX>
        <locationY>1206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_Submission</targetReference>
        </connector>
        <fields>
            <name>VPM_VisitedSections</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;You have added information to the following Sections:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!VPM_ScreenVisited}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_UnvisitedSections</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;You have not edited information in the following Sections:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;     {!VPM_ScreenNotVisited}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_BeforeSubmit</name>
            <choiceReferences>VPM_SubmitwhatIvecompletedforapproval</choiceReferences>
            <choiceReferences>VPM_Makechanges</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select your choice then click next :</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>VPM_VendorMatching</name>
        <label>Vendor Matching</label>
        <locationX>446</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_FetchVendordetailsWebserviceCall</targetReference>
        </connector>
        <fields>
            <name>VPM_VendMatchInstructions</name>
            <fieldText>If the search criteria found a match, select the Vendor you wish to work on. Otherwise select &apos;Vendor not on this List&apos;. Click Next when you&apos;re ready.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_SelectExistingVendor</name>
            <choiceReferences>VPM_ExistingVendorMatch</choiceReferences>
            <choiceReferences>VPM_VendorNotListed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vendor in MDM</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>VPM_VendorNotFound</name>
        <label>VendorNotFound</label>
        <locationX>1034</locationX>
        <locationY>417</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VendorNotFound</name>
            <fieldText>Vendor Not found.
Kindly check Vendor code / ECC entry is correct or not.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>VPM_PurchasingRequestRecord</startElementReference>
    <subflows>
        <name>VPM_CheckAdvancedBRScreen</name>
        <label>CheckAdvancedBRScreen</label>
        <locationX>622</locationX>
        <locationY>205</locationY>
        <connector>
            <targetReference>VPM_UpdateAssignment</targetReference>
        </connector>
        <flowName>VPM_CheckAdvancedBusinessRequestorFlow</flowName>
        <inputAssignments>
            <name>VPM_PurchasingRequestID</name>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_MDM_CountryVar</name>
            <value>
                <elementReference>VPM_MDM_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_SearchStreet1Var</name>
            <value>
                <elementReference>VPM_SearchStreet1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_SearchVendorNameVar</name>
            <value>
                <elementReference>VPM_SearchVendorName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_SearchZIPPostcodeVar</name>
            <value>
                <elementReference>VPM_SearchZIPPostcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_VendorRequestGeneralRecortypeID</name>
            <value>
                <elementReference>VPM_VendorReqGeneralRecordTypeConstant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_RapidZIPPostcodeVar</name>
            <value>
                <elementReference>VPM_RapidZIPPostcode</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequestID</assignToReference>
            <name>VPM_PurchasingRequestID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_VendorRequestGeneralRecortypeID</assignToReference>
            <name>VPM_VendorRequestGeneralRecortypeID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>VPM_CreateLaunchScreenFlow</name>
        <label>Create Launch Screen Flow</label>
        <locationX>64</locationX>
        <locationY>466</locationY>
        <connector>
            <targetReference>VPM_CreateLaunchAssignment</targetReference>
        </connector>
        <flowName>VPM_CreateLaunchScreen</flowName>
        <inputAssignments>
            <name>VPM_PurchasingRequestID</name>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_ActionVar</name>
            <value>
                <elementReference>VPM_ActionVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_LaunchScreenActionVar</name>
            <value>
                <elementReference>VPM_LaunchScreenActionVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_BankDetailsScreenVar</name>
            <value>
                <elementReference>VPM_BankDetailsScreenVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_VendorDetailsScreenVar</name>
            <value>
                <elementReference>VPM_VendorDetailsScreenVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_FinanciallySensitiveFieldScreenVar</name>
            <value>
                <elementReference>VPM_FinanciallySenitiveFieldsScreenVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_RegionalSpecificFieldScreenVar</name>
            <value>
                <elementReference>VPM_RegionalSpecificFieldScreenVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_VendorCreateRecordTypeID</name>
            <value>
                <elementReference>VPM_VendorCreateRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPMStatusFormulaVar</name>
            <value>
                <elementReference>VPMStatusFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_PaymentTermsScreenVar</name>
            <value>
                <elementReference>VPM_PaymentTermScreenVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_RequestBriefScreenVar</name>
            <value>
                <elementReference>VPM_RequestBriefScreenVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequestID</assignToReference>
            <name>VPM_PurchasingRequestID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ActionVar</assignToReference>
            <name>VPM_ActionVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_LaunchScreenActionVar</assignToReference>
            <name>VPM_LaunchScreenActionVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_BankDetailsScreenVar</assignToReference>
            <name>VPM_BankDetailsScreenVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_VendorDetailsScreenVar</assignToReference>
            <name>VPM_VendorDetailsScreenVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_FinanciallySenitiveFieldsScreenVar</assignToReference>
            <name>VPM_FinanciallySensitiveFieldScreenVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RegionalSpecificFieldScreenVar</assignToReference>
            <name>VPM_RegionalSpecificFieldScreenVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PaymentTermScreenVar</assignToReference>
            <name>VPM_PaymentTermsScreenVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RequestBriefScreenVar</assignToReference>
            <name>VPM_RequestBriefScreenVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>VPM_ExtendLaunchScreenFlow</name>
        <label>Extend Launch Screen Flow</label>
        <locationX>1122</locationX>
        <locationY>799</locationY>
        <flowName>VPM_PurchasingRequestsExtendLaunchScreen</flowName>
        <inputAssignments>
            <name>VPM_PurchasingRequestID</name>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_VendorExtendRecordTypeID</name>
            <value>
                <elementReference>VPM_VendorExtendRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_StatusFormulaVar</name>
            <value>
                <elementReference>VPMStatusFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_BankDetailsScreenVar</name>
            <value>
                <elementReference>VPM_BankDetailsScreenVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_FinanciallySensitiveFieldScreenVar</name>
            <value>
                <elementReference>VPM_FinanciallySenitiveFieldsScreenVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_PaymentTermsScreenVar</name>
            <value>
                <elementReference>VPM_PaymentTermScreenVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_RegionalSpecificFieldScreenVar</name>
            <value>
                <elementReference>VPM_RegionalSpecificFieldScreenVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_RequestBriefScreenVar</name>
            <value>
                <elementReference>VPM_RequestBriefScreenVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_VendorDetailsScreenVar</name>
            <value>
                <elementReference>VPM_VendorDetailsScreenVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ActionVar</assignToReference>
            <name>VPM_ActionVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_LaunchScreenActionVar</assignToReference>
            <name>VPM_LaunchScreenActionVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_BankDetailsScreenVar</assignToReference>
            <name>VPM_BankDetailsScreenVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_FinanciallySenitiveFieldsScreenVar</assignToReference>
            <name>VPM_FinanciallySensitiveFieldScreenVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RequestBriefScreenVar</assignToReference>
            <name>VPM_RequestBriefScreenVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PaymentTermScreenVar</assignToReference>
            <name>VPM_PaymentTermsScreenVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RegionalSpecificFieldScreenVar</assignToReference>
            <name>VPM_RegionalSpecificFieldScreenVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_VendorDetailsScreenVar</assignToReference>
            <name>VPM_VendorDetailsScreenVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>VPM_FetchVendordetailsWebserviceCall</name>
        <label>VPM_FetchVendordetailsWebserviceCall</label>
        <locationX>445</locationX>
        <locationY>297</locationY>
        <connector>
            <targetReference>VPM_MaintainVariableAssignment_0</targetReference>
        </connector>
        <flowName>VPM_Fetch_Vendor_Details_Service_Call_Flow</flowName>
        <inputAssignments>
            <name>VPM_CompanyCodeVar</name>
            <value>
                <elementReference>VPM_CompanyCodeVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_ECCVar</name>
            <value>
                <elementReference>VPM_Vendors.mdm_ECC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_VendorCodeVar</name>
            <value>
                <elementReference>VPM_Vendors.mdm_Code__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VPM_IsBlocked</assignToReference>
            <name>VPM_IsBlocked</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_IsDeleted</assignToReference>
            <name>VPM_IsDeletedVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_CompanyCodeVarOutput</assignToReference>
            <name>VPM_CompanyCodeVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ECCOutputVar</assignToReference>
            <name>VPM_ECCVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_IsVendorFound</assignToReference>
            <name>VPM_IsVendorFoundVar</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>VPM_MaintainLaunchScreenFlow</name>
        <label>Maintain Launch Screen Flow</label>
        <locationX>877</locationX>
        <locationY>1293</locationY>
        <connector>
            <targetReference>VPM_MaintainAssignment</targetReference>
        </connector>
        <flowName>VPM_PurchasingRequestsMaintainLaunchScreen</flowName>
        <inputAssignments>
            <name>VPM_PurchasingRequestID</name>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_VendorMaintainRecordTypeID</name>
            <value>
                <elementReference>VPM_VendorMaintainRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_StatusFormulaVar</name>
            <value>
                <elementReference>VPMStatusFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_VendorMdmECC</name>
            <value>
                <elementReference>VPM_Vendors.mdm_ECC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_VendorMdmCode</name>
            <value>
                <elementReference>VPM_Vendors.mdm_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_CompanyCode</name>
            <value>
                <elementReference>CompanyCodeDefVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_IsBlocked</name>
            <value>
                <elementReference>isBlockedDefVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_IsDeleted</name>
            <value>
                <elementReference>isDeletedDefVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_IsVendorFound</name>
            <value>
                <elementReference>IsvendorFoundDefVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_IsLockVar</name>
            <value>
                <elementReference>VPM_IsLockVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VPM_StatusVar</name>
            <value>
                <elementReference>VPM_StatusVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ActionVar</assignToReference>
            <name>VPM_ActionVAR</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_VendorMaintainRecordTypeID</assignToReference>
            <name>VPM_VendorMaintainRecordTypeID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RequestBriefScreenVar</assignToReference>
            <name>VPM_RequestBriefVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_BankDetailsScreenVar</assignToReference>
            <name>VPM_BankDetailsScreenVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_FinanciallySenitiveFieldsScreenVar</assignToReference>
            <name>VPM_FinanciallySensitiveFieldScreenVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RegionalSpecificFieldScreenVar</assignToReference>
            <name>VPM_RegionalSpecificFieldScreenVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PaymentTermScreenVar</assignToReference>
            <name>VPM_PaymentTermsScreenVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_VendorDetailsScreenVar</assignToReference>
            <name>VPM_VendordetialsScreenVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_LaunchScreenActionVar</assignToReference>
            <name>VPM_LaunchScreenActionVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_IsBlocked</assignToReference>
            <name>VPM_IsBlocked</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_IsDeleted</assignToReference>
            <name>VPM_IsDeleted</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_IsVendorFound</assignToReference>
            <name>VPM_IsVendorFound</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>VPM_sendResendWebformSubflow</name>
        <label>send Resend Webform Subflow</label>
        <locationX>421</locationX>
        <locationY>415</locationY>
        <connector>
            <targetReference>VPM_CreateLaunchScreenFlow</targetReference>
        </connector>
        <flowName>VPM_SendRendWebformRequest</flowName>
        <inputAssignments>
            <name>VPM_PurchasingRequestID</name>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequestID</assignToReference>
            <name>VPM_PurchasingRequestID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_ActionVar</assignToReference>
            <name>VPM_ActionVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_LaunchScreenActionVar</assignToReference>
            <name>VPM_LaunchScreenActionVar</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CompanyCodeDefVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>VPM_CompanyCodeVarOutput</elementReference>
        </value>
    </variables>
    <variables>
        <name>isBlockedDefVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>VPM_IsBlocked</elementReference>
        </value>
    </variables>
    <variables>
        <name>isDeletedDefVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>VPM_IsDeleted</elementReference>
        </value>
    </variables>
    <variables>
        <name>IsvendorFoundDefVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>VPM_IsVendorFound</elementReference>
        </value>
    </variables>
    <variables>
        <name>UpdateVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ABCIndicatorVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_AccNumOfAlternativePayeeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_AccountClerkTelephoneNumberVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_AccountHolderNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_AccountHolderSAPVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_AccountingClerk</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_AchillesRegistrationCodeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ActionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_AlternateVendorNumVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_AlternativePayeeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_AnnualEstimatedSpendVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_BankControlKeyVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_BankCountryKeyVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_BankDetailsScreenVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_BankKeyVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_BankNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_BlockFunctionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CentralDeletionFlagVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CentralPostingBlockVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CentralPurchasingBlockVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CheckDigitVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CityVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ClerksInternetVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CommentsVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CommodityNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CompanyCodeSAP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CompanyCodeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CompanyCodeVarOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CompanyPostCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ConfirmationControlVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ContactPersonSurnameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ContactPersonVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CorporateGrpVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CountryVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CreditInfoNumberVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CustomerVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_DataLineVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_DetailsTypeCheckVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_DistrictVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_DMEIndicatorVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_DunnProcedureVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ECCOutputVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_EqualisationTaxVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_Extension2Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_Extension3Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ExtensionPhoneVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ExternalMFGVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ExtManufacturerVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_FaxExtensionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_FaxVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_FinanciallySenitiveFieldsScreenVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_FullVendorDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_GroupingKeyVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_HouseBankVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_HouseNumberVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_HouseNumSupplementVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_IBANVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_Incoterms1Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_Incoterms2Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_IndustryVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_IntLocationNumber1Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_IntLocationNumber2Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_IsBlocked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_IsDeleted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_IsLockVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ISRNumberVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_IsVendorFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_LaunchScreenActionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_LocationVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_MatchedVendorID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_OrderingEmailAddressVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_PaymentTermScreenVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_PurchasingRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>VPM_PurchasingRequests__c</objectType>
    </variables>
    <variables>
        <description>Stores the ID of the Purchasing Request record the flow was initiated from</description>
        <name>VPM_PurchasingRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_PurchasingRequestInitialRecordTypeData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>VPM_PurchasingRequests__c</objectType>
    </variables>
    <variables>
        <name>VPM_PurchasingRequestInitialRecordTypeData1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VPM_PurchasingRequests__c</objectType>
    </variables>
    <variables>
        <name>VPM_PurchasingRequestInitialRecordTypeDataNew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>VPM_PurchasingRequestInitialRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_PurchasingRequestRecordTypeChoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>VPM - sVariable collection of all Purchasing Request Record Types</description>
        <name>VPM_PurchasingRequestRecordTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>VPM - Stores the &apos;Comments &apos; value entered by the Business Requestor on the Rapid form</description>
        <name>VPM_RapidComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the Purchasing Country entered by the Business Requestor on the Rapid form</description>
        <name>VPM_RapidPurchasingCountry</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RapidVendorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Records the street name as entered on the Rapid form</description>
        <name>VPM_RapidVendorStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>VPM - Stores the &apos;What are you Buying&apos; value entered by the Business Requestor on the Rapid form</description>
        <name>VPM_RapidWhatAreYouBuying</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RapidZIPPostcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ReconciliationAccountVAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RedirecttoLaunchVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RegionalSpecificFieldScreenVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RequestBriefScreenVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_StatuscheckVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_StatusVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorCodeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorContactDetailVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorCreateRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorCreateRecordTypeIDVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorDetailsScreenVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorExtendRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorMaintainRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_VendorRequestGeneralRecortypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>For the Vendor object for data lookup</description>
        <name>VPM_Vendors</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>mdm_Vendors__c</objectType>
    </variables>
    <variables>
        <name>VPM_VendorStatus_c</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Draft Request</stringValue>
        </value>
    </variables>
</Flow>
