src/flows/VPM_Purchasing_Request_Brief-47.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>VPM_RequestBriefAssignment</name>
        <label>Request Brief Assignment</label>
        <locationX>124</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>VPM_ActionVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPM_MenuRequestBrief</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VPM_RequestBriefScreenVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request Brief</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VPM_SubmitExtend</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>VPM_CountryDefaultValue</name>
        <choiceText>{!VPM_PurchasingRequest.VPM_Country__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>VPM_PurchasingRequest.VPM_Country__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>VPM_Exit</name>
        <choiceText>Save &amp; Exit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E</stringValue>
        </value>
    </choices>
    <choices>
        <name>VPM_Menu</name>
        <choiceText>Save</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M</stringValue>
        </value>
    </choices>
    <decisions>
        <name>VPM_SubmitExtend</name>
        <label>SubmitExtend</label>
        <locationX>134</locationX>
        <locationY>374</locationY>
        <defaultConnector>
            <targetReference>VPM_ExtendLockErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VPM_RecordUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PurchasingRequest.VPM_IsLock__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_RequestBriefRecordUpdate</targetReference>
            </connector>
            <label>VPM_RecordUpdate</label>
        </rules>
        <rules>
            <name>VPM_ExtendRework</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VPM_PurchasingRequest.VPM_Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Re-Work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VPM_PurchasingRequest.VPM_IsLock__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPM_ExtendReworkMessage</targetReference>
            </connector>
            <label>ExtendRework</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>VPM_RapidFormCountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VPM_Country__c</picklistField>
        <picklistObject>VPM_PurchasingRequests__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VPMMDMCountry</name>
        <dataType>String</dataType>
        <displayField>Country_Name__c</displayField>
        <object>VPM_MDMCountry__c</object>
        <sortField>Country_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Country_Name__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>VPM Purchasing Request Brief {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VPM Purchasing Request Brief</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>userdetails</name>
        <label>userdetails</label>
        <locationX>311</locationX>
        <locationY>25</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VPM_UserRole</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_createdbyIdvar</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>VPM_RapidContactEmailVar</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Requestor_first_nameVar</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_Requestor_last_name</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RequestorTelephoneVar</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_CreateVendorNameVar</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_RequestorRoleVar</assignToReference>
            <field>UserRoleId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>VPM_RequestBriefLookUp</name>
        <label>VPM Request Brief Look Up</label>
        <locationX>114</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>userdetails</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </filters>
        <object>VPM_PurchasingRequests__c</object>
        <outputAssignments>
            <assignToReference>VPM_createdbyIdvar</assignToReference>
            <field>CreatedById</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_CommetsVar</assignToReference>
            <field>VPM_Comments__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequest.VPM_IsLock__c</assignToReference>
            <field>VPM_IsLock__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VPM_PurchasingRequest.VPM_Status__c</assignToReference>
            <field>VPM_Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>VPM_UserRole</name>
        <label>UserRole</label>
        <locationX>460</locationX>
        <locationY>78</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VPM_RequestBriefSection</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_RequestorRoleVar</elementReference>
            </value>
        </filters>
        <object>UserRole</object>
        <outputAssignments>
            <assignToReference>VPM_Role</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>VPM_RequestBriefRecordUpdate</name>
        <label>Request Brief Record Update</label>
        <locationX>142</locationX>
        <locationY>633</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VPM_PurchasingRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VPM_RecordTypeIDVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPM_Comments__c</field>
            <value>
                <elementReference>VPM_CommetsVar</elementReference>
            </value>
        </inputAssignments>
        <object>VPM_PurchasingRequests__c</object>
    </recordUpdates>
    <screens>
        <name>VPM_ExtendLockErrorMessage</name>
        <label>ExtendLockErrorMessage</label>
        <locationX>9</locationX>
        <locationY>509</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VPM_ExtendIslockErrorMessage</name>
            <fieldText>It&apos;s already under approval process</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>VPM_ExtendReworkMessage</name>
        <label>ExtendReworkMessage</label>
        <locationX>300</locationX>
        <locationY>551</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VPM_ReworkExtendMessage</name>
            <fieldText>This request is in an approval process. Please click the &apos;Recall&apos; button on the approval related list below first&apos;.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>VPM_RequestBriefSection</name>
        <label>Request Brief Section</label>
        <locationX>129</locationX>
        <locationY>146</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPM_RequestBriefAssignment</targetReference>
        </connector>
        <fields>
            <name>VPM_ReqestBriefDisplayText</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Request Brief&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_RequestorName</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Requestor Name  &lt;/B&gt;-  {!VPM_CreateVendorNameVar}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_RequestorTelephone</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Requestor Telephone&lt;/B&gt; - {!VPM_RequestorTelephoneVar}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_CreateContactEmailAddress</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Requestor Email  - &lt;/B&gt; {!VPM_RapidContactEmailVar}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_RequestorRole</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Requestor Role &lt;/B&gt; - &lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!VPM_Role}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VPM_RapidFormComments1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VPM_CommetsVar</elementReference>
            </defaultValue>
            <fieldText>Rapid Form Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VPM_MenuRequestBrief</name>
            <choiceReferences>VPM_Menu</choiceReferences>
            <choiceReferences>VPM_Exit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>VPM_RequestBriefLookUp</startElementReference>
    <variables>
        <name>CreatedbyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_ActionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CityVAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CommetsVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_createdbyIdvar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_CreateVendorNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_PurchasingRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>VPM_PurchasingRequests__c</objectType>
    </variables>
    <variables>
        <name>VPM_PurchasingRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RapidContactEmailVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RapidPurchasingCountryVar</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RapidVendorStreetVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RapidZIPPostcodeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RecordTypeIDVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RequestBriefScreenVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_Requestor_first_nameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_Requestor_last_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RequestorRoleVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_RequestorTelephoneVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPM_Role</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
